[2013-03-06 19:57] DeepDiver1975 opened #4 "client side cache"
use browser database (indexed db)

@jancborchardt write what you want to have! ;-)

[2013-03-07 14:06] jancborchardt opened #14 "try to remove provider prefixes from folders"
Gmail for instance gives out some folder names with a [Gmail] prefix, leading to folder names such as [Gmail]/Trash and [Gmail]/All mail. Maybe it’s possible to just remove that prefix to make stuff look less technical, also less confusing because some labels are not prefixed.

[2013-03-07 15:09] jancborchardt opened #23 "account settings"
In case you want to delete your account or your password has changed, we need a small settings thing for each account.

Probably best is to use the general gearwheel in bottom left corner pattern, which slides up to expose a »Delete account« button, and maybe a field for password, display name and such (not advanced settings, and also not a field to change the address because then you would just s

[2013-03-08 09:28] jancborchardt opened #26 "EMail Backend Support"
(moving over https://github.com/owncloud/apps/issues/15 cc @DeepDiver1975)

The mail app should implement a back-end mechanism to allow future introduction of additional back-ends.
We will now start with an IMAP backend.
Future back-ends could be:
- mbox: the email folder is stored with the users data folder in the owncloud installation.
  Pro: the user data is stored where is should be: in his ow

[2013-03-08 09:30] jancborchardt opened #27 "Integrate encryption natively (openpgp.js)"
(moving https://github.com/owncloud/apps/issues/16 cc @DeepDiver1975 @sebastian-schmid)

Well the good old feature you search in almost every web mailer and hardly find anywhere. Let's see if we can make it happen. ;-)

But I don't know if the people really want to store their private key online even it's in owncloud?! I think for the beginning it would be great to see when the mail is valid or un

[2013-03-20 10:01] tanghus opened #44 "[Feature] Scam/phishing detection"
I recently noticed that my preferred MUA KMail wasn't very good for detecting if a mail was a cleverly crafted scam. [This is not the case anymore](https://bugs.kde.org/show_bug.cgi?id=307818) and it would be great if ownCloud mail could implement something similar, for example detect if an anchor has a title and it shows an url which is not the url defined in href, and give the user a warning.

<

[2013-03-23 23:22] ldidry opened #45 "Try to get connection informations from srv dns records"
Why not trying to get imap connection informations from srv record like _imaps._tcp.example.com ?
It seems to be a better way than looping on ports and usual name like "imap.example.com".

What do you think of that ?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1692411-try-to-get-connection-informations-from-srv-dns-records?utm_ca

[2013-08-07 09:17] jancborchardt opened #57 "Automatically filter mailing list messages into labels"
(This feature is probably not something for the near future, just writing it down to not forget. From discussions with @garrett & @hbons.)

Mailing lists should not come through the inbox, not even on first setup. There should automatically be a filter and label set up for each mailing list where messages come in from.

Think similar to the new Gmail inbox where they automatically filter Social, P

[2014-07-22 20:51] jancborchardt opened #79 "Ability to add event/ics attachments directly to the calendar [$40]"
When an email has an event (ics file) attached to it, you should be able to easily add it to your calendar. Instead of the »Save to files« the integration button should say »Add to Calendar«.

The question then is how to proceed:
* just add the event, and show a short confirmation? Too opaque – you need some info on what you are about to add
* redirecting to the calendar would rip you out of the f

[2014-07-23 10:20] jancborchardt opened #84 "Ability to view attachments directly / image thumbnail"
Clicking on the attachment name should allow you to directly view the attachment.
For this we could also include the viewers of other apps, for directly viewing photos, PDF or ODT.

[2014-07-24 10:21] jancborchardt opened #95 "add back »Forward« functionality"
When clicking »Forward«, it should work similar to Thunderbird but more integrated:

* [ ] a new »Recipient / cc / subject / message« block opens below
* [ ] the message is appended in the message field, and people have room to type something above
* [ ] the button says »Forward«

[2014-07-24 10:51] jancborchardt opened #99 "Disable send and reply buttons as long as message is empty"
For the new message, the send button should be disabled in the beginning. It should only be enabled as soon as:
* there is at least one recipent
* and there is at least a subject OR a message body OR an attachment (in the future)

For replies, since there’s only the message body, there should at least be the message body. In the future with advanced capabilities for replies (attachments and cc/bcc

[2014-07-30 10:01] jancborchardt opened #117 "Save messages in progress as draft"
Messages you are writing (replies as well) should be saved as drafts. This needs to happen via autosave instead of a dedicated »save« button. Every few seconds it should be saved.

If that’s too much for the mailserver, ideally save it to ownCloud like 500ms after typing is stopped. That’s how we do it in Notes I think.

[2014-07-30 10:47] jancborchardt opened #120 "Unified folders for multiple accounts"
As talked about in https://github.com/owncloud/mail/pull/106

We should have some kind of color coding, like a small vertical bar on the left of the message. This is also how we do it in the Android News app: http://david-luhmer.de/wordpress/?p=126 – and this is also how K9-Mail does it.
It requires us to add a color preference to the mail account though – which I guess we need anyway with multi-a

[2014-07-30 16:26] jancborchardt opened #123 "Sidebar entry for »Favorites« messages"
Most email clients have a way to star (or they call it »favorite«) a mail.

* [x] have an entry »Favorites« in the navigation bar, showing the starred emails from other clients
* [x] visualize starred emails in the list as well by adding a star overlay to the message, on the top right of the avatar
* [x] ability to star/unstar emails by clicking that star (which should show as grey shape on hoveri

[2014-07-30 21:36] jancborchardt opened #125 "Save state of app in URL"
Currently when you refresh, you are redirected to the inbox of the first account. Rather the location (account and message ID) should be encoded in the URL so the state will be preserved. Ideally this also makes back/forward of the browser work.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3412075-save-state-of-app-in-url?utm_camp

[2014-07-31 09:27] jancborchardt opened #126 "If attachment is signature.asc or smime.p7s, don’t show it"
Attachments like `signature.asc`, `smime.p7s` (and other technical things, if there’s more) should not be shown in the attachment list.

[2014-07-31 09:41] jancborchardt opened #129 "Use profile image from personal settings"
Similar to https://github.com/owncloud/mail/issues/128 (email prefill), messages by yourself (e.g. everything in »Sent«) should have your profile image as avatar. If nothing is set in the contacts app, that is.

That makes it a lot easier to recognize messages from yourself.

[2014-08-01 20:03] DeepDiver1975 opened #138 "Properly handle html mails with embedded attachments"
as of today we show embedded images of an html mail as attachment - but it should be displayed within the html mail

summoning @LukasReschke regarding security impacts

[2014-08-06 21:37] DeepDiver1975 opened #155 "Enhance caching"
Todo:

    don't query by sequence
    cache message body

[2014-08-06 23:29] jancborchardt opened #160 "Keyboard shortcuts"
An essential feature for any good email client are good keyboard shortcuts to be able to quickly handle email:
* [ ] switch between open emails using `j` and `k` (like the News app) as well as cursor up & down
* [x] delete current email using `Del`
* [ ] star/unstar current email using `s`
* [ ] toggle read unread `m` (as noted by @zinks-)
* [ ] focus reply field with `r`
* other shortcuts?

(Of c

[2014-08-06 23:36] jancborchardt opened #161 "Search/filter mails"
We should use the existing search field in the top bar so folks can filter their mail. The mail in the content area should be shown according to the search term as-you-type.

Everything should be taken into account: to, from, cc, subject, body, attachment names, …
We can start with the current folder and expand from there.

[2014-08-07 15:55] jancborchardt opened #170 "Error loading HTML mail should be caught earlier"
Currently when there’s an error loading the HTML mail, there will be a small embedded ownCloud window inside the message.
![image](https://cloud.githubusercontent.com/assets/925062/3844664/2f056c42-1e4b-11e4-811f-fce4fd7dcde0.png)

With this error:
[code]
We need to catch that earlier.

[2014-08-09 16:50] LukasReschke opened #189 "Cache images on the server instead of proxying"
- [ ] Deletion of the mail or the mail account should clear the cache
- [ ] Link should be a non-guessable random identifier

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3644164-cache-images-on-the-server-instead-of-proxying?utm_campaign=plugin&utm_content=tracker%2F216487&utm_medium=issues&utm_source=github)** We accept bounties

[2014-08-09 17:18] LukasReschke opened #191 "Show trust status (DKIM / SPF)"
The mail client should show the trust status of the mail as does e.g. Google Mail:
![screen shot 2014-08-09 at 19 16 48](https://cloud.githubusercontent.com/assets/878997/3866944/fa5d2a3a-1fe8-11e4-9015-eb6308f4dd58.png)

Whereas:

- signed-by = DKIM check
- mailed-by = SPF check

As this checks are handled server-side there is no user configuration necessary.

@jancborchardt Ideas where we should

[2014-08-11 21:27] zinks- opened #197 "Contact autocompletion is case sensitive"
When chosing the recipient of my mail, for example contact "Roland" is not found if I start typing "rol".

[2014-08-18 10:47] zinks- opened #201 "Date of older emails is almost unreadable"
There color of the date the email was received as displayed in the message list vary from black (brand new mail) to a very light gray (last year's mail).
The date for mails more than a few months old can be very difficult to read :

![screen shot 2014-08-18 at 12 45 08](https://cloud.githubusercontent.com/assets/8377141/3950412/d02bf448-26c4-11e4-805c-da0d3f1a5be9.png)

People using a cheaper/mist

[2014-08-20 09:05] jancborchardt opened #206 "Automatic redirect for external links in Firefox"
Automatic redirect doesn’t work for me in Firefox. It works in Chrome though …

@LukasReschke (carried over from https://github.com/owncloud/mail/pull/192)

[2014-08-20 19:34] PoPoutdoor opened #210 "Add Account: seems freezed due to mail server side issue"
Test with not much used email account, after click on 'connect' the spinner keep on for a very long time (I think over 3 minutes) without any messages and looks like owncloud instance lockup.

Verify settings with desktop email client and found that the server is not responding (no imap response)

Web server error log:

FastCGI-stderr: PHP message: PHP Fatal error:  Call to a member function getId

[2014-08-20 20:13] jancborchardt opened #212 "Performance improvements"
We need to make the Mail app faster. Be it by just giving quicker feedback, or preloading adjacent messages, or or or.

Good examples for this:
* Deletion: Just by directly vanishing the message and loading the next one it appears faster than it actually is.
* Selection: Highlighting the clicked message in the list directly makes it appear much faster. Previously it was only highlighted after the

[2014-08-29 18:10] Gomez opened #244 "Secure mail account passwort in db"
Passwort is stored cleartext in db, should be saved encrypted.

This should help:
https://github.com/owncloud/core/pull/10642

[2014-08-29 20:59] zinks- opened #246 "Reading a message does not decrease "unread" counter"
The count of a folder's unread messages (displayed in the side bar) doesn't change untill the account is reloaded.

[2014-09-02 20:36] jancborchardt opened #255 "Compatibility with Mailvelope for encryption"
Instead of baking in our own encryption mechanism, for now it’s probably easiest to integrate with the browser extensions of Mailvelope: https://www.mailvelope.com/

It’s open source as well: https://github.com/toberndo/mailvelope

[2014-09-04 20:03] PoPoutdoor opened #261 "Error after deleting last mail in folder"
### Expected behaviour
Mail deleted, current mail no longer selected (maybe jump to latest mail as current selected mail in current folder)

### Actual behaviour
Mail deleted, program try to read already deleted mail (use the same mail id?)

### Logs
#### ownCloud log (data/owncloud.log)
[code]

[2014-09-08 18:38] PoPoutdoor opened #266 "Error message not cleared at all"
It's a known bug for @hotmail(outlook.com) while deleting mail.

The error message never get cleared until a forced page refresh (Ctrl-r).

[2014-09-08 18:50] jancborchardt opened #267 "Illegal character encoding"
Some stuff from the owncloud.log – doesn’t seem to break anything but would probably be good to fix?
[code]

cc @DeepDiver1975 @zinks-

[2014-09-09 08:29] PoPoutdoor opened #268 ""Check mail" button and filtered empty folders"
1. When Mail first loaded, folder without mail not display on sidebar.
2. After some time, new mail delivered to the not displayed folder at server.
3. Click "Check mail" button on top of mail list, folder with mail by now is not displayed. Folder only display after page refresh.

I think this is a bad idea to hide empty folders for 0.1, for a page reload takes up to 30 seconds (browser cache clea

[2014-09-14 19:44] zinks- opened #297 "Send new mail/message from account of last selected folder (currently active one)"
When composing a new mail, the 'from' email address seems to always be the first account.
If we were in a folder of another account before cicking the new mail button, the 'from' field should default to that account's identity/email address (Thunderbird does this).

[2014-09-15 08:56] PoPoutdoor opened #299 "Delete mail: Array to string conversion in log"
Message being logged for every deletion:

  Error 	PHP 	Array to string conversion at /${OC_ROOT}/lib/private/log.php#154

[2014-09-17 18:16] Gomez opened #304 "After adding a new account - its not shown immediately in settings"
The account is there, i can see the inbox, but the account is not in settings.

Full refresh is needed

[2014-09-17 22:16] zinks- opened #316 "Manual config: Let users chose 'SSL mode' from a dropdown"
The valid values for 'SSL Mode' should be presented in a `<select>`, in the manual configuration form.

[2014-09-18 11:10] RandolfCarter opened #326 "Moving mails to folders"
As a user, I want to be able to move mails into other IMAP folders (e.g. for archiving, and to clean up the INBOX).
I didn't see any option to do this at the moment.

Drag&Drop would be a good option here (as e.g. possible in Roundcube).

App version: master - commit c6d82af

[2014-09-18 11:48] RandolfCarter opened #328 "Scroll bar hidden/overlayed by title bar"
### Steps to reproduce
1. Open any mail
2. Check the titlebar region with respect to the scrollbar for the message.

### Actual behaviour
On the top 50 pixels or so, the title bar covers the scrollbar. See this screenshot:
![owncloud-mail-titlebar](https://cloud.githubusercontent.com/assets/2631274/4319234/a71c5782-3f29-11e4-97bf-7a7f19ead1be.png)

### Expected behaviour
The scrollbar should eithe

[2014-09-18 11:52] LEDfan opened #330 "Adding not-autodetected account result in 400"
When trying to add an account with advanced configuration the request fails:
![naamloos](https://cloud.githubusercontent.com/assets/2996275/4319264/25959e16-3f2a-11e4-8376-899cdd347b4c.png)

Tested on PHP 5.4 & 5.3. No errors in the log.

[2014-09-18 12:51] Xenopathic opened #331 "Failed advanced account creation breaks interface"
When adding an account using the advanced configuration options, the top password box disappears since there are two separate IMAP and SMTP passwords instead. However, if creating that account fails, the advanced settings dialog closes, but the top password box does not return. Opening advanced configuration brings that password box back, at least until the advanced configuration is closed again.

[2014-09-18 18:13] zinks- opened #339 "Deleting messages from trash"
Right now there is no way to remove a message from the trash: the 'delete' icon only moves the message to the same folder (= does nothing)

We could
1. completely remove the 'delete' icons from the trashed messages and only let people empty the trash as a whole
2. or have the delete icons really delete and purge the messages
3. or both : let people delete select messages from the trash, and empty

[2014-09-18 21:44] zinks- opened #342 "Show recipient in sent-mail message list"
In our 'sent mail' folder(s), the message list uses the same template as the other folders.
The recipient should be shown in the message list, not the sender (it's us!)

[2014-09-19 10:55] GnaXi opened #347 "Timeout if failed to connect?"
Hello!

I installed the app onto my ownCloud (7.0.2) and tried adding my gmail account.
It came up with the "Connecting" and because of "security reasons" Google isn't allowing it to happen.
It seems like it is still trying to connect, but I'm now locked out of my ownCloud, which won't load at all anymore. Probably because the mail app keeps trying to connect to my gmail account which simply doesn

[2014-09-21 20:51] zinks- opened #353 ".eml attachments not shown"
Email forwarded as .eml files cannot be viewed.

In the message list, the attachment paperclip icon shows, but there is no way to view/download the message from the message panel.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/4522433-eml-attachments-not-shown?utm_campaign=plugin&utm_content=tracker%2F216487&utm_medium=issues&utm_so

[2014-10-07 10:59] jancborchardt opened #379 "Refresh of mail list unmarks active message"
When clicking the »Check mail« button (or when the mail is checked automatically), the active marker on the currently open message is removed. It should stay.

@DeepDiver1975

[2014-10-08 21:16] PoPoutdoor opened #387 "UI, user pov"
From generic users' perspective, current UI is not as good as other desktop client, a lot slower and some operation seems not responding.

Current code:

**Load Apps**
* Wait a long time(relative to Files) for sidebar shown up
* Wait a longer time for first account's INBOX's most recent mails list to shown up
* Wait a long time for the most recent mail's content on display

**Change folder view**

[2014-10-09 21:16] zinks- opened #388 "'Load more' button shown even if all messages are displayed"
The 'Load more' button should not be displayed if the mailbox's total message count is less than our pagination limit.

[2014-10-10 16:35] PoPoutdoor opened #389 "json error when subject is blank"
Message list not show while subject line is blank(maybe white space).

[code]

[2014-10-16 09:54] LukasReschke opened #392 "Investigate text/html-sandboxed mimetype"
http://www.w3.org/TR/2011/WD-html5-20110525/iana.html#text-html-sandboxed

[2014-10-16 11:23] DeepDiver1975 opened #393 "Use html5 notifications to inform the user about new messages."
https://developer.mozilla.org/en-US/demos/detail/html5-notifications

[2014-10-25 16:17] PoPoutdoor opened #396 "Reply box: to field not decoded properly"
Another spam mail... Extracts from headers:
[code]
This is display on reply box *to*
[code]

Note: header subject line is not set, as #389 but this one is rendered without other problem.

[2014-11-07 17:31] PoPoutdoor opened #399 "Blank mail content: iconv illegal character"
Another spam trigger OC error:
[code]
Mail header
[code]
In mail header indicate **charset="us-ascii"**, but the correct encoding is **windows-1252**. The illegal character is converted to UTF-8 as XML &#146, which is display as **&#8217;** (XML &#8217) if decoded as windows-1252 and converted to UTF8.

[2014-12-03 12:25] pierrejochem opened #404 "Proposal: Exchange Support"
Include exchange support:

https://github.com/jamesiarmes/php-ews

I'm really sure that will be awesome for many people and will be a decision criteria for the whole product especially with ldap and AD logins.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/6728570-proposal-exchange-support?utm_campaign=plugin&utm_content=tracker%2F2

[2014-12-06 10:50] wurstchristoph opened #408 "'Error while deleting message.' error"
### Steps to reproduce
1. Delete an inbox email

### Expected behaviour
The app should delete the selected email.

### Actual behaviour
I get an 'Error while deleting message.' error.

### Server configuration
**Operating system**:
Arch Linux
**Web server:**
php built-in
**Database:**
MariaDB 10.0.15-1
**PHP version:**
PHP 5.6.3 (cli) (built: Nov 13 2014 18:31:57)
**ownCloud version:**
ownCloud 7.

[2014-12-15 01:04] seal20 opened #410 "Text hidden by "reply/send button""
owncloud version 7.0.4
Mail apps version: clone of December 10th 2014
Browser: firefox

To reproduce the bug:
* Type a long mail in the (direct reply ui or the new message ui)
*When you reach the bottom of the box on the far right, the text is hidden by the reply (send) button (cf screenshot).
* If you continue to type, the box is extended when you create a new line, but the text is again hidden a

[2014-12-15 01:55] seal20 opened #412 "Sent mails appears in the inbox not the sent folder"
### Configuration
Owncloud 7.0.4
Mails git 10/12/2014
Mail server: private imap on vps

### Steps to reproduce
* send a mail through the apps
* the mail is successfully sent but appear nowhere
* Reload mails (check mail)
* the mail just sent is in the inbox but without the "text message". (the text of the message is visible in roundcube so I think owncloud hides it somehow like a quote).

### Expe

[2014-12-31 18:33] Bonbadil opened #418 "Only admin user are allowed to autocomplete contacts"
Hello,

I'm the admin of my owncloud. My wife is a regular user. We just tried this mail app (and it's great, by the way! :-)).
But contact autocomplete on my wife's account doesn't work. The Firefox's network console say that the server answer 403 Forbidden with a JSON message "Logged in user must be an admin". The autocomplete works well on my account.
I've installed mail with a clone of the mas

[2015-01-01 13:13] #418 closed

[2015-01-01 13:14] jancborchardt commented on #418
@Bonbadil thank you for reporting the issue! :) You are very welcome to join us on IRC in #owncloud-mail (freenode), and any issue reports are always appreciated. :rocket:

[2015-01-02 13:07] DeepDiver1975 opened #420 "URL not detected"
url not detected

http://www.amazon.de/s/ref=nb_sb_noss?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Daps&field-keywords=Fax%2C+Kopierer+scanner+Laser&rh=i%3Aaps%2Ck%3AFax%5Cc+Kopierer+scanner+Laser

[2015-01-21 20:31] ferdiga opened #421 "sending/sharing a link to someone uses users language instead of recipients language"
### Steps to reproduce
1. set your language to german
2. send a link to english speaking person
3. recipient does not understand

### Expected behaviour
recipient should get the mail in HIS language
### Actual behaviour
recipient gets the mail in MY language

### Server configuration
**Operating system**:
debian 7
**Web server:**
apache
**Database:**
mysql
**PHP version:**

**ownCloud version:** (

[2015-01-21 20:40] DeepDiver1975 commented on #421
@ferdiga thanks a lot for your feedback - I have to ask you to open this issue in the core repo. This repo is for the mail app which is not related to the mail share link feature which is used in core. THX

[2015-01-21 20:40] #421 closed

[2015-01-23 09:58] jakobsack opened #422 "Export attached vcards to the contacts app"
When receiving an email with an attached vcf file there should be an option to import the vcf in the contacts app.

**Sketch of my idea:**

Next to "download file" and "save in files" there should be a button "import in contacts". If only one address book exists the contact should be saved right away, otherwise a list with all address books should appear.

**Further thoughts:**

- What should be d

[2015-01-23 11:06] DeepDiver1975 commented on #422
The contatcs manager in core shall be used for this:

https://github.com/owncloud/core/blob/master/lib/public/contacts/imanager.php#L58

[2015-02-08 16:33] godlike64 opened #423 "Inbox messages not shown"
Hi,

I just downloaded the owncloud mail app from git to try it out. While I can connect properly and browse through all my folders (tip: maybe add a setting to login to IMAP server using same credentials as the logged in user ;)), the Inbox folder is never shown. When trying to access it, I get a small error tooltip at the top:

Error while loading messages.

The spinwheel for the message list is

[2015-02-08 16:43] godlike64 commented on #423
BTW I think I'm having the exact opposite bheaviour of #334

[2015-02-08 17:31] godlike64 commented on #423
Fixed by updating to Owncloud 7.0.4. Thanks

[2015-02-08 17:31] #423 closed

[2015-02-08 19:15] jancborchardt commented on #423
@godlike64 cheers! :) Glad that everything works now

[2015-02-11 09:39] RandolfCarter opened #424 "Don't load external images"
### Steps to reproduce
1. Go to mail app
2. Load any mail with linked external images

### Expected behaviour
The external images should not show up immediately, only after an additional request to do so (similar to Thunderbird's default behavior).

### Actual behaviour
External images are immediately loaded (proxied somehow via owncloud, but still).
This might be considered a security concern (as

[2015-02-11 10:06] DeepDiver1975 commented on #424
@lukasreschke how we do it? Thx

[2015-02-18 19:57] jancborchardt commented on #410
@seal20 the pull request https://github.com/owncloud/mail/pull/414 looked nice – can you resubmit that, but with only one commit? Thanks!

[2015-02-18 20:06] jancborchardt commented on #389
@PoPoutdoor @zinks- @DeepDiver1975 any update here? Does the issue still occur?

[2015-02-18 20:14] jancborchardt opened #425 "[oC8] Doesn’t load emails"
With ownCloud 8, the web interface does not load emails (»Error while loading messages«) and I get this error in the owncloud.log:
[code]

In the JS error log:
[code]

Any ideas @DeepDiver1975 @zinks- @PoPoutdoor @Gomez

[2015-02-18 20:17] jancborchardt commented on #424
@LukasReschke needs your security input ;) Is the way we currently do it already OK?

[2015-02-18 20:18] jancborchardt commented on #420
What character does it fail at? Can you fix it?

[2015-02-18 20:19] jancborchardt commented on #412
@DeepDiver1975 @zinks- any update on this here? @DeepDiver1975 you mentioned before that the Mail app doesn’t seem to save sent mails in the Sent folder anymore.

[2015-02-18 20:22] jancborchardt commented on #410
Sorry, my fault – this was of course already fixed with https://github.com/owncloud/mail/pull/416 :) Thank you again @seal20! :rocket:

[2015-02-18 20:22] #410 closed

[2015-02-18 20:23] jancborchardt commented on #408
@DeepDiver1975 @zinks- @PoPoutdoor are you able to reproduce and/or fix this issue? :)

[2015-02-18 20:25] jancborchardt commented on #399
@PoPoutdoor @zinks- @DeepDiver1975 do you know how to fix this? Probably needed for 0.1 if a mail can not be shown.

[2015-02-18 20:26] jancborchardt commented on #396
Set to 0.1 as it’s a basic encoding issue we need to get right across the app.

[2015-02-18 20:26] jancborchardt commented on #393
Setting to 0.3 for now as it’s a nice-to-have but not essential.

[2015-02-18 20:27] jancborchardt commented on #392
Any update on this @LukasReschke? I’m putting this in the backlog for now.

[2015-02-18 20:28] jancborchardt commented on #387
I would say it would be better to discuss this in separate smaller issues. For example:

* Performance improvements: https://github.com/owncloud/mail/issues/212
* Organizing mails into folders: https://github.com/owncloud/mail/issues/411

With such a big umbrella issue we won’t really have the discussion lead to anywhere. ;)

[2015-02-18 20:28] #387 closed

[2015-02-18 22:10] DeepDiver1975 commented on #424
actually not for un-trusted senders

[2015-02-18 22:27] LukasReschke commented on #424
My opinion slightly differs here, the images are proxied and so a lot of the usual privacy concerns fall away. IP and User Agent are NOT leaked to the remote host, the only thing that is leaked is "somebody read the mail".

What I'd suggest instead is to use a cronjob that fetches the mails in some certain intervals and then caches the images on the ownCloud instance. In this case there is no addi

[2015-02-18 22:28] LukasReschke commented on #424
Let me get into the code again and look into this … tomorrow … ;-)

[2015-02-19 09:09] DeepDiver1975 commented on #424
but isn't the pure download of an image a clear indicator to the spammer that the email he did spam is valid? I though this was the prime reason for non loading images in html email.

[2015-02-19 18:58] zinks- commented on #389
I never could reproduce the issue

[2015-02-23 09:31] PoPoutdoor commented on #399
@jancborchardt Sorry for the late reply for the Chinese new year holidays!

First of all, we have to decided how to handle non-compliance encoding.

If we are not going to deal with this for 0.1, please set a version number we like to have this fixed.

If we want to fixed this from 0.1, from my limited php coding experiences, all source encodings should be converted to UTF-8 first (with error hand

[2015-02-23 11:10] PoPoutdoor commented on #408
@jancborchardt I haven't upgraded OC from 7.0.2 yet, I can test this by upgrading to 7.0.3 first (with latest mail app code).

[2015-02-23 13:44] jancborchardt commented on #399
@PoPoutdoor how much of a problem is this? Does this actually lead to many emails not being able to display? Since you encountered the bug, you can probably judge best if this is essential (0.1) or can wait til after.

[2015-02-23 15:52] PoPoutdoor commented on #399
@jancborchardt This only happens for the junk mails, may be mail from some ancient M$ windows based mail clients. This does not affects me much for my daily use, but should be addressed for if we can avoid displaying the wrong encoded data.

My POV is fix this on later versions.

[2015-02-24 14:34] jancborchardt commented on #399
Thanks for the clarification – putting it in the backlog. :)

[2015-03-07 13:32] wurstchristoph opened #427 ""New Message" button disabled when using an empty account"
I discovered that the mail app does not allow sending any mails as long as the current account does not have mails yet:
![oc_mail_sent1](https://cloud.githubusercontent.com/assets/1374172/6541510/9eaaf77e-c4d6-11e4-8401-025c6260a23c.png)

To be able to send new messages, I have to send an initial mail to this account. Then, the button is enabled again:

![oc_mail_sent2](https://cloud.githubusercon

[2015-03-07 14:17] jancborchardt commented on #427
@DeepDiver1975 @PoPoutdoor @zinks- something for you ;)

@wurstchristoph thanks for the notice! Do you also have an idea why the message list is so wide in comparison to the message itself? Do you use a multi-monitor setup or something like that?

[2015-03-07 14:34] wurstchristoph commented on #427
@jancborchardt do you mean the width of the third column? The screenshot is cropped, the whole screen looks like this:
![oc_mail](https://cloud.githubusercontent.com/assets/1374172/6541669/f6a0161e-c4de-11e4-952f-116805388283.png)
I guess this is how it should look like ;-)

[2015-03-08 23:17] #427 closed

[2015-03-09 21:03] wurstchristoph commented on #246
I found out that ``prevUnseen`` is always ``false`` [here](https://github.com/owncloud/mail/blob/master/js/views/folder.js#L72-L74)

Could it be that ``_previousAttributes`` does not hold the old attribute values anymore? Maybe it´s related to [this](https://stackoverflow.com/questions/7208393/previous-attribute-of-backbone-js-isnt-persistent)

[2015-03-11 09:53] jancborchardt commented on #425
Debugging with @wurstchristoph made it pretty clear that this seems to be a problem with SQLite. (My setup is Ubuntu 14.04, Apache, SQLite)

[2015-03-18 15:42] jancborchardt commented on #425
Here’s the relevant IRC log with @wurstchristoph
[code]
@LukasReschke can you look at that? At least @DeepDiver1975 said you would probably find enjoyment in that. ;D

[2015-03-18 15:44] LukasReschke commented on #425
Sure. Official URL encoding expert… I know where the bug is… Let me fix it tomorrow or so (please ping me if I forget it ;D)

[2015-03-18 15:58] LukasReschke commented on #425
Is an error in PHP 5.6 as far I can tell. It works fine with PHP 5.4 and the [Horde ML](http://horde.690.n7.nabble.com/Imp-LDAP-Error-listMailboxes-IMAP-error-reported-by-server-td130533.html) led me to https://bugs.php.net/bug.php?id=68948

So for now users have to use PHP 5.4 - 5.6, the other JS errors are though still valid. On it :see_no_evil:

[2015-03-18 20:27] wurstchristoph commented on #425
In case this helps fixing: I have tried to debug the issue using wireshark. I found out that the actual IMAP request is

    2 STATUS INBOX7 (MESSAGES)

although the mailbox name is ``INBOX``. This causes the server to respond

    2 NO Mailbox doesn't exit: INBOX7

which throws an ``IMAP error reported by server`` exception in Horde.

[2015-03-23 12:17] #425 closed

[2015-03-26 20:04] wurstchristoph commented on #408
This issue seems to be caused by the following lines:
https://github.com/horde/horde/blob/master/framework/Imap_Client/lib/Horde/Imap/Client/Socket.php#L2115-L2120
For some reason, ```$this->_selected``` is NULL there, so an exception is thrown inside ```copy``` because the mailbox can not be found

When I comment out those lines, messages can be deleted. However, I have no idea on how to resolve

[2015-03-26 21:56] jancborchardt commented on #408
@DeepDiver1975 @zinks- @LukasReschke any idea here ^?

[2015-03-27 11:19] jancborchardt commented on #328
We could do the same magic we did to fix this in the Files app: The scrollbar issue has been fixed btw: https://github.com/owncloud/core/pull/15260 ;)

[2015-03-27 13:57] jancborchardt commented on #425
Thank you @LukasReschke and @wurstchristoph for fixing this! :)

[2015-03-27 13:59] #379 closed

[2015-03-27 14:01] #388 closed

[2015-03-29 13:56] jancborchardt commented on #420
Works for @wurstchristoph and me.

@wurstchristoph can you commit the change where you put that URL in the tests? :)

[2015-03-29 13:56] #420 closed

[2015-03-29 19:29] jancborchardt opened #438 "Attachment name wrong on download & save to files (only on one mail server)"
When downloading attachments or saving them to files, the name is not preserved. They are just named »(2).« when saving to files and just »2« when downloading.

cc @DeepDiver1975 @wurstchristoph any idea? Can you reproduce?

[2015-03-29 19:49] wurstchristoph commented on #438
Works for me in Firefox and Chrome. Files are downloaded with the exact same file name as the original mail attachment. Tested with simple text (.txt) files.

What is logged if you use this https://github.com/wurstchristoph/mail/blob/issue438/lib/controller/messagescontroller.php#L152 ?

[2015-03-29 20:08] wurstchristoph commented on #389
Neither could I reproduce this.

Tested with different mails with blank or no subject

[2015-03-30 09:41] jancborchardt opened #440 "Several folders highlighted when clicking through the list fast"
When you click on different folders faster than they can load, the sidebar can look like this:
![mail-folders](https://cloud.githubusercontent.com/assets/925062/6893967/9a023f40-d6d1-11e4-8282-d3a67f4fede5.png)
(In this case the »Sent« folder is open since it was clicked last.)

To fix this, we should remove the highlight on any other folder when clicking on a new folder. cc @wurstchristoph @zinks

[2015-03-30 09:46] jancborchardt commented on #389
Ok, I’m closing this then. @PoPoutdoor please let us know when the issue occurs again and we can reopen.

[2015-03-30 09:46] #389 closed

[2015-03-30 09:48] #246 closed

[2015-03-30 09:52] jancborchardt commented on #438
[code]

Also when hovering over the download button, that link shows (with the »/2«).

[2015-03-30 09:53] jancborchardt commented on #438
Oh, and where should the logger message appear? I can’t see anything else in the owncloud.log nor apache error.log, nor in the JS console. – debugging is set to true in the config though.

[2015-03-30 11:19] wurstchristoph commented on #438
There should be a log entry in owncloud.log like this (log level has to be set to 0 inside ```config/config.php```)

    {"reqId":"lzpxoJCzuWbDF4WU23Mc","remoteAddr":"::1","app":"mail","message":"downloading attachment <message-2W49VX.txt>","level":0,"time":"2015-03-30T11:11:02+00:00","method":"GET","url":"\/index.php\/apps\/mail\/accounts\/6\/folders\/SU5CT1g=\/messages\/40\/attachment\/2"}

I ha

[2015-03-30 11:25] wurstchristoph commented on #440
Moreover, if you switch folders that fast, the message column is loaded for each folder you clicked (ajax responses coming in). This looks odd and should be fixed too

[2015-03-30 11:29] jancborchardt commented on #438
Ah right, the log level was it. Here you go:
[code]

[2015-03-30 12:42] Xenopathic commented on #399
This issue happens with base64 encoded emails, which I (sometimes) receive from real people. Perhaps Content-Transfer-Encoding isn't being honoured?

Here is a test script:

[code]

When set to '8bit', the email is correctly parsed by the Mail app, but when set to 'base64', external clients (GMail Android app, Thunderbird) will read the email fine, but the Mail app gives no content and the `iconv(

[2015-03-30 15:11] jancborchardt commented on #399
Summoning @LukasReschke ;)

[2015-04-01 07:06] apg1980 opened #442 "unable to activate on oc82 error"
{"reqId":"3bd29d01792382cdd7866b580da665f7","remoteAddr":"10.10.20.10","app":"index","message":"Exception: {\"Message\":\"Cannot include autoload. Did you run install dependencies using composer?\",\"Code\":0,\"Trace\":\"#0 \\\/OWNCLOUD-DATA\\\/opt\\\/bitnami\\\/apps\\\/owncloud\\\/htdocs\\\/lib\\\/private\\\/app.php(117): require_once()\\n#1 \\\/OWNCLOUD-DATA\\\/opt\\\/bitnami\\\/apps\\\/owncloud

[2015-04-01 07:39] DeepDiver1975 commented on #442
https://github.com/owncloud/mail#developer-setup-info

[2015-04-01 07:39] #442 closed

[2015-04-01 09:21] apg1980 opened #443 "Question: predefine mailserver settings with user_ldap"
Hi your app is pretty cool thanks a lot for this.
My question is how to implement default server settings for all users with single sign on of the existing user_ldap credentials.
Best regards

Update infos:
It would be great to define in admin settings following variables for static auto imap configuration:
- internal imapserver ip and port
- internal smtpserver ip and port
The credentials should

[2015-04-01 09:22] apg1980 commented on #442
Yes sorry i have forgotten to do so.
Now it works.
Thanks

[2015-04-01 12:50] apg1980 commented on #404
I would appreciate this very much.

[2015-04-01 15:10] DeepDiver1975 commented on #404
hit fork and start coding - pull requests are welcome - thx

[2015-04-02 08:18] marlemion opened #444 "Cannot connect to gmail account"
I pulled master to the apps directory, set the correct user/group, installed the missing dependencies in the mail app folder using composer.phar, changed user/group accordingly, activated the mail app and tried to insert the desired data. Tried both: automatic and manual. Tried both: gmail and googlemail address. No result with the automatic method, 'bad request' result with the manual method.

Se

[2015-04-02 09:10] DeepDiver1975 commented on #444
did you enable imap/smtp usage on your gmail account?

https://support.google.com/mail/troubleshooter/1668960?hl=en#ts=1665018

[2015-04-02 09:12] marlemion commented on #444
Certainly, I use it since ages without any glitch with kmail.

[2015-04-02 10:36] marlemion commented on #444
This might be interesting, too. It is a result from the automatic connection try:

Exception: {"Message":"IMAP error reported by server.","Code":0,"Trace":"#0 \/var\/www\/localhost\/htdocs\/owncloud\/apps\/mail\/vendor\/pear-pear.horde.org\/Horde_Imap_Client\/Horde\/Imap\/Client\/Socket.php(4206): Horde_Imap_Client_Socket->_getLine(Object(Horde_Imap_Client_Interaction_Pipeline))\n#1 \/var\/www\/lo

[2015-04-02 13:23] pierrejochem commented on #404
I will check your code and then we will see ;-) It would be perfect to have a mechanis like "storages" in the owncloud core project to implement new protocols

[2015-04-02 14:50] marlemion commented on #444
I have tried various combinations of 'ssl' 'tls' (they seem to be necessarily decapitalized according to the code) and ports (993 for imap, 465, 587 for smtp) as well as server/email names (gmail vs. googlemail). No success. How is this even possible? Thats the first step anybody has to perform to get it running and gmail is more or less one of the standard email services out there. Why do the log

[2015-04-02 15:07] marlemion commented on #444
Ok, get this here in apache error.log:

[Thu Apr 02 16:58:21.994787 2015] [:error] [pid 8703:tid 2949641264] [client XXXXXX:55824] PHP Fatal error:  Call to a member function getId() on string in /var/www/localhost/htdocs/owncloud/apps/mail/lib/controller/accountscontroller.php on line 174, referer: http://XXXXX/owncloud/index.php/apps/mail/

So it is related to https://github.com/owncloud/mail/is

[2015-04-02 15:37] marlemion commented on #444
When I point my browser to owncloud/index.php/apps/mail/accounts I get the account with the proper settings. However, it does not connect. Anyway, I think I will look for something more useful.

[2015-04-03 06:24] marlemion commented on #444
### Steps to reproduce
1. Add gmail account

### Expected behaviour
Should add the account and provide imap access

### Actual behaviour
Throws error:  PHP Fatal error: Call to a member function getId() on string in /var/www/localhost/htdocs/owncloud/apps/mail/lib/controller/accountscontroller.php on line 174

### Server configuration
**Operating system**: Linux 3.8, ARM, Odroid U2, Gentoo

**Web

[2015-04-04 20:09] Xenopathic opened #446 "Bad UI with long account name"
When using a long account name, the text overflows the width of the sidebar and shunts the Delete icon down a bit. We should probably ellipsis long account names instead of trying to display the entire thing, perhaps with a tooltip to show the full name when hovering over it.

cc @jancborchardt

[2015-04-07 21:18] clementhk commented on #404
It looks a bit like you need an opposite of https://github.com/jamesiarmes/php-ews, this thing look like it is for php to communicate with Exchange. While what we really need here is for owncloud to act like ews.
I think.

[2015-04-07 21:22] clementhk commented on #399
https://github.com/php-mime-mail-parser/php-mime-mail-parser is the only parser that works for me so far, maybe it make sense to use it instead, and hey, what is the reason that we don't make some sort of 3rdparty sub-module like core?

[2015-04-07 21:32] Xenopathic commented on #399
@clementhk Horde already has a MIME parser, but it was disconnected: see #441

[2015-04-07 21:34] clementhk commented on #404
Ooops, I misunderstood your POV.
I was thinking this mail app as an email server (when integrating with a Postfix/Dovecot).

[2015-04-07 22:00] clementhk commented on #399
Man I wish all these libs are a lot more lightweight...
You might need this btw https://github.com/php-mime-mail-parser/php-mime-mail-parser/blob/master/src/Charset.php.
I imported it from thunderbird.

[2015-04-08 07:52] pierrejochem commented on #404
After checking the code I can only say this is only possible with core changes because currently it is only made for imap :-(

[2015-04-08 10:58] Spacefish commented on #404
Hi, IMHO Exchange Servers can be configured to expose mailboxes via IMAP so you could just enable IMAP on your Exchange Server and use the current mail app to connect to Exchange!
Of course this is not an option if you don´t have the Exchange server under your control.

[2015-04-08 11:13] pierrejochem commented on #404
@Spacefish: I know and also POP3 ;-)

[2015-04-08 11:23] DeepDiver1975 commented on #404
well - this is part of the competition - right? :wink:

Things to be done from my pov to allow other protocols to be used/implemented:
- define interfaces for account and message
- create a factory which will instantiate account objects based on some input (e.g. use an array where one item holds the account type)
- enhance the setup screen to allow account based ui parts to specify the settings

[2015-04-08 11:27] pierrejochem commented on #404
@DeepDiver1975: Right! ;-)

But first of all I have to finalize a new storage type for OC - Core :-D

[2015-04-08 13:04] DeepDiver1975 commented on #404
storage? core? I don't get the connection to mail

[2015-04-08 13:38] pierrejochem commented on #404
That was just a hint that I have to finish that before I can invest time into the mail enhancement :wink:

[2015-04-08 17:42] jancborchardt commented on #123
@DeepDiver1975 how feasible is it to do this btw? @wurstchristoph @zinks- is anyone of you interested in picking this up? :)

[2015-04-09 07:00] jancborchardt commented on #438
@wurstchristoph any more insight on this?

[2015-04-09 07:24] jancborchardt opened #448 "»Message sent« notification is buggy"
When sending an email, the »message sent« notification below the input field is a bit buggy. When clicking the send button it shows `[object Object]` while loading and then when it’s sent it will say:

`Message sent to &amp;quot;Jan-Christoph Borchardt&amp;quot; &amp;lt;jan@bla.bla&amp;gt;`

Seems something is escaped wrongly. cc @DeepDiver1975 @LukasReschke @wurstchristoph

[2015-04-09 07:58] LukasReschke commented on #448
We need to re-evaluate all usages of `t()` and remove the manual escaping, it is now done automatically.

For example in `message: t('mail', 'Message sent to {Receiver}', {Receiver: escapeHTML(to.val())})`  the `escapeHTML` has to get removed.

[2015-04-09 10:48] jancborchardt opened #449 "Emails not put into sent folder"
Written emails are not put into the sent folder atm. They are correctly sent, but it seems like they are not.

Related to https://github.com/owncloud/mail/issues/94 https://github.com/owncloud/mail/issues/312 https://github.com/owncloud/mail/issues/412

Any idea @zinks- @DeepDiver1975 @wurstchristoph

[2015-04-09 11:26] jancborchardt commented on #446
Good find! Fix at https://github.com/owncloud/mail/pull/450 :)

[2015-04-09 13:54] #446 closed

[2015-04-09 16:50] wurstchristoph commented on #449
I guess there is an issue somewhere here: https://github.com/owncloud/mail/blob/master/lib/controller/accountscontroller.php#L277-L283
Maybe this PR helps: https://github.com/owncloud/mail/pull/407

I'll have a look...

[2015-04-10 10:20] jancborchardt commented on #449
Fixed by https://github.com/owncloud/mail/pull/407, thank you @wurstchristoph! :)

[2015-04-10 10:20] #449 closed

[2015-04-10 10:21] jancborchardt commented on #412
Probably fixed by https://github.com/owncloud/mail/pull/407 – @seal20 please reopen if not.

[2015-04-10 10:21] #412 closed

[2015-04-10 11:42] marlemion commented on #444
I have tried the fix and the error message in the logs is gone, but still not luck:

{"reqId":"39e357e0d5126afb3e7ebe37e8402d55","remoteAddr":"xxxxx","app":"mail","message":"setting up auto detected account","level":1,"time":"2015-04-10T11:35:29+00:00","method":"POST","url":"\/owncloud\/index.php\/apps\/mail\/accounts"}
{"reqId":"39e357e0d5126afb3e7ebe37e8402d55","remoteAddr":"xxxxx","app":"mail",

[2015-04-10 12:19] jancborchardt commented on #444
@wurstchristoph you also have a Gmail account, right? Can you reproduce this?

[2015-04-10 12:37] jancborchardt opened #453 "Release date of 0.1"
We waited a while to release a first version. Now we decided on a release date.

**We will release ownCloud Mail 0.1 on May 6, 2015**
(late afternoon, about 19:00 Central European Standard Time)

That’s exactly 2 years and 2 months after the first commits in this repository. We just have a handful of issues open for the 0.1 milestone also, so that should be doable as well:  https://github.com/ownc

[2015-04-10 13:21] jancborchardt commented on #161
Instead of adding another search field in the top left, we should use the existing search field in the top bar.

Similarly we already do this in the apps management and in files. cc @butonic

[2015-04-10 13:28] jancborchardt opened #457 "Make interface work on mobile again"
The one problem we have with the 3-column layout now is that it doesn’t properly work on mobile anymore. The sidebar correctly hides to the left, but both the message list and the mail content is displayed next to each other.

Maybe on mobile we need to have the content view show the message list, and then overlay the message when one is clicked (with a close button on the top right). Similar to h

[2015-04-10 13:54] jancborchardt opened #460 "Ability to add attachments when replying"
Currently adding attachments is only possible for new messages. Should also be possible for replies.

[2015-04-10 13:57] jancborchardt commented on #438
@DeepDiver1975 @LukasReschke for reference, this only happens with my `@owncloud.com` email address.

[2015-04-10 15:10] DeepDiver1975 commented on #444
I just setup my gmail account once again. Works right away.

[2015-04-11 01:26] #399 closed

[2015-04-11 07:14] wurstchristoph commented on #444
I does NOT work for me either:
[code]

My Google account has 2-step verification enabled, so I used an app specific password for setting up my account. Could this be the reason?
@DeepDiver1975 do you have [less secure apps](https://www.google.com/settings/security/lesssecureapps) enabled?

[2015-04-11 07:19] jancborchardt commented on #448
Fixed by https://github.com/owncloud/mail/pull/458, thanks to @wurstchristoph @DeepDiver1975 :)

[2015-04-11 07:19] #448 closed

[2015-04-11 07:22] marlemion commented on #444
I've got this enabled, but it does not work either.

Just retried from scratch: removed the mail folder and cleaned the datase with the SQL commands provided in the Readme. Cloned again, got the composer parts, set the right permissions - same error.

[2015-04-11 07:23] jancborchardt commented on #444
@marlemion do you also have 2-factor authentication enabled, as @wurstchristoph? Maybe that’s the reason.

[2015-04-11 07:25] marlemion commented on #444
@jancborchardt AFAIK not. I use one password to login and no additional step.

[2015-04-11 07:33] wurstchristoph commented on #444
@marlemion you can check it at https://myaccount.google.com at **Signing in**

[2015-04-11 07:34] marlemion commented on #444
@wurstchristoph Thanks. It is NOT enabled.

[2015-04-11 09:27] jancborchardt opened #461 "Current folder highlight is removed when opening another unread mail"
1. Go to your inbox, wait until the current message is loaded
2. Click on another _unread_ message
3. Observe how the highlight of the Inbox entry in the sidebar disappears

@DeepDiver1975 @wurstchristoph any idea?

[2015-04-11 12:45] jancborchardt opened #462 "Ability to add attachments from the computer"
Currently it’s only possible to add attachments from ownCloud Files. We should also enable people to upload attachments from their computer. While it’s a cool integration, we don’t want to force people to need to upload their stuff to ownCloud before they can attach it to their Mails.

(This should of course also work for replying: https://github.com/owncloud/mail/issues/460)

<bountysource-plugin

[2015-04-11 12:49] jancborchardt opened #463 "»New message« button should reset to enabled when clicking another message"
1. Compose a new message
2. Click on another message in the list
3. Try to click on »New message« again

The »New message« button is only set to enabled again when the message is sent, or when a different folder is clicked. But not when a message is clicked.

[2015-04-13 11:25] jancborchardt opened #466 "Fix accessibility"
Currently it’s not possible to tab through the sidebar nor through the message list as they are not recognized as links. We need to fix that.

[2015-04-13 11:31] jancborchardt opened #467 "Multiple folders get loaded when switching fast"
As @wurstchristoph mentioned in issue #440:

When another folder is clicked, the previous ajax call should probably be cancelled right away.

@DeepDiver1975 @zinks- something for you? :)

[2015-04-13 11:55] wurstchristoph commented on #461
The following line seems to cause it: https://github.com/owncloud/mail/blob/master/js/views/folder.js#L81

Therefore I guess it's about handlebars rendering the folder element again, so the ```active``` class is removed

[2015-04-13 12:22] MorrisJobke opened #468 "Folder with whitespace in it doesn't list emails"
1. having a folder with a whitespace in it - like 'work reports'
2. clicking on this element
3. get a listing for this email folder but instead "no messages in this folder" is shown

git clone from 5 minutes ago and ownCloud 8.0.2

[2015-04-13 12:24] MorrisJobke opened #469 "Clicking "new message" doesn't result in anything"
* clicking new message
* something to type a new message in will appear, but instead following JS error appears:

[code]

git clone from 5 minutes ago
Browser: Firefox

[2015-04-13 13:00] jancborchardt commented on #469
Does this also happen with Chrome, and when you use ownCloud 8.1 (git master)?

[2015-04-13 13:00] jancborchardt commented on #468
Does this also happen when you use ownCloud 8.1 (git master)?

[2015-04-13 14:32] MorrisJobke commented on #469
Works now :( I haven't changed anything. Also browsing various folders and messages doesn't affect it anymore.

[2015-04-13 14:44] jancborchardt commented on #469
Strange - maybe just a caching error, or related to first time setup.

[2015-04-13 15:03] MorrisJobke commented on #469
Yes. When not refreshing after the setup it doesn't work -> bad first user experience

[2015-04-13 15:03] MorrisJobke commented on #469
Also with current git master of the server

[2015-04-13 15:03] MorrisJobke commented on #468
@jancborchardt Yes.

[2015-04-13 16:15] jancborchardt commented on #468
@DeepDiver1975 @wurstchristoph @zinks- @Gomez can you reproduce? It worked for me when I tested with a folder.

[2015-04-13 16:15] jancborchardt commented on #469
cc @DeepDiver1975 @wurstchristoph :)

[2015-04-13 16:17] wurstchristoph commented on #468
I created a folder named "test folder" and copied some mails into it: same result, "no messages in this folder"

[2015-04-13 17:09] jancborchardt commented on #468
Ok, we need to fix that then. @DeepDiver1975 @wurstchristoph @Gomez someone of you want to take it on?

[2015-04-13 19:55] #463 closed

[2015-04-13 20:39] jancborchardt commented on #424
@LukasReschke what’s the current state on this? :)

[2015-04-13 20:40] jancborchardt commented on #408
@wurstchristoph does this problem still exist? Or can you now delete emails?

[2015-04-13 20:40] jancborchardt commented on #396
cc @LukasReschke for encoding. M)

[2015-04-13 20:45] #126 closed

[2015-04-13 20:53] jancborchardt commented on #23
Account deletion is possible since some time thanks to @Gomez so I’ll close this. :)

[2015-04-13 20:53] #23 closed

[2015-04-13 20:54] jancborchardt commented on #299
I’ll close this cause of inactivity. Seems it’s fixed with https://github.com/owncloud/mail/pull/286 / https://github.com/owncloud/mail/pull/306 being merged.

[2015-04-13 20:54] #299 closed

[2015-04-13 20:55] jancborchardt commented on #267
Haven’t had this error in a long time. Closing.

[2015-04-13 20:55] #267 closed

[2015-04-13 20:58] jancborchardt commented on #244
This is still an issue when using ownCloud 8 and 8.1. We should encrypt the password, right @LukasReschke?

[2015-04-13 21:01] jancborchardt commented on #138
@LukasReschke @DeepDiver1975 this seems to be fixed – HTML mails work fine. Or is this about something else?

[2015-04-13 21:15] jancborchardt commented on #255
@toberndo ok, adding it to the watchlist works. Is there any way we can add ownCloud Mail to the default watchlist in the extension? It’s a bit complicated maybe because people can host it wherever they want. The only real part in the URL which will always be there is `/apps/mail/` (subpart of `owncloud/index.php/apps/mail/`).

[2015-04-13 21:15] jancborchardt commented on #255
But yeah, I agree with @DeepDiver1975 @cosenal that eventually we should integrate OpenPGP.js

[2015-04-13 21:44] jancborchardt commented on #27
As mentioned in https://github.com/owncloud/mail/issues/255 we should implement http://openpgpjs.org/ for this.

[2015-04-13 21:44] jancborchardt commented on #27
cc @ogasser this might be something we could work on together. :)

[2015-04-13 21:45] jancborchardt commented on #255
Closing in favor of https://github.com/mailvelope/mailvelope/issues/303

Also, the encryption / OpenPGP.js part is transferred to https://github.com/owncloud/mail/issues/27

[2015-04-13 21:45] #255 closed

[2015-04-14 09:42] wurstchristoph commented on #408
Yes, the problem still exists. Whenever I delete a message I get "Error while deleting message."

The message is moved to trash anyway...

[2015-04-14 10:27] jancborchardt commented on #161
First iteration up at https://github.com/owncloud/mail/pull/472 :)

[2015-04-14 12:08] wurstchristoph opened #475 "Cannot delete account right after adding it"
If a new account is added, it is not immediately listed in settings. This means one has to refresh the page to be able to delete it again.

[2015-04-14 12:12] jancborchardt commented on #475
This is a duplicate of https://github.com/owncloud/mail/issues/304 :)

[2015-04-14 12:12] #475 closed

[2015-04-14 12:12] jancborchardt commented on #304
Bumped to 0.1 because it’s a bad first-run experience. cc @wurstchristoph

[2015-04-14 13:57] #469 closed

[2015-04-14 18:05] wurstchristoph commented on #468
I had a quick look. Seems like the IMAP request for the status of each folder is malformed when there is whitespace in the name.
IMAP calls should look like this:

    9 STATUS INBOX (MESSAGES RECENT UIDNEXT UIDVALIDITY UNSEEN)

so the IMAP server returns something like

    * STATUS "INBOX" (MESSAGES 31 RECENT 0 UIDNEXT 33 UIDVALIDITY 1428599115 UNSEEN 0)
    9 OK Status completed.

However, for

[2015-04-15 07:33] DeepDiver1975 opened #477 "Adding funtional tests"
https://github.com/ddeboer/imap/blob/master/tests/AbstractTest.php

[2015-04-15 10:20] jancborchardt commented on #99
@RandolfCarter @seal20 the fix is at https://github.com/owncloud/mail/pull/479 – please test! :)

[2015-04-15 11:11] jancborchardt commented on #316
This was fixed thanks to @mikelupe! :)

[2015-04-15 11:11] #316 closed

[2015-04-15 11:40] jancborchardt commented on #396
This is fixed by now. Please reopen if there’s still issues.

[2015-04-15 11:40] #396 closed

[2015-04-15 11:43] jancborchardt commented on #170
I didn’t have this in a long time. Closing.

[2015-04-15 11:43] #170 closed

[2015-04-15 11:45] jancborchardt commented on #304
@wurstchristoph do you want to look into this? It seems similar to https://github.com/owncloud/mail/pull/474

[2015-04-15 11:48] jancborchardt commented on #326
Closing in favor of https://github.com/owncloud/mail/issues/411 which has this and more (like account creation).

[2015-04-15 11:48] #326 closed

[2015-04-15 11:49] jancborchardt commented on #268
The »hide empty folders« code was dropped. Let’s continue discussion in https://github.com/owncloud/mail/issues/385

[2015-04-15 11:49] #268 closed

[2015-04-15 11:51] jancborchardt commented on #129
Closing in favor of https://github.com/owncloud/mail/issues/342 – when we show the recipient instead of yourself in the »Sent« folder, we don’t need to show one’s own profile image anymore.

[2015-04-15 11:51] #129 closed

[2015-04-15 11:54] jancborchardt commented on #123
We can do this with the search call, similar to how the search feature is implemented. First off this will only be per folder though, so we could only do this for the inbox first.

[2015-04-15 11:55] jancborchardt commented on #120
@LukasReschke are you interested in looking into this again? Since we have multi-account support it would be cool to support a unified inbox again.

[2015-04-15 11:56] jancborchardt commented on #155
Closing in favor of https://github.com/owncloud/mail/pull/472 because the search pull request will obsolete the query by sequence.

Also for caching, refer to https://github.com/owncloud/mail/issues/4

[2015-04-15 11:56] #155 closed

[2015-04-15 12:08] jancborchardt opened #480 "Client-side cache of accounts/folders and message lists of already loaded folders"
A simple thing to improve the perceived performance would be to cache the following things:
* [ ] accounts in the sidebar
* [x] folder list in the sidebar (which will change very rarely) PR at #766
* [x] the first 20 messages of folders which have already been loaded – most of the time we will have to append new mails up top
* [x] maybe the topmost mail in that folder which is displayed automatica

[2015-04-15 12:08] jancborchardt commented on #4
Closing in favor of https://github.com/owncloud/mail/issues/480

[2015-04-15 12:08] #4 closed

[2015-04-15 12:09] jancborchardt commented on #212
Closing in favor of https://github.com/owncloud/mail/issues/480

[2015-04-15 12:09] #212 closed

[2015-04-15 12:10] jancborchardt commented on #453
We just put a bunch more issues in the 0.1 milestone. Don’t worry, we’ll also release if not all of them are done. It’s just to have a better overview of what we think is feasible and would be nice for a first release.

Everything from the 0.1 milestone we don’t finish will move to 0.2, and the 0.2 moves to 0.3, and so on.

[2015-04-15 15:15] ChristophWurst opened #484 "different 'Reply' button layout in FF/Chrome"
The 'Reply' button is a little bit misplaced in FF

Currently it looks like this:
![](https://cloud.githubusercontent.com/assets/1374172/7162084/e52221fc-e392-11e4-8ca3-e1dfa8926bdd.png)

(left: Chrome, right: Firefox)

@jancborchardt I think this is something for you ;-)

[2015-04-15 15:17] jancborchardt commented on #484
Yeah, I noticed that too but didn’t dive too deep into fixing it yet. :)

[2015-04-15 15:18] #99 closed

[2015-04-15 16:00] jancborchardt commented on #484
This is caused due to the `.reply-message-fields` div being a tad higher than its contents for some reason. When I remove the textarea it seems to fit. So maybe this is caused by the jQuery.autosize plugin.

[2015-04-15 18:09] Henni opened #485 "IMAP errors seem not to be logged."
When sending an email the mail app tells me that there is an IMAP error.
This is done by a short message below the mail input area.
I am missing further information about this error either instead of the short message or in the log file of owncloud.

![owncloud-imap-error](https://cloud.githubusercontent.com/assets/1267827/7165967/2acb2a74-e3ab-11e4-9d25-4ff15896edfe.png)

<bountysource-plugin>
--

[2015-04-15 19:13] jancborchardt commented on #161
Done by the awesome @DeepDiver1975 via https://github.com/owncloud/mail/pull/472 ;)

[2015-04-15 19:13] #161 closed

[2015-04-15 19:57] jancborchardt commented on #440
@wurstchristoph it seems your PR https://github.com/owncloud/mail/pull/452 introduced a separate issue: When you have multiple accounts, the last folder you opened for each account is always highlighted.

Can you look into this? :)

[2015-04-15 20:04] #342 closed

[2015-04-15 20:08] jancborchardt opened #487 "Replying to mail you sent yourself puts wrong people in »to« and »cc«"
You sent an email to Anne and put Bob in cc. Then you want to add something –> go to your sent folder and want to reply to that email.

What happens: You yourself are in »to« and Anne as well as Bob are in »cc«.

Expected instead: Anne is in »to« and Bob is in »cc« again.

[2015-04-15 20:10] jancborchardt opened #488 "Show only one loading spinner at a time"
Currently the initial load shows 3 loading spinners: One for the sidebar, one for the message list, and one for the message detail view.

Instead there should always only be one spinner, centered over whichever areas remain to be loaded.

[2015-04-15 20:21] wurstchristoph commented on #440
Sorry, fixed it with PR https://github.com/owncloud/mail/pull/489 ;-)

[2015-04-15 20:31] jancborchardt commented on #440
Well it was my fault for the sloppy review. ;D

[2015-04-15 20:31] #440 closed

[2015-04-15 20:50] jancborchardt commented on #484
Nah, autosize doesn’t cause this.

[2015-04-15 22:01] #477 closed

[2015-04-15 22:25] jancborchardt commented on #123
Fixed by https://github.com/owncloud/mail/pull/490

[2015-04-15 22:25] #123 closed

[2015-04-16 07:19] Henni commented on #485
On a second thought the error message should definitely occur where it currently is but with more details.

It shouldn't appear (only) in the log. There shouldn't be an admin required to fix a simple mail setup error.

[2015-04-16 08:20] wurstchristoph opened #491 "Submit mails by ctrl+enter"
Like most other mail clients do it, we could submit new messages an replies when the user hits ctrl+enter

[2015-04-16 09:53] seal20 commented on #412
Yes it is fixed! thanks a lot

[2015-04-16 10:08] jancborchardt commented on #491
Yup. Maybe this is just a matter of correctly writing the HTML so that the form knows what the submit button is.

[2015-04-16 10:48] seal20 opened #492 "error in the reported age of the mails for under 5 min"
When a mail was received in the last 5 min (could see this for 3 and 1 min) the reported age of the mail is " in 1 min" or "in 3 min", which I think is strange and should read "1 min ago".

See attached screenshot showing "in 3 minutes" instead of "3 minutes ago".

I heard a similar "strange" strings for age of files from an user but could not reproduce it, I get "a minute ago" after a "few second

[2015-04-16 10:56] jancborchardt commented on #492
@MorrisJobke didn’t you babble something about time-travel compliance? ;D

I still think that any date in the future is stupid to show and should just be cut off at »seconds ago«. We also don’t show negative file sizes.

[2015-04-16 11:16] DeepDiver1975 commented on #492
looks like one of the servers involved has no synchronized time - not really an issue we can take care of

[2015-04-16 11:37] clementhk commented on #492
I agree that if it is from "Date" in email's header, then it should be display as is.

[2015-04-16 19:03] wurstchristoph commented on #99
There's a little bug there (at least on FF): The button state works perfectly for the first mail you send/reply. However, for the second one, the button is initially enabled, even though the message box is cleared.

Steps to reproduce:
- send/reply a message
- send/reply again (without filling the message box of course)
- message will be sent

[2015-04-16 19:47] jancborchardt commented on #99
Good catch - will fix it.

[2015-04-17 09:11] jancborchardt commented on #206
Also, in Firefox for some reason the redirection page shows the noscript warning (as code) up top:
![capture du 2015-04-17 10 08 33](https://cloud.githubusercontent.com/assets/925062/7199142/88847d3a-e4f2-11e4-9362-fa92d9db61dc.png)

[2015-04-17 15:05] jancborchardt commented on #453
@DeepDiver1975 @wurstchristoph I introduced an »priority« label to highlight the 0.1 issues which are particularly important and we should focus on: https://github.com/owncloud/mail/issues?q=is%3Aopen+is%3Aissue+label%3Apriority – do you agree with that?

[2015-04-17 17:19] wurstchristoph commented on #453
good idea :+1:

[2015-04-17 19:38] #201 closed

[2015-04-17 20:19] jancborchardt opened #499 "Automatic lazy loading of more messages when scrolled to the end of the list"
Currently when you scroll down the message list you need to manually click »Load more …«. Instead, more mails should automatically get loaded shortly before you reach the end of the list.

Similar to pull to refresh / automatically loading newer messages: https://github.com/owncloud/mail/issues/104

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysourc

[2015-04-17 20:46] jancborchardt commented on #347
Closing because of inactivity. @GnaXi ownCloud Mail now requires ownCloud 8.0 – if the issue still persists with that or 8.1 please open a new issue. Thanks! :)

[2015-04-17 20:46] #347 closed

[2015-04-17 20:50] jancborchardt commented on #492
Ok so not our call to fix. It’s a server issue.

[2015-04-17 20:50] #492 closed

[2015-04-17 20:55] MorrisJobke commented on #492
For the record (from IRC)

[code]

[2015-04-17 20:55] MorrisJobke commented on #492
That's just my opinion.

[2015-04-17 21:21] jancborchardt commented on #444
I just tested with a Gmail account and it immediately works.

Sorry @marlemion but no idea. Can you connect to any other account?

[2015-04-17 21:23] jancborchardt commented on #444
@Henni didn’t you have a similar problem? Do you maybe have more info?

[2015-04-18 06:23] jancborchardt commented on #480
First step: Account and folder caching done via https://github.com/owncloud/mail/pull/501 :)

[2015-04-18 06:56] marlemion commented on #444
Just tested this with a web.de account: works great.

[2015-04-18 06:58] seal20 commented on #492
Fair enough. but I don't have control over that mail server so I will have to enjoyed time travel.

[2015-04-18 07:13] marlemion commented on #444
tested this with a completely new gmail account. imap activated, less secure apps allowed - same issue.

[2015-04-18 08:16] jancborchardt commented on #444
@DeepDiver1975 aren’t we running unit tests against a completely new Gmail account, and everythign works? Any idea? :\

[2015-04-18 09:51] Xenopathic commented on #444
I'm getting this problem too... other providers work, but Gmail throws a '"IMAP error reported by server" back. Tried both with autoconfig and manual setup.

[2015-04-18 09:52] #331 closed

[2015-04-18 09:54] jancborchardt commented on #491
Fixed by you in https://github.com/owncloud/mail/pull/493 ;)

If in the commit or in the Pull request you say something like »fix https://github.com/owncloud/mail/pull/493«, Github will automatically close the corresponding issue on merge.

[2015-04-18 10:26] wurstchristoph commented on #491
I know...just forgot to add it ;-)

[2015-04-18 10:28] jancborchardt commented on #444
@Xenopathic @wurstchristoph can you maybe look further into this? @DeepDiver1975 and I can’t reproduce it.

[2015-04-19 05:20] LEDfan opened #506 "oC 8.1 alpha 1 mail app doesn't load"
Hi

I just upgraded my production oC installation to 8.1. I completely deinstalled mail (removing tables etc) and installed it again from git.

When I try to load the app, the two GIF spinners keep spinning for ever. In the browser's console there are some error:
[code]

Thanks!

[2015-04-19 10:15] DeepDiver1975 commented on #506
@LEDfan can you please have a look in the network tab and post the response of the request 'apps/mail/accounts/{accountId}/folders' - THX

[2015-04-19 10:26] LEDfan commented on #506
@DeepDiver1975 that request is never made....

![selectie_030](https://cloud.githubusercontent.com/assets/2996275/7219078/4a85d21a-e68f-11e4-9c9b-c40a4ea4267b.png)

[2015-04-19 11:13] DeepDiver1975 commented on #506
can you please paste the contents of the browser locastorage '/index.php/apps/mail/accounts/{accountId}/folders' - thx

[2015-04-19 12:26] LEDfan commented on #506
@DeepDiver1975 thanks, clearing the localstorage via `localStorage.clear()` solved it.

[2015-04-19 12:26] #506 closed

[2015-04-19 17:43] zinks- commented on #467
The behavior I observe on my instance is slightly different: when I quicly click on folder A then B, Folder A listing is shown but Folder B is the one selected in the navigation.

Properly fixing this bug will most likely correct the two behaviors.
I'm on it!

[2015-04-19 17:52] zinks- commented on #467
The messages from folder B are actually appended to the list of messages, beneath those form folder A.

[2015-04-19 18:14] jancborchardt commented on #467
@zinks- great to hear you’re digging into it! Will happily review any pull request. :)

[2015-04-19 20:29] DeepDiver1975 opened #511 "Mail is not OC8 compliant!"
{"reqId":"428b99eb754a3c8fe7129f533f854c9f","remoteAddr":"178.25.224.1","app":"PHP","message":"Argument 1 passed to OC\\NavigationManager::add() must be of the type array, object given, called in \/var\/www\/owncloud\/apps3\/mail\/appinfo\/app.php on line 26 and defined at \/var\/www\/owncloud\/lib\/private\/navigationmanager.php#23","level":3,"time":"2015-04-19T20:28:25+00:00","method":"GET","url

[2015-04-19 20:39] DeepDiver1975 opened #513 "Invalid argument supplied for foreach() in /home/travis/build/owncloud/core/apps/mail/tests/imap/abstracttest.php"

[2015-04-20 08:23] Xenopathic commented on #444
Hehe, now even Jenkins can reproduce this issue. https://travis-ci.org/owncloud/mail/jobs/59157318

[2015-04-20 11:17] jancborchardt commented on #244
@Gomez fix at https://github.com/owncloud/mail/pull/510

[2015-04-20 13:15] #511 closed

[2015-04-20 14:32] Xenopathic commented on #444
Done some debugging:

[code]

So far I can confirm the problem definitely isn't the space (at least, it isn't with Dovecot on my server)

[2015-04-20 14:42] #513 closed

[2015-04-20 14:58] Xenopathic commented on #444
I think I've just found what's going wrong, this is what I see in a Wireshark trace (proxied through tcpserver and openssl s_client to open up the SSL tunnel):

[code]

Notice the triple quotation marks after 'Sent Mail'. I'm investigating what it could be, but it seems to be quite certainly a Horde IMAP issue.

PS: If anyone wants to do a similar thing, you'll need `tcpserver` from the package `u

[2015-04-20 15:20] clementhk commented on #444
Looks like a terrible mistake by Horde.
You always need to think of escape when communicating.
This is from my own IMAP implementation, feel free to make use of it.

[code]

[2015-04-20 15:24] Xenopathic commented on #444
I wish it were that simple. Horde quotes the strings it needs to, but just seems to put extra quotes on the end (which Gmail doesn't like). Their code is awkward to work with though, since it uses streams, not strings, *everywhere*.

[2015-04-20 15:27] clementhk commented on #444
It could also be that owncloud mail is storing a wrongly unescaped folder name.

[2015-04-20 15:29] clementhk commented on #444
(`"[Gmail]/Sent Mail"""` => `[Gmail]/Sent Mail"` after IMAP unescaping)

[2015-04-20 15:31] Xenopathic commented on #444
Nope, that definitely isn't it. The Horde quoting filter (Horde_Imap_Client_Data_Format_Filter_Quote) seems to be the culprit. Before the filter is executed, I see `[Gmail]/Sent Mail` - after, I see `"[Gmail]/Sent Mail"""`

[2015-04-20 15:31] wurstchristoph commented on #444
The quotation mark problem occurs also at #468

[2015-04-20 15:32] Xenopathic commented on #444
@wurstchristoph THX

@jancborchardt  Ha, the problem manifests itself in multiple ways!

[2015-04-20 15:33] clementhk commented on #444
Looks like the same problem as #468 then since it has a space in the folder name.

[2015-04-20 15:36] Xenopathic commented on #444
Well the problem is in `Horde_Imap_Client_Data_Format_Filter_Quote`, if anyone wants a go at debugging it :smile:

[2015-04-20 15:56] clementhk commented on #444
@Xenopathic it is fixed is master https://github.com/horde/horde/commit/ae1adf9f1549f6bb826b541274949cfd0e77457e .

[2015-04-20 16:00] clementhk commented on #444
[code]

Confirmed.

[2015-04-20 18:51] Xenopathic commented on #444
@clementhk :clap: :trophy: :smile:

It works!

[2015-04-20 20:49] #444 closed

[2015-04-20 20:50] Henni opened #517 "Port input fields type is set to email"
The port input fields used to add a new email account have the type email, which shows up as a warning in chrome dev tools.

[2015-04-20 21:14] #468 closed

[2015-04-20 21:21] Henni opened #519 "Resetting the app doesn't remove the registered accounts."
I executed the commands:
[code]
as described in the README to reset my mail app installation.

But somehow my registered mail account was kept after reenabling the app. It seems that it is cached somewhere outside of the database. Even restarting apache didn't help.

Additionally the following Exception is logged:
[code]

How do I remove this registered mail account?
And why isn't it removed by dr

[2015-04-20 21:34] Henni opened #520 "Inputs for IMAP/SMTP user shouldn't necessarily be an email address"
The input fields for the IMAP and SMTP users are set to type="email". But it should also be possible to set the username to a simple string instead of an email address. Therefore the type should be replaced by "text".
( similar to #517 )

[2015-04-20 23:03] #517 closed

[2015-04-21 06:42] marlemion commented on #444
Thanks for your hard work, but I am afraid that this fix does not solve my problem.

What I did: git pull in the mail folder, readded account, behavior as befoer: account gets added, but does not show up, throws imap error. The account does also not show up in the list of accounts (bottom left)

{"reqId":"9bb7eb5a877f18a24d332f6be7709124","remoteAddr":"80.137.114.39","app":"mail","message":"Settin

[2015-04-21 07:11] clementhk commented on #444
@marlemion have you updated your composer packages?

[2015-04-21 07:19] marlemion commented on #444
No I didn't. :) But now I did. The error message above is gone, the account appears in the list (left bottom), but only the other accounts are displayed and browsable. The gmail account is still invisible. Maybe I need to reset the database?

{"reqId":"68605d9d6822a73f83c42a3fafb88700","remoteAddr":"80.137.114.39","app":"mail","message":"Setting up manually configured account","level":1,"time":"20

[2015-04-21 07:55] #520 closed

[2015-04-21 07:56] jancborchardt commented on #519
@DeepDiver1975 probably this has to do with the new account & folder caching introduced in #501?

[2015-04-21 08:19] clementhk commented on #444
I don't use owncloud mail (yet), just happened to see this issue from subscribing to this repo, so I don't have knowledge if you need to reset or not :)

But from a very quick look,

https://github.com/owncloud/mail/blob/master/lib/account.php#L328

[code]

should be changed to

[code]

Doing this could prevent calling `guessBestMailBox()` in most case, and I can't find in doc if returning int is

[2015-04-21 08:40] jancborchardt commented on #444
@clementhk well it’s very easy to install, just try it out. ;)

[2015-04-21 09:18] jancborchardt commented on #519
I can reproduce this: Even just removing an account from the settings doesn’t remove it from the sidebar. This most definitely has something to do with the caching #501. cc @DeepDiver1975

[2015-04-21 16:28] marlemion commented on #444
That fixed it indeed! Thanks a lot! :) Confirmed.

[2015-04-21 16:33] clementhk commented on #444
@marlemion which one?

[2015-04-21 16:39] marlemion commented on #444
Ah, sorry. I have changed

if ($guessBest === true && count($specialFolders) > 0) {

to

if ($guessBest === true && count($specialFolders) > 1) {

in lib/accounts.php

[2015-04-21 23:24] clementhk commented on #444
@marlemion mind to help to revert this and print out `$folder->getTotalMessages()` in https://github.com/owncloud/mail/blob/master/lib/account.php#L297 ?
Just so we could fix another issue.

[2015-04-22 06:32] marlemion commented on #444
I will do it, but today is no time. Tomorrow. :)

[2015-04-22 07:02] hitam4450 opened #523 "Mail Template"
After selecting a mail template e.g. Notification of activities and saving it ( reply of OC8.02: saved),
then I leave the administration tab. retuning to the menu item Mail templates shows me no template selected!

What went wrong and why?

best regards, Hitam4450

[2015-04-22 07:15] DeepDiver1975 commented on #523
the mail template editor is maintained here: https://github.com/owncloud/templateeditor

Please reopen your issue there - THX

[2015-04-22 07:15] #523 closed

[2015-04-22 08:53] zinks- opened #524 "App doesn't work in Firefox: Account creation screen is shown everytime the app is opened"
I can't use the mail app in Firefox. I've had the case with **two different owncloud servers** (8.0.2 and daily build) + mail master.

Problem has been observed with latest Iceweasel, latest official Firefox on Debian 8 and Mac OS 10.10.3.

After I set up the first account, I can see my mail.
However If I navigate away and come back to the mail app (or reload the page), I am only shown the "create

[2015-04-22 08:58] jancborchardt commented on #524
It works fine for me. :\ Can anyone else reproduce this @DeepDiver1975 @wurstchristoph @PoPoutdoor?

[2015-04-22 08:59] jancborchardt commented on #524
And do you have any more info, like browser error log?

[2015-04-22 18:05] jancborchardt commented on #491
This seems to be broken on master for new messages. For replies it still works. Can you check it out @wurstchristoph? :)

[2015-04-22 19:45] zinks- commented on #524
The two instances that didn't work with Firefox yesterday evening, now work. This lead me to think this was a cache issue.
I did more tests, here is a summary of everything :

1. Clear Firefox cache.
2. Setup a new OC (daily) instance with mail (master) installed [*]
3. Add the mail account using Firefox : it **looks like** it works untill you...
4. ...navigate away and come back to the page (or j

[2015-04-22 19:53] jancborchardt commented on #524
Yeah, this sounds like it is related to the caching introduced in #501

@zinks- can you test a commit from before the change and check if the problem also occurs?

[2015-04-22 22:37] Xenopathic opened #526 "Feature: browser extension to provide mail notifications"
I was just looking at the new WIP code over at #522, and I thought it would be really cool if those notifications showed up even if the user doesn't have a tab with oC Mail open. The easiest way to implement this is as a browser plugin (with 'browser' meaning Firefox and Chrome(ium), not IE unless someone is really brave!).

The idea would be that the plugin either bundles or loads the JS of the M

[2015-04-22 22:45] DeepDiver1975 commented on #526
That should be the case with html5 notifications - as far as the browsers support this.

[2015-04-22 22:49] DeepDiver1975 commented on #526
Notification popping up while debugging in PHPStorm .... :wink:

![bildschirmfoto von 2015-04-23 00 49 04](https://cloud.githubusercontent.com/assets/1005065/7287181/9458eb1e-e952-11e4-8124-4c7f8c044153.png)

[2015-04-23 06:37] wurstchristoph commented on #491
Confirmed ;-)
It works In FF, but not in Chrome. @jancborchardt Which browser did you use when you encountered the problem?

[2015-04-23 06:39] marlemion commented on #444
Well I added 'echo $folder->getTotalMessages():' and 'print $folder->getTotalMessages():', respectively, before the if statement. However, it does not print anything to the log:

{"reqId":"8f36e1a4e6d6d638a1ae09317827e5cb","remoteAddr":"80.137.117.187","app":"mail","message":"loading messages 0 to 20 of folder <INBOX>","level":0,"time":"2015-04-23T06:35:43+00:00","method":"GET","url":"\/owncloud\/

[2015-04-23 06:59] jancborchardt commented on #491
@wurstchristoph yup, it was Chrome. :)

[2015-04-23 07:04] LEDfan commented on #519
AFAIK this is cached in the LocalStorage of the browser. You can clear this by opening the JS console and run `localStorage.clear()`

[2015-04-23 08:35] #519 closed

[2015-04-23 08:36] DeepDiver1975 commented on #491
ctrl+enter will work out of the box on forms with a submit button properly setup - there should be no need for additional js Kung-Fu

[2015-04-23 08:36] DeepDiver1975 commented on #519
yes - this needs some more love - I had issues with the cache in #522 as well

[2015-04-23 08:37] jancborchardt commented on #491
@DeepDiver1975 yeah, that’s what I thought too.

[2015-04-23 08:44] jancborchardt commented on #491
So for replies, we have to make `<div class="reply-message-fields">` a form. And for new messages, we need to make `<div id="new-message">` a form. @wurstchristoph do you want to check that out?

[2015-04-23 08:58] wurstchristoph commented on #491
I can do that, but I'll try to focus on PR #505 first :)

[2015-04-23 09:01] jancborchardt commented on #491
Yup! :)

[2015-04-23 10:36] Henni opened #528 "Account creation screen is shown everytime the app is opened"
The mail app displays the "Connect your mail account" form every time I open the app or reload the page.
After inserting the same account details again the email account is listed multiple times.
(This means that the stored accounts are actually stored correctly in the database but not checked on startup)

[2015-04-23 11:23] Xenopathic commented on #444
`echo` will try to print to the server output, which is the response sent back to the client. This will only break things like the HTML layout or even JSON responses. You need to use `\OC::$server->getLogger()->log(...)`

[2015-04-23 11:28] Xenopathic commented on #526
But in the background, you have a window with the Mail app open? What I'm saying is, even if the user using ownCloud at that moment, or even if they haven't logged in that session at all, notifications would be pretty cool. I don't think HTML5 notifications can do that?

[2015-04-23 12:44] DeepDiver1975 commented on #526
Ah - got it! That's out of scope of html5 notifications - yes

[2015-04-23 12:45] DeepDiver1975 commented on #528
hmmm - most probably related to the localstorage again ....

[2015-04-23 13:57] wurstchristoph opened #529 "new mail is sent mutliple times"
I have experienced some odd behavior when I wanted to send a message (or save it as draft): Although the button is only clicked once, the messages is sent multiple times.
I noticed that it was dependent on how often I switched folders or clicked on 'New message'.

Steps to reproduce:
1. open the mail app
2. click 'New Message'
3. switch to some folder (e.g. INBOX)
4. repeat steps 2 and 3 a few tim

[2015-04-23 14:57] #467 closed

[2015-04-23 16:25] jancborchardt commented on #529
Yeah, also experienced that. Can you reproduce using the steps above @irgendwie @Henni @zinks-?

[2015-04-23 17:19] ArndOtten commented on #528
I had the same issue in firefox after a little complicated installation process. (Shared host, no ssh)
Problem was fixed by using the JS console and run localStorage.clear()

[2015-04-23 17:35] jancborchardt commented on #528
@ArndOtten ok, thank you – then it definitely has something to do with the caching.

@ArndOtten @Henni you are also very welcome in our IRC channel #owncloud-mail! :)

[2015-04-23 18:06] Henni commented on #528
I had this issue on Chrome and localStorage.clear() solved it.
But it occurs again after deleting my account and readding it.

[2015-04-23 19:49] zinks- commented on #529
And they keep adding up!
I clicked 4 different folders before sending "test", 2 folders before sending "test2", and only 1 before sending "test3"
![multiplemail](https://cloud.githubusercontent.com/assets/8377141/7305996/85b6ced6-ea02-11e4-8fc0-21a82a3e12d1.png)

[2015-04-23 20:10] zinks- commented on #524
Can't make it happen at bc13fa0
But it does at the #501 merge: 423a5f6
#501 seems to blame

[2015-04-23 20:13] zinks- commented on #528
I think this is the same as #524

[2015-04-23 20:32] zinks- opened #532 "Some strings are not displayed as translated"
Some UI strings are displayed in English regardless of the user's preference.
"New message", "Add mail account", "Check messages ..."

The translations are present in the l10n files.
I tested with French and Dutch.

[2015-04-23 20:33] zinks- commented on #532
To make sure it wasn't a caching issue, I tested at bc13fa0, before the 501 merge. The problem existed then too.

[2015-04-23 20:53] jancborchardt commented on #528
@ArndOtten @Henni can you confirm if this is the same as #524?

[2015-04-23 20:54] jancborchardt commented on #529
Setting priority for this since it’s the most core functionality. cc @DeepDiver1975 let’s debug this tomorrow.

[2015-04-24 06:41] marlemion commented on #444
Thanks.

Now I get:

{"reqId":"a76e62d04943e55d943d3c05f4fc01e5","remoteAddr":"80.137.118.18","app":"mail","message":"Setting up manually configured account","level":1,"time":"2015-04-24T06:39:33+00:00","method":"POST","url":"\/owncloud\/index.php\/apps\/mail\/accounts"}
{"reqId":"a76e62d04943e55d943d3c05f4fc01e5","remoteAddr":"80.137.118.18","app":"mail","message":"Connecting to imap","level":0,"

[2015-04-24 08:00] Xenopathic commented on #444
Looks like `getTotalMessages()` is returning nothing (or null), at least that's what I gather from those logs. Quick question though, are the `Mail server denied authentication` messages unrelated?

[2015-04-24 08:12] Henni commented on #528
Seems to be the same as #524

[2015-04-24 08:28] clementhk commented on #444
@Xenopathic I think `Mail server denied authentication` is what happened if you don't apply https://github.com/owncloud/mail/issues/444#issuecomment-94699763

[2015-04-24 08:31] clementhk commented on #444
So I'm right that `getTotalMessages()` could be `null`...
Anyone wants to send a proper pull request of https://github.com/owncloud/mail/issues/444#issuecomment-94699763 ?

[2015-04-24 09:39] Xenopathic commented on #444
Yes, seems like the best course of action is to put the `$bestGuess === null` check in when checking for `getTotalMessages()`

[2015-04-24 09:47] jancborchardt commented on #524
Can confirm this. There’s a ` script-src http://localhorst 'unsafe-eval'` warning in the Firefox console, but not in Chrome.

@LukasReschke your job. :)

[2015-04-24 09:50] jancborchardt commented on #528
Closing as duplicate of https://github.com/owncloud/mail/issues/524 then, let’s continue there. :)

[2015-04-24 09:50] #528 closed

[2015-04-24 10:19] jancborchardt commented on #532
Hm, I can’t confirm that. Just tested with German and French and it all works nicely.

For @DeepDiver1975 it also worked well. Do you still encounter this issue @zinks-? Can anyone confirm @Gomez @wurstchristoph?

[2015-04-24 10:41] Xenopathic opened #533 "Loading messages is performance-heavy"
It took my Raspberry Pi 128 seconds to load my inbox. Not good. The whole time the CPU was pegged at 100% too. Using IMAPS going through Gmail (my inbox is pretty big though, 100s of mails).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11960367-loading-messages-is-performance-heavy?utm_campaign=plugin&utm_content=tracker%2F216487&

[2015-04-24 10:43] jancborchardt commented on #533
It only loads the first 20 messages though, so a big inbox shouldn’t really be slower.

But … Raspberry Pi ;)

[2015-04-24 12:21] Xenopathic commented on #533
@jancborchardt Yeah, but for only the first 20 messages over 2 minutes is a *little* excessive...

[2015-04-24 12:24] jancborchardt commented on #533
Yup, that’s true.

[2015-04-24 12:32] Xenopathic commented on #533
I'll do some Blackfire benchmarks at some point, after 0.1 perhaps.

[2015-04-24 12:36] jancborchardt commented on #484
@owncloud/designers does anyone of you want to take a stab at this? Have looked into it twice and didn’t get any new ideas. :\

[2015-04-24 12:56] #244 closed

[2015-04-24 14:02] jancborchardt commented on #339
@irgendwie you mentioned you are interested in working on this? Would be a cool task to pick up and fix for 0.1. :)

[2015-04-24 14:51] #330 closed

[2015-04-24 15:16] jancborchardt opened #537 "Small glitches on setup"
1. When adding a new account, the inbox is reloaded again after a few seconds.
2. Adding a new account when one already exists, a loading spinner is shown overlaying the sidebar. Rather it should be below the existing account.

[2015-04-24 15:17] DeepDiver1975 opened #538 "IMAP: use mailbox status on 'Checking messages ...'"
once we merged https://github.com/owncloud/mail/pull/522

[2015-04-24 17:20] #524 closed

[2015-04-24 17:20] jancborchardt commented on #524
Fixed by disabling caching for now: https://github.com/owncloud/mail/pull/536

[2015-04-25 09:29] jancborchardt opened #539 "Unread messages in sent"
Sometimes some of my sent messages are marked as unread (bold). Hence an unread counter also shows on the »Sent« folder, which doesn’t really make sense. When I send a message, it should be marked as read.

[2015-04-25 09:58] ChristophWurst opened #540 "Show draft count"
Evolution shows a draft counter (similar to the unread message counter):
![](https://cloud.githubusercontent.com/assets/1374172/7332503/4a39c412-eb42-11e4-87f8-f7d5a6135f47.png)

I think this is great as you are reminded that there are messages left that have not been sent :)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/12060001-s

[2015-04-25 10:04] wurstchristoph commented on #539
Strange, messages are flagged as seen when they are appended to the sent folder:
https://github.com/owncloud/mail/blob/a3321b7f0e431cbfd3fd45cba17ef26838eea65e/lib/mailbox.php#L306-L314

Did you send those messages with the mail app or any other client?

[2015-04-25 10:06] jancborchardt commented on #539
Sent them with the Mail app. Definitely happens with Firefox, in the uid-validity branch. Can you test with that setup?

[2015-04-25 10:07] jancborchardt commented on #540
Yup, we should have that! :)

[2015-04-25 10:40] wurstchristoph commented on #539
Tested and reproduced. @DeepDiver1975 removed it here https://github.com/owncloud/mail/commit/0918ec30ca30b4eff9d4371e5c2328142bd75660#diff-ef08cb2c2dca0d6f4b3094d65f79ea93L313

There is no flag set now:
https://github.com/owncloud/mail/blob/uid-validity/lib/mailbox.php#L316-L327

I'm pretty sure we should add it back ;-)

[2015-04-25 15:16] wurstchristoph opened #542 "Unread counter decremented if message gets starred/unstarred"
If I change the starred flag on a message the unread counter in the folder list is decremented each time

[2015-04-25 19:21] wurstchristoph commented on #532
Tested it with German and all strings seem to be translated

[2015-04-25 19:22] jancborchardt commented on #532
@zinks- do you have some more info? Does it still happen? Any browsers, and ownCloud 8.0 or current master?

[2015-04-27 10:17] #393 closed

[2015-04-27 10:17] #539 closed

[2015-04-27 10:28] Xenopathic commented on #499
Deferring to 0.2

[2015-04-27 10:29] Xenopathic commented on #488
Deferring to 0.2

[2015-04-27 10:29] Xenopathic commented on #462
This seems like it'll be a big feature - deferring to 0.2

[2015-04-27 10:30] Xenopathic commented on #297
Deferring to 0.2

[2015-04-27 10:33] Xenopathic commented on #210
Given that this means looking through the entire code base, deferring to 0.2

[2015-04-27 10:34] irgendwie commented on #339
@jancborchardt currently working on it!

[2015-04-27 10:51] jancborchardt commented on #339
@irgendwie great stuff, looking forward! You can also submit a pull request white it’s still work-in-progress, then others can already look at it and review.

[2015-04-27 12:48] jancborchardt commented on #462
Not sure, we have adding attachments from files already. Maybe this is the next thing @DeepDiver1975 wants to work on? ;)

[2015-04-27 13:17] jancborchardt commented on #462
Keeping this one in 0.1 after talking to @DeepDiver1975. Thanks for cleaning up the other issues though @Xenopathic! :)

[2015-04-27 18:07] zinks- commented on #532
Probably something on my end, as now the issue has gone away!

[2015-04-27 18:58] Xenopathic commented on #532
@zinks- Excellent! One more issue for 0.1 closed!

[2015-04-27 18:58] #532 closed

[2015-04-27 19:43] zinks- commented on #542
I think `thisModel.get('flags').set('flagged', !starred);`
https://github.com/owncloud/mail/blob/master/js/views/message.js#L70
triggers `this.collection.on('change:flags', this.changeFlags, this);` https://github.com/owncloud/mail/blob/master/js/views/message.js#L157
and
[code]
https://github.com/owncloud/mail/blob/master/js/views/message.js#L171

Also sometimes, in the last snippet above, this e

[2015-04-27 20:46] zinks- opened #546 "Style the 'mail sent' message"
The notification that the message has been successfully sent can easily be missed by users, because it's plain and disappears after a few seconds.

[2015-04-27 21:56] jancborchardt commented on #546
Do you have any suggestion? Would a static »Message sent!« notification be better, which doesn’t vanish?
For replies ideally of course we have threading #21 and the answer is directly appended. But for new messages we can’t really do that.

[2015-04-27 21:57] jancborchardt commented on #529
Fixed by @zinks- through https://github.com/owncloud/mail/pull/545 :) :rocket:

[2015-04-27 21:57] #529 closed

[2015-04-28 13:47] Xenopathic commented on #453
Since we are about a week away from 0.1, I'm going to start marking any non-bug issues that haven't got some WIP implementation available as 0.2. Correct me if I'm wrong anyone!

[2015-04-28 13:49] Xenopathic commented on #485
From what I remember there is nothing much we can do in such a situation - the IMAP server literally just replies with `BAD`. It might be a good idea to log exactly what command caused that though... Anyhow, moving to 0.2

[2015-04-28 13:50] Xenopathic commented on #460
This seems like a bug - leaving on 0.1

[2015-04-28 13:51] Xenopathic commented on #328
Moving to 0.2, it doesn't seem urgent

[2015-04-28 13:52] Xenopathic commented on #95
Marking as priority - seems like a pretty major feature to me

[2015-04-28 13:53] Xenopathic commented on #537
I have a feeling this will take some time to implement - it's bad UX, but it's not major -> 0.2

[2015-04-28 14:03] stefan-niedermann commented on #328
@jancborchardt

Why not use calc-property? http://caniuse.com/#search=calc

[2015-04-28 14:14] DeepDiver1975 commented on #485
since #522 the while IMAP conversation is written to data/horde.log in case debug mode is enabled in the config.php - maybe this helps ....

[code]

[2015-04-28 14:14] DeepDiver1975 commented on #453
Awsome initiative @Xenopathic THX

[2015-04-28 18:00] jancborchardt commented on #453
@Xenopathic good call dude, thank you for managing that stuff. :)

[2015-04-28 18:01] jancborchardt commented on #328
@stefan-niedermann does calc allow us to say something like:
`width of this container minus scrollbar, but only in case scrollbar is present. Otherwise use width of this container`?
I assume not. :D

[2015-04-28 18:02] jancborchardt commented on #537
Still cc'ing @Gomez @DeepDiver1975 just in case someone has a bit of free time. ;)

[2015-04-28 18:02] jancborchardt commented on #460
Yeah, it’s definitely expected to work as it does also for new mails.

[2015-04-28 23:20] Xenopathic commented on #408
Unable to reproduce. Running oC Mail master on oC 8.0.2, vendor packages match those in composer.lock. Mail gets moved to trash without any problems (aside from a string-to-array conversion problem in logging fixed in #550). @jancborchardt @DeepDiver1975 Can you reproduce?

[2015-04-29 04:53] jancborchardt commented on #408
I could never reproduce.

[2015-04-29 06:56] wurstchristoph commented on #408
Well, I'm still having the issue. The strange part is, horde does not log any error:

[code]

The logs look good. However, the exception is still thrown. As the message is deleted as expected, maybe the lines
[code]
are the problem, but that's only a guess.

@Xenopathic I could provide you with a test account on my shared hosters mail server (world4you.com). Then you should be able to reproduce th

[2015-04-29 08:42] Xenopathic commented on #408
Ah, got it. By overriding my Dovecot's IMAP CAPABILITY response (`imap_capability = CAPABILITY IMAP4rev1 LITERAL+ SASL-IR LOGIN-REFERRALS ID ENABLE IDLE`) to match what your server responds with, I get the same error (and the faulty `SELECT ""` command). When using the default capabilities, everything works fine (`CAPABILITY IMAP4rev1 LITERAL+ SASL-IR LOGIN-REFERRALS ID ENABLE IDLE SORT SORT=DISPL

[2015-04-29 09:01] Xenopathic commented on #408
Right, the capability that causes this is `UIDPLUS`. Without it, I get the error, with it (default) I do not. Time to dig into the Horde libraries!

[2015-04-29 09:16] Xenopathic commented on #408
Well, the problem is obvious now that I look at the code. https://github.com/horde/horde/blob/master/framework/Imap_Client/lib/Horde/Imap/Client/Socket.php#L2112 is run to perform the expunge on mails with the deleted flag, however that function sets `$this->_selected` to null (the connection is closed, obviously). However, the code then expects `$this->_selected` to still be valid for https://git

[2015-04-29 09:33] Gomez opened #551 "No mails shown - but the folders"
Installed mail master on oC 8.0.2. Done manual mail config, connection works but no mail appears:

![](http://steffen-lindner.de/temp/mail_app.png)

Log if i click on Posteingang:
[code]
Log if i click on Gesendet:
[code]

[2015-04-29 09:47] Xenopathic commented on #408
I fixed the issue in Horde and submitted a patch: https://bugs.horde.org/ticket/13970. Nothing to do but wait now :smile:

[2015-04-29 09:59] Xenopathic commented on #551
Could you enable IMAP backend logging (`'app.mail.imaplog.enabled' => true` in config.php) and post the command stream here? There'll be lots of output - you will want to pick out the relevant section.

[2015-04-29 10:48] Gomez commented on #551
These are the last lines after a click on "Inbox":

[code]

Mail #95 was already deleted.

We got the same error ages ago, but probably never fixed it. I can workaround it if i switch to thunderbird, click on the account and execute "compact". Now i can see my mail in oc mail until ...

[2015-04-29 11:21] wurstchristoph commented on #408
Great! Thanks a lot for debugging this :+1:

[2015-04-29 12:12] Xenopathic commented on #408
@wurstchristoph Want to test the patch to see if it fixes your problem? Get the patch from the attached ticket, then `cd` to `vendor/pear-pear.horde.org/Horde_Imap_Client`, then run `patch -p 4 < /path/to/patch.patch`. It might help get the patch reviewed by Horde quicker too :smile:

[2015-04-29 12:49] wurstchristoph commented on #408
Applied the patch and now I can finally delete my mails :grinning:

[2015-04-29 12:54] wurstchristoph opened #553 "Delete "Favorites" message not working"
Messages in the favorites folder cannot be deleted.

owncloud.log says ```Could not open mailbox "INBOX/FLAGGED"```

Horde log:
[code]

[2015-04-29 13:16] wurstchristoph commented on #444
My gmail account works now, the issue seems to be resolved.

[2015-04-29 15:56] jancborchardt commented on #551
(Sidenote: Why is are there two »Sent mail« folders? Just testing, or a bug on our side?)

[2015-04-29 15:59] jancborchardt commented on #408
@wurstchristoph best also comment on @Xenopathic’s ticket https://bugs.horde.org/ticket/13970 :)

@Xenopathic you have karoshi.org.uk? That’s hilarious :'D

[2015-04-29 16:34] jancborchardt commented on #553
Can confirm. JS console:
[code]
horde.log
[code]
owncloud.log
[code]

@DeepDiver1975 @Xenopathic @LukasReschke any idea?

[2015-04-29 16:39] Xenopathic commented on #408
Merged! https://github.com/horde/horde/commit/afe1cd81f7e5fe374d5f7952956cdf15319601da

[2015-04-29 16:41] Xenopathic commented on #408
@jancborchardt What's hilarious about my email? :p

[2015-04-29 17:28] jancborchardt commented on #408
Well, the meaning of Karoshi. ;)

[2015-04-29 17:29] jancborchardt commented on #408
@Xenopathic so will this be backported in Horde or something like that?

[2015-04-29 18:05] DeepDiver1975 commented on #553
That inbox/flagged is a special folder - no imap folder.  I will take care of this ....

[2015-04-29 18:12] Xenopathic commented on #408
@jancborchardt RE email: hehe yeah the translation of that is very... interesting. Still, I've had it for years, I'm surprised you only noticed it now!

It will be coming out in Horde Imap Client 2.28.1, hopefully soon.

[2015-04-29 20:01] #408 closed

[2015-04-29 20:09] DeepDiver1975 opened #557 "l10n plural form missing ...."
https://www.transifex.com/projects/p/owncloud/translate/#sr/mail/47291092

[code]

[2015-04-30 11:18] Gomez opened #558 "jshint optimization"
Working on js testing i enabled jshint (https://github.com/owncloud/mail/pull/555) this is the output, some1 up for fixing it:

[code]

Or should i disable something?

[2015-04-30 13:12] jancborchardt commented on #443
Closing as duplicate of https://github.com/owncloud/mail/issues/166 – let’s continue there. :)

[2015-04-30 13:12] #443 closed

[2015-04-30 13:52] DeepDiver1975 commented on #558
adding oc_defaults to the very first line should be enough: https://github.com/owncloud/mail/blob/master/js/views/folder.js#L1

[2015-04-30 22:14] jancborchardt commented on #27
As soon as ownCloud Mail is supported by Mailvelope by default (see https://github.com/mailvelope/mailvelope/issues/303) we could add a notice to the setting like:

[2015-05-01 14:23] jancborchardt opened #560 "More relevant »No messages in this folder« message"
Currently the »No messages in this folder« message is the same for every folder, and the icon is always a mail.

Instead, we should have specific messages using the folder names, and for the special folders also using the specific icons. It could just be like »No messages in <foldername>« like:
* No messages in Favorites
* No messages in Drafts
* No messages in Paperwork-Bla

And then using the Fa

[2015-05-01 15:17] yeupou opened #561 "Show only spinners... Stuck there"
Hello,

I'm giving the mail app a try but I cannot get past the spinners. Nothing shows up either if I click on the configure wheel.

Dependencies and all show be fine and I'm using owncloud 7 as including in Debian stable.

Latest log message is
{"app":"webdav","message":"Sabre\\DAV\\Exception\\MethodNotAllowed: The resource you tried to create already exists","level":4,"time":"2015-05-01T15:16:2

[2015-05-01 15:51] DeepDiver1975 commented on #561
the mail app requires ownCloud 8 at least

[2015-05-01 15:51] DeepDiver1975 commented on #561
https://github.com/owncloud/mail/blob/master/appinfo/info.xml#L14

[2015-05-01 15:52] #561 closed

[2015-05-01 16:05] yeupou commented on #561
Ok, it may be worth to update the main description of the app then "An email app for ownCloud (minimum version 7)." https://github.com/owncloud/mail

[2015-05-01 16:11] jancborchardt commented on #561
@yeupou thank you! Corrected it https://github.com/owncloud/mail/blob/master/README.md

Please let us know of any other issues you encounter. You are also very welcome in our IRC channel #owncloud-mail. :)

[2015-05-01 16:17] jancborchardt commented on #95
Moving this to 0.2 though as it’s not as important as other stuff in the milestone and we’re running out of time. :)

[2015-05-01 16:42] jancborchardt opened #562 "Automatically reduce size of textarea again after sending"
Currently when you wrote a long answer to an email, the textarea is very tall (as it should be). However after successfully sending it should collapse to the default height again.

I tried that by calling `$('.reply-message-body').autosize();` after the value of the textarea is emptied but it doesn’t really work. :\

Any ideas @owncloud/designers?

[2015-05-01 16:49] jancborchardt commented on #526
This would be a nice 3rdparty extension, but nothing we should do. People who are technical enough to install extensions probably have a mail tab open at all times anyway. ;)

One thing though: Is it possible to show the notifications when an ownCloud tab is open even with another app like Files? Then we could also show a red circle on top of the Mail app icon in the app switcher.

[2015-05-01 16:58] jancborchardt commented on #328
Fix at https://github.com/owncloud/mail/pull/563, please review :)

[2015-05-01 17:20] Xenopathic opened #564 "ManageSieve support"
The ManageSieve protocol is used to manage server-side mail filters, to apply actions to mail that matches a filter rule (~~like moving all emails that come from @jancborchardt to the Trash~~). Good news is, [Horde already thought of this!](http://dev.horde.org/api/master/lib/ManageSieve/)

[2015-05-01 17:24] jancborchardt commented on #564
Is this related to / maybe even a duplicate of https://github.com/owncloud/mail/issues/351?

(Also related: https://github.com/owncloud/mail/issues/57)

[2015-05-01 17:30] Xenopathic commented on #564
Hmm, #351 sounds similar but would be implemented differently. I think Dovecot can be configured to present the sieve folder as another mailbox, but an alternate (and seemingly more standardised from what I've read) way is through the ManageSieve protocol (also integrated into Dovecot, but not limited to it)

[2015-05-01 23:11] colmoneill opened #566 "Autofill of the email settings form"
These were the values that autofilled when adding an account to the mail app.

![screenshot from 2015-05-01 22 35 44](https://cloud.githubusercontent.com/assets/2122318/7438664/2baf8e98-f068-11e4-987c-f8bc1b79ad57.png)

I had to go and delete the autofilled values to find out what the form actually wanted, and it filled in based on my oC account, which are not the same as my external mail settings

[2015-05-01 23:12] colmoneill opened #567 "Centering the form"
Adding in a new mail account, the form seems to be off center?

![screenshot from 2015-05-01 22 35 44](https://cloud.githubusercontent.com/assets/2122318/7438675/5685e81a-f068-11e4-9188-842f09e445b2.png)

[2015-05-01 23:14] colmoneill opened #568 "Add BCC in reply form"
The reply form at the end of a displayed mail has a carbon copy field, but not a blackened cc field.

[2015-05-01 23:25] jancborchardt commented on #568
Right, good call. We must’ve forgot. :D

[2015-05-01 23:26] jancborchardt commented on #567
Yes it is. And I expect you to submit a pull request to fix it. :rocket: :D

[2015-05-01 23:27] jancborchardt commented on #537
The first issue:

is really strange and should definitely be fixed for 0.1 – it makes for a really unstable experience.

[2015-05-01 23:28] jancborchardt commented on #304
@Gomez can you solve that for 0.1? Otherwise it results in a subpar UX, especially on first run.

[2015-05-01 23:29] jancborchardt commented on #484
@colmoneill I’m handing this off to you. :)

[2015-05-01 23:30] jancborchardt commented on #566
So in this case the full name (first field) is correctly filled. The problem is that the email address and password are prefilled with the _ownCloud username and password_.

Is there any way we can prevent this? I heard you did something like that for the LDAP app @blizzz? cc @owncloud/designers

[2015-05-01 23:43] jancborchardt opened #569 "Clear search on navigation"
1. Search something in a folder
2. Navigate to another folder
3. The placeholder "no results for …" shows up before the folder is loaded

Clearing the search on navigation will probably fix that.

@DeepDiver1975 @wurstchristoph @zinks- anyone up for fixing this?

[2015-05-01 23:45] colmoneill opened #570 "Confusion between Mail and Contacts app"
Because of the usage of the 'contact monograms' in the inbox list, I thought that 'starring' was going to place that contact into my favourite contacts, not add it to my favourite emails.

![screenshot from 2015-05-01 23 31 31](https://cloud.githubusercontent.com/assets/2122318/7438887/b1e6674e-f06c-11e4-870b-81feec45eb41.png)

I guess this is more a tribute to the platform than anything else, but

[2015-05-02 15:33] yeupou opened #572 "SMTP protocol synchronization error (input sent without waiting for greeting): rejected connection from H=localhost"
Hello,

When trying to connect, I get "Error connecting to SMTP server" and the following in the exim logs

2015-05-02 17:29:14 SMTP protocol synchronization error (input sent without waiting for greeting): rejected connection from H=localhost [127.0.0.1] input="\026\003\001\002"
2015-05-02 17:29:27 SMTP protocol synchronization error (input sent without waiting for greeting): rejected connection

[2015-05-02 15:59] Xenopathic commented on #572
It sounds like you have set the wrong security mode - try changing SSL/TLS to None or to STARTTLS. Those bytes you are seeing are the client handshake of an SSL negotiation, which clearly your server doesn't use.

[2015-05-02 16:10] yeupou commented on #572
Ok, so it turns out that even when you put "none", it still tries to do some SSL and put as port number 587 (odd).
When putting the regular port 25, then it works.

Aside from that, on a server that actually does support SSL/TLS, it should work nonetheless.

[2015-05-02 17:20] Xenopathic commented on #572
So just to confirm - you tried None with a port of 587, and got these errors, but changing the port to 25 works fine?

[2015-05-02 19:23] Xenopathic opened #573 "iframe needs to be resized on parent window resize"
When the browser window gets resized, the width of the iframe changes, reflowing the content of the message and causing the height to change. However, that height doesn't get updated, so a second scrollbar can show up inside the iframe. We should run a handler on window resize that updates the height property of the iframe, and probably some CSS to prevent the scrollbar showing up between updates.

[2015-05-03 08:30] RandolfCarter commented on #328
:+1 thanks!

[2015-05-03 12:20] yeupou commented on #572
Yes.

[2015-05-03 14:27] jancborchardt commented on #304
Can we fix this for 0.1? @Gomez @DeepDiver1975

[2015-05-03 14:27] jancborchardt commented on #460
This would really be good for 0.1 @DeepDiver1975

[2015-05-03 14:28] jancborchardt commented on #462
@DeepDiver1975 I’m deferring again to 0.2 since it doesn’t look like we’ll be able to get this for 0.1

[2015-05-03 14:32] Gomez commented on #304
Not in my area of experience. Maybe later on...

[2015-05-03 15:07] #570 closed

[2015-05-03 15:07] jancborchardt commented on #570
'tis fixed!

[2015-05-03 18:07] colmoneill commented on #484
On second look, I'm wondering why is the input button is inside the reply field?
![screenshot from 2015-05-03 20 05 47](https://cloud.githubusercontent.com/assets/2122318/7446159/da1f3e7a-f1cf-11e4-88b3-f343fb698419.png)

[2015-05-03 19:47] DeepDiver1975 commented on #462
WAIT ... I'm HACKING ON THIS AT THE MOMENT!

[2015-05-03 19:59] jancborchardt commented on #484
(@colmoneill as we talked about, to hint at the relation of the elements. Any stuff like forward or reply all would be behind a dropdown button like http://getbootstrap.com/components/#btn-dropdowns-split)

[2015-05-03 20:00] jancborchardt commented on #462
Ohh good news! :) (Also remember it for replying then https://github.com/owncloud/mail/issues/460)

[2015-05-03 20:43] DeepDiver1975 commented on #462
I'm too stupid for jquery -> 0.2

[2015-05-03 21:28] DeepDiver1975 opened #578 "Unused variable"
see https://scrutinizer-ci.com/g/owncloud/mail/inspections/494787a4-e0ec-4cce-8d94-12fa7d86fdaa/issues/files/lib/account.php?status=new&orderField=path&order=asc#inspectioncomment-780081936

[2015-05-03 22:18] jancborchardt commented on #460
Can we do this for 0.1 then? Probably doesn't involve as much jQuery as #462

[2015-05-03 22:49] DeepDiver1975 commented on #460
doable

[2015-05-04 00:44] colmoneill commented on #567
I submitted a pull request. Details in the request.

[2015-05-04 10:30] jancborchardt commented on #27
There’s a slight issue with Mailvelope we need to look into: The message text pasted into the textarea does not result in the textarea being resized nor the send button being activated:
![capture du 2015-05-04 12 28 30](https://cloud.githubusercontent.com/assets/925062/7452108/699b139c-f259-11e4-8004-10b2397a7300.png)

[2015-05-04 10:32] jancborchardt opened #582 "Encrypted text inserted by Mailvelope does not resize textarea nor activate send button"
There’s a slight issue with Mailvelope we need to look into: The message text pasted into the textarea does not result in the textarea being resized nor the send button being activated:
![capture du 2015-05-04 12 28 30](https://cloud.githubusercontent.com/assets/925062/7452108/699b139c-f259-11e4-8004-10b2397a7300.png)

[2015-05-04 11:18] blizzz commented on #566
If you totally want to avoid auto-fill, then this is how I did it:

Template: https://github.com/owncloud/core/blob/c6151053ba97eb474a4b3f5249e3a0c99ad05d95/apps/user_ldap/templates/part.wizard-server.php#L1

CSS: https://github.com/owncloud/core/blob/master/apps/user_ldap/css/settings.css#L207

[2015-05-04 11:54] jancborchardt commented on #573
I’d say this is something for 0.2

[2015-05-04 12:30] Gomez commented on #558
Fixed with https://github.com/owncloud/mail/pull/555

[2015-05-04 12:32] Gomez opened #585 "Add jasmine Testing"
With this pr i wanna add jasmine tests. And make the Build Automation work.

* [x] Manage js dependencies with NPM (development stuff)
* [x] Manage js dependencies for front-end packages with Bower
* [x] Requirejs as file and module loader
* [x] Jasmine as test framework

I am not (yet) a js guy, so is this good to go? Choosed this tools, because they are known and don’t go away next week (and i w

[2015-05-04 12:41] Gomez commented on #551
@jancborchardt  On my side. I had two send folders (Created by a other mail client, i think)

@Xenopathic Something i can help ( i can create a test email account if needed)? The app is not use-able for me (probably others too)

[2015-05-04 13:16] jancborchardt commented on #558
#555 is not merged yet, so not closing yet. ;)

[2015-05-04 14:50] jancborchardt opened #591 "Loaded message replaces »New message« form"
1. Open a folder (or initial load)
2. Click the »New message« button before everything loaded
3. The new message dialog will show
4. Will swiftly get replaced by the topmost message in the folder which is loaded
5. AND the new message button is disabled

This shouldn’t happen. The last user action/click should always get the upper hand. In that case the message list should show the messages of the

[2015-05-04 16:42] jancborchardt commented on #546
This was fixed by https://github.com/owncloud/mail/pull/584, where we use the standard yellow ownCloud notification up top.

[2015-05-04 16:42] #546 closed

[2015-05-04 17:32] jancborchardt commented on #484
Ugh, both @colmoneill and I didn’t find a solution. Any idea @owncloud/designers?

[2015-05-04 20:04] zinks- opened #593 "Ask for confirmation before delete account"
The account settings are deleted as soon as we click the 'delete' icon in the settings pane.
We should ask for a confirmation (as this is a rather "serious" action, I'd prefer that to an "undo")

[2015-05-04 20:12] Xenopathic commented on #593
Well, the confirmation is in opening the settings pane, surely?

[2015-05-04 20:15] Xenopathic commented on #566
@blizzz WOW, that's a hack and a half! :see_no_evil:

[2015-05-04 20:23] jancborchardt commented on #593
@zinks- undo is the exact same thing as a confirmation from the technical side – the action would only be carried out after undo has not been clicked for ~10 seconds (but visually it would already vanish).

I’d say an undo would be good here. Better than a confirmation or the current state for sure. ;)

[2015-05-04 20:24] #487 closed

[2015-05-04 20:39] blizzz commented on #566
seems to be the only thing that works so far and is not overly complicated.
Yet.

[2015-05-04 20:55] DeepDiver1975 commented on #537
4fc341e4e751d9125fbf94834a1c78f9da4b76a7 simply disables the spinner for now - moving it has some impact I'm not willing to take at the moment

[2015-05-04 21:31] DeepDiver1975 commented on #591
this is actually not that easy - we have to remove the composer in case the user switches the folder.

The same happens in the described scenario above - I see no way to differentiate the two calls.

[2015-05-04 21:32] DeepDiver1975 commented on #591
maybe we simply enable the new message button after the initial load?

[2015-05-04 21:42] DeepDiver1975 commented on #591
AH - insert evil grin meme ...

[2015-05-04 22:07] wurstchristoph opened #595 "'Check mail' button label changes"
After the app is loaded the button says 'Check messages ...'
![](https://cloud.githubusercontent.com/assets/1374172/7463496/40d0160e-f2ba-11e4-9fe1-9d27ebb85bbf.png)

However, after clicking it once, it says 'Check mail'
![](https://cloud.githubusercontent.com/assets/1374172/7463497/40d1b73e-f2ba-11e4-8393-fc22d1e8fd33.png)

Not a critical bug but some consistency would be great ;-)

[2015-05-05 04:48] #117 closed

[2015-05-05 04:50] jancborchardt commented on #339
Fixed via https://github.com/owncloud/mail/pull/574 thanks to @irgendwie! :)

[2015-05-05 04:56] jancborchardt commented on #595
Good catch! Fix at https://github.com/owncloud/mail/pull/598 :)

[2015-05-05 04:58] #339 closed

[2015-05-05 05:48] jancborchardt opened #600 "Close sidebar when going to »Add new account« on mobile/tablet"
Currently the sidebar stays which makes the new account form overlap. It should hide though just like it does when opening any folder.

cc @colmoneill @wurstchristoph

[2015-05-05 05:56] jancborchardt commented on #566
Fix at https://github.com/owncloud/mail/pull/601, please review!

[2015-05-05 06:37] #569 closed

[2015-05-05 07:15] #595 closed

[2015-05-05 07:23] jancborchardt commented on #453
Updated the original post with the stuff we need to do. Anything I missed (also cc @clementhk @irgendwie)

[2015-05-05 07:29] zinks- commented on #593
@Xenopathic if the settings pane was a 'delete account' pane, maybe but that's not the case
@jancborchardt  'undo' is better for "small" actions (delete something that goes to the trash), when it's ok if you miss the undo timeframe. Setting up an account can be a hassle for some users especially if they have to use the manual mode and don't know all their settings.

[2015-05-05 07:33] clementhk commented on #562
https://github.com/owncloud/mail/blob/4ee3a386b3004fe345cbb05b4d2fc60815c19761/js/jquery.autosize.js#L248

[2015-05-05 07:48] clementhk commented on #453
I just installed it for the first time, it feels like still have a long way to go :).
Hope you'll get more contributors once it's launched.

[2015-05-05 07:54] ChristophWurst opened #602 "Store reply drafts on IMAP server"
Currently reply message are simply cached in local storage. For best integration with other mail clients, those draft should also be saved to IMAP

[2015-05-05 07:56] wurstchristoph opened #603 "Save draft attachments"
Saving drafts currently ignores any attachments, they should be saved to IMAP too.

[2015-05-05 07:58] wurstchristoph opened #604 "Toggle (open) cc/bcc inputs when opening draft with cc/bcc"
The cc/bcc inputs should automatically be shown when loading a draft where at least one of those inputs is not empty

[2015-05-05 08:01] wurstchristoph opened #605 "Support of HTML drafts"
Some mail clients create HTML drafts which cannot be opened at the moment, a error is shown instead.

For integration with other mail clients also HTML drafts have to be supported. This may need some advanced (HTML) editor to work properly.

[2015-05-05 08:10] jancborchardt commented on #551
@Gomez which provider is that? And yeah, best create a test mail account and give the credentials to @Xenopathic and @DeepDiver1975

[2015-05-05 08:25] clementhk commented on #551
I'd also like to have a test account only if it's not too much trouble as I'm just interested of knowing what you're facing.

[2015-05-05 08:27] jancborchardt opened #606 "On mail sending error, show more permanent error and enable send button again"
When there’s an error reaching the IMAP server, the error vanishes too quickly. I sent a message, switched to another app, then when I switched back the text was still in the box and the send button was deactivated. I needed to check the log to confirm that it was a connection issue.

In that case, the yellow oc notification should show up top and the send button should be activated again. cc @Dee

[2015-05-05 08:41] zinks- commented on #453
@clementhk you mean you managed all that work without having the app up and running? :astonished:

[2015-05-05 09:27] jancborchardt commented on #593
@zinks- well – but 10 seconds ought to be enough for that eh? It’s pretty obvious by you clicking the button, the account and folders vanishing right away, and the yellow notification showing up.
I would agree if this was not an IMAP client but a mail client and all the mails would be removed – but not in this case. ;)

[2015-05-05 09:33] jancborchardt commented on #453
@clementhk yeah, for sure. :) What exact points did you stumble over or where did you miss things which are not in issues yet? Please open new issues for all of those. :)

[2015-05-05 09:40] jancborchardt commented on #562
@clementhk how can I call that function outside of the library though?

`$('textarea').on('autosize.resize', adjust);` does not work.

[2015-05-05 12:30] #304 closed

[2015-05-05 12:32] #566 closed

[2015-05-05 12:41] jancborchardt commented on #453
Btw everyone, we need to also especially test the integration with Contacts (recipient suggestions) and Files (attachment loading and saving).

[2015-05-05 13:20] Xenopathic opened #608 "Attach files via ownCloud public link instead of as real attachment"
For large files, sending via email is highly inefficient and often denied by server configuration. Similar to Thunderbird's File Link, the user should be able to (with one click) publicly share a file in their ownCloud and attach that file as a link to the email.

[2015-05-05 13:24] jancborchardt opened #609 "Regression: cc field not prefilled on replies"
Heyhey @wurstchristoph it seems your commit e97e87480a856c33cbc0e7431fb9eabcf9357393 broke the display/prefill of cc when replying. ;) The field is shown, but not correctly filled in.

cc @DeepDiver1975

[2015-05-05 13:24] jancborchardt commented on #609
(Also, sorry for the sloppy review – we should have caught that. :)

[2015-05-05 13:35] jancborchardt commented on #608
Homie, we thought of everything already ;) https://github.com/owncloud/mail/issues/251

So yeah, that would be really cool, also for security reasons to keep the files on one’s own space. If you’re up for it, we can have it in 0.2 :)

[2015-05-05 13:35] #608 closed

[2015-05-05 13:39] Xenopathic commented on #608
Hmm, I must have missed that (I *did* look for duplicates!)

[2015-05-05 13:53] jancborchardt commented on #608
Well at least it means we’re on the same page – and we have a volunteer for the implementation. :tada: :D

[2015-05-05 14:00] clementhk commented on #453
@zinks- with travis :)

[2015-05-05 14:02] jancborchardt commented on #453
@clementhk woah :D well done. In any case I hope you now dogfood the app. ;)

[2015-05-05 14:02] Xenopathic commented on #608
*cough* *splutter* :worried:

[2015-05-05 14:37] Xenopathic commented on #460
I've tried to get started on this, but the code is an absolute mess! There's sending logic in js/send-mail.js for replies and in js/views/sendmail.js for new mails, templates/compose.php seems completely broken at the moment, and there are so many hooks and events all over the place it's getting hard to keep track of things.

[2015-05-05 16:17] zinks- opened #611 "Subfolders don't load"
Clicking on a subfolder does not show it's content, the spinners stay on screen.

the error occurrs in this code (**folder.js**) :
[code]
``TypeError: activeFolder is undefined``

The Json message list is retrieved successfully, though.

[2015-05-05 16:53] #553 closed

[2015-05-05 19:22] colmoneill commented on #600
Is this what you mean @jancborchardt ?

![screenshot from 2015-05-05 21 21 11](https://cloud.githubusercontent.com/assets/2122318/7480943/b8f9d9be-f36c-11e4-954f-834075c9212b.png)

[2015-05-05 19:54] jancborchardt commented on #600
This is what it looks like for me:
![capture du 2015-05-05 21 54 03](https://cloud.githubusercontent.com/assets/925062/7481582/4ad6b6b4-f371-11e4-9fe5-735cfa505707.png)

[2015-05-05 20:04] jancborchardt opened #612 "Mails don’t load after going back from »Add new account« page"
1. Have an account configured
2. Go to »add new account«
3. Try to go back by clicking any folder in the sidebar

Expected: The folder loads and the first mail is automatically loaded

What happens: The folder loads, but no emails load. Also not when clicking another folder, or clicking individual emails. The content area always stays empty.

cc @DeepDiver1975 @wurstchristoph @clementhk @zinks-

[2015-05-05 20:11] jancborchardt commented on #600
This is what it looks like for me:
![capture du 2015-05-05 21 55 25](https://cloud.githubusercontent.com/assets/925062/7481613/82b7c690-f371-11e4-8b98-d644bc2cf1cd.png)

[2015-05-05 21:18] colmoneill commented on #600
Could this be due to the z-index property on this form? I didn't really understand why it had to be indexed at 1001?

[2015-05-05 21:21] jancborchardt commented on #600
@colmoneill cause otherwise it was hidden below the white background of the app-content. Even modifying any z-index would only change the problem to the sidebar overlapping the form.

But what we really want here is that a click on the »add mail account« button will show the form _and_ hide the sidebar if it’s shown.

[2015-05-05 21:22] colmoneill commented on #600
Ah, so it's about the interaction, I was not looking at that at all. Ok!

[2015-05-05 21:29] jancborchardt commented on #591
Solved by #594

[2015-05-05 21:29] #591 closed

[2015-05-05 21:33] jancborchardt commented on #537
Solved by #590

[2015-05-05 21:33] #537 closed

[2015-05-05 21:34] jancborchardt commented on #551
@gomez moving to 0.2 since this is likely some specific issue with your setup. If you want it to be fixed faster, you need to supply test accounts to folks like @DeepDiver1975 @clementhk @wurstchristoph @Xenopathic ;)

[2015-05-05 21:35] wurstchristoph opened #614 "'Delete permanently' tipsy not shown for next message"
The tipsy should be shown for the next message in the message list if one clicks the trash icon.

Steps to reproduce
- go to trash folder
- click  trash icon of a message (not the first one)
- watch how it vanishes and the next one comes up
- the next messages tipsy should be shown, even if you don't move your cursor

There is no issue when deleting the first message in the list, the next tipsy is

[2015-05-05 22:21] jancborchardt opened #615 "Links with special characters not recognized"
For example:
https://ma.ellak.gr/events/5ος-εκπαιδευτικός-κύκλος-σεμιναρίων-ε-5/

[2015-05-05 22:22] jancborchardt commented on #614
@irgendwie can you check that out? :)

[2015-05-05 22:27] irgendwie commented on #611
Having a subfolder in the inbox even leads to only one spinner (in the middle) and no rendering (only the navigation with account settings appears) for me.

[2015-05-05 22:51] Xenopathic commented on #551
@Gomez Feel free to send the details via email :smile:

[2015-05-05 22:57] DeepDiver1975 commented on #551
@Gomez did you fetch latest horde libs by running composer install?

[2015-05-05 23:35] sndrsk opened #617 "Accounts don't load, Horde log says "NO Mailbox does not exist, or must be subscribed to.""
This is happening on a Dreamhost shared server with a Dreamhost-hosted IMAP e-mail account.

### Steps to reproduce
1. Added e-mail account

### Expected behaviour
Mail app should load

### Actual behaviour
Yellow banner that says "error while loading the selected account" and account does not load

### Server configuration
**Operating system**: Debian wheezy/sid

**Database:** SQL

**PHP version:

[2015-05-05 23:38] #609 closed

[2015-05-05 23:54] Xenopathic opened #618 "Sub-sub folders not handled correctly"
I have a subfolder of a subfolder, and it appears as 'SubFolder.SubSubFolder' instead of as a dropdown. Also it’s not loaded. Other email clients correctly deduce the sub-subfolder structure.

[2015-05-06 00:01] jancborchardt commented on #562
Wanted to move to the new autosize version but that comes with quite some issues. Postponing to 0.2

[2015-05-06 00:02] jancborchardt commented on #617
@DeepDiver1975 @zinks- @wurstchristoph any idea?

[2015-05-06 00:15] clementhk commented on #562
Doesn't it look a bit like we need to call `$('textarea').autosize.resize;` after we use js to empty textarea?

[2015-05-06 00:16] clementhk commented on #562
Anyways I think it'll be good to upgrade autosize.

[2015-05-06 00:28] jancborchardt commented on #562
@clementhk well, try:
[code]
… nothing will happen.

As said above, we will only update to the new  autosize with 0.2 – I just tried it and there are some glitches.

[2015-05-06 00:29] jancborchardt commented on #618
We decided to flatten the hierarchy like that. The folder should be accessible though.

[2015-05-06 00:32] clementhk opened #619 "cc is not filling in from draft"
#613 tried to fix cc problem but it didn't fix the whole thing.
I think `value="{{replyCc}}"` was introduced from filling in cc from draft, but the problem is that `replyCc` is not a list. I think to fix it down to the bottom we need to make draft in local storage to store CC in list, then use is directly, or parse what is stored to make it a list, then fill it in.

[2015-05-06 00:40] clementhk commented on #562
Try this.

[code]

[2015-05-06 07:51] Xenopathic commented on #618
@jancborchardt Doesn't that defeat the purpose of sub-subfolders, which is to restrict the number of folders being shown? I see why it was done, but I think there should be a dropdown (even if there is no indentation inside the dropdown)

[2015-05-06 07:53] Xenopathic commented on #617
Looks like we are getting `INBOX.Trash` returned from the LIST, but for some reason are using `Trash` without the sub-folder structure.

[2015-05-06 07:57] clementhk commented on #617
https://github.com/owncloud/mail/blob/master/lib/mailbox.php#L165
This could be why...
There is a horde bug making folderID inconsistent, that's why we have this, but maybe I should dig into it sometime to fix it upstream for good..

[2015-05-06 08:00] Xenopathic opened #620 "Adding attachment with no file selected results in phantom attachment"
~~Clicking on 'Add attachment from Files' brings up the dialog, but then clicking 'Choose' just does nothing and an error is printed to the JS log: `TypeError: this.$filePicker is null`~~

Going to add an attachment, but not selecting anything and clicking Choose results in a phantom attachment appearing, and an error appearing in the JS log: `TypeError: this.$filePicker is null`

Occurs on oC mas

[2015-05-06 08:02] clementhk commented on #617
I think you can remove the part that is removing `INBOX` prefix from `getFolderId() `, we only have problem when creating mailbox. We could make a hack to make folderId consistent for now.

[2015-05-06 08:16] jancborchardt commented on #617
@DeepDiver1975 @clementhk @Xenopathic 0.1 or 0.2?

[2015-05-06 08:19] Gomez commented on #551
Will do @Xenopathic. Need some time. Milestone 0.2 is fine for me.

[2015-05-06 08:23] clementhk commented on #617
Unhack `getFolderId()` and test it, if it works then 0.1.

[2015-05-06 08:24] clementhk commented on #617
[code]

-->

[code]

[2015-05-06 08:30] jancborchardt commented on #619
@wurstchristoph :)

[2015-05-06 08:31] jancborchardt commented on #620
It does work for me with no problems.

[2015-05-06 08:37] jancborchardt commented on #618
Yeah, something for 0.2 then probably. ;)

The important thing is: You are able to open sub-subfolders, right?

[2015-05-06 08:49] Xenopathic opened #621 "Need a spinner on attachment chooser"
When adding an attachment, the file chooser dialog is initially displayed empty while the file list is fetched. During this time the user may think something is broken, or that they must click on Choose to choose a file (I certainly did... ref #620). We should have a spinner indicating the content is loading.

cc @jancborchardt

[2015-05-06 08:49] jancborchardt commented on #562
@clementhk that was it, thank you! Please review https://github.com/owncloud/mail/pull/622

[2015-05-06 08:53] Xenopathic commented on #618
As far as I can tell, no. The spinners just sit there endlessly. I can see the request to get a message list is sent, and an (empty) response is received, but the spinners never end. This happens for ordinary subfolders too.

[2015-05-06 08:56] jancborchardt commented on #618
Ah right, that’s https://github.com/owncloud/mail/issues/611 then – can you test if https://github.com/owncloud/mail/pull/616 fixes that for you?

(I’m changing this "add dropdown for sub-subfolders" as enhancement.)

[2015-05-06 08:58] jancborchardt commented on #621
@Xenopathic this is a core issue though with the filepicker. We didn’t code that in the Mail app. :) Can you open it in core instead?

[2015-05-06 09:05] jancborchardt commented on #617
@Xenopathic or @DeepDiver1975 can you do that?

[2015-05-06 09:15] jancborchardt commented on #620
Closing in favor of core issue https://github.com/owncloud/core/issues/16106 (disable the Choose button until a file is chosen)

[2015-05-06 09:15] #620 closed

[2015-05-06 09:15] jancborchardt commented on #621
Closing this in favor of core issue https://github.com/owncloud/core/issues/16105

[2015-05-06 09:15] #621 closed

[2015-05-06 09:37] jancborchardt commented on #600
The problem of the sidebar staying open also appears when you click the »New message« button.

[2015-05-06 09:57] #562 closed

[2015-05-06 09:59] Xenopathic commented on #460
So here's the idea - we have a Handlebars template for new messages, which I will extend so we can pre-fill fields (like the To and Subject), then use that same template not just for new messages but underneath existing mails for replies. Also means the user has more control over email replies (manual Subject editing for example).

[2015-05-06 09:59] jancborchardt commented on #453
Ok, release is later today (~19:00 CEST, in 7 hours) so let’s get to fixing the last remaining 0.1 issues! https://github.com/owncloud/mail/milestones/0.1

[2015-05-06 10:01] Xenopathic commented on #578
Removing the milestone - this can be fixed (along with other similar issues) whenever

[2015-05-06 10:02] jancborchardt commented on #460
I would still prefer to by default hide some fields in the case of reply, such as the subject. But we’ll see about that when we’re at it. I think it’s a great idea to unify it as stuff like #568 (add bcc for replies) will also be fixed. :)

[2015-05-06 10:58] jancborchardt opened #625 "Integrate account settings better, move from settings section directly to sidebar"
I’m thinking of something like this:
![capture du 2015-05-06 12 56 42](https://cloud.githubusercontent.com/assets/925062/7491980/636c02dc-f3ef-11e4-9079-68c208ec5b59.png)

What do you think @DeepDiver1975 @Xenopathic @wurstchristoph @owncloud/designers?

I’m definitely sure that the account settings (deletion, modification etc) should go directly there via the dot-dot-dot icon. I’m not entirely su

[2015-05-06 11:11] irgendwie opened #626 "Having a subfolder in Inbox leads to "Error while loading the selected account.""
![pic](http://i.imgur.com/2BWglym.png)

**What doesn't work:** Having subfolders in Inbox
**What works:** Having subfolders everywhere else instead of Inbox
**Mail-Provider:** Strato.de
**Owncloud-Log:** `{"reqId":"0d8796a92c585d32c9551fa8da2ec226","remoteAddr":"::1","app":"index","message":"Exception: {\"Message\":\"IMAP error reported by server.\",\"Code\":0,\"Trace\":\"#0 \\\/opt\\\/lampp\\\/ht

[2015-05-06 11:13] jancborchardt commented on #626
@irgendwie can you also test this with other mail providers such as Gmail? Is the same problem present there?

[2015-05-06 11:22] LEDfan opened #627 "Can't connect to server"
Looks like the mail app doesn't like my mail sever :smiley: It had worked for some time now, but now it's broken. again.

### Steps to reproduce
1. Load the Mail app

### Expected behaviour
Account and mails are loaded

### Actual behaviour
A yellow error opens "Error while loading the selected account`

### Server configuration
**Operating system**:
Centos 7

**Web server:**
Apache 2.4

**Databas

[2015-05-06 11:59] jancborchardt commented on #627
@LEDfan can you try deleting the account and connecting again?

Also, does it work with other accounts?

[2015-05-06 12:04] DeepDiver1975 commented on #627
as you enabled the imap log - please see have a look for errors in there

[2015-05-06 12:06] DeepDiver1975 opened #628 "Attachment download cannot be opened by the browser properly ...."
When downloading an attachment Firefox always wants to open the attachment with VLC.

I suspect we are not properly communicating the mime type to the browser.

Investigating ....

[2015-05-06 12:10] LEDfan commented on #627
I tried it several times.

Not sure, I can't add a new one AFAIK.

[code]

Note that I have many folders under "INBOX", I removed some of them.

[2015-05-06 12:12] DeepDiver1975 commented on #627
actually a duplicate https://github.com/owncloud/mail/issues/626

[2015-05-06 12:14] LEDfan commented on #627
Indeed.

[2015-05-06 12:14] #627 closed

[2015-05-06 12:15] LEDfan commented on #626
I have the same problem (#627) with zoho.com as mail provider. Note that some time ago (one week?) it wokred.

[2015-05-06 12:26] sndrsk commented on #617
I just implemented that fix from @clementhk on my server and it works! oC and horde logs both look good.

[2015-05-06 12:28] jancborchardt commented on #617
@Xenopathic @DeepDiver1975 can you also test this and then submit a pull request? @clementhk is away til later.

[2015-05-06 12:33] Xenopathic commented on #625
Well, 'Add new mail account' should be where it is at the moment - that much makes sense. I think this proposal could be quite good though, keeping everything in one place. :+1: from me

[2015-05-06 12:34] Xenopathic commented on #626
This is a recurrence of #617

[2015-05-06 12:39] DeepDiver1975 commented on #628
@LukasReschke your change basically is causing this because the content type of the download is always application/octet-stream - https://github.com/owncloud/mail/commit/1813d46d8cedb96ba145d8ae9b02b6a16eb52787

https://github.com/owncloud/mail/blame/master/lib/attachment.php#L94

Isn't setting the disposition content enough? https://github.com/owncloud/mail/blame/master/lib/attachment.php#L97

[2015-05-06 12:40] LukasReschke commented on #628
What? VLC? That looks fishy… Let me take a look at this right now… *sigh*

[2015-05-06 12:41] LukasReschke commented on #628
That said setting the disposition is generally not always sufficient. There are specific mimetypes that can anyways lead to potential security problems – in core we do have a list of "secure mimetypes" that maps insecure ones to alternatives (such as text/html to text/plain). The approach we use in this app is the easiest and most bullet proof one though.

[2015-05-06 13:12] jancborchardt commented on #557
Fixed as part of https://github.com/owncloud/mail/pull/624

[2015-05-06 13:13] Gomez opened #631 "Add JSCS as Code Style checker"
Could be a good extension to jshint:
http://jscs.info/
No more manual "space indented" errors :)

[2015-05-06 13:21] jancborchardt commented on #606
Working on this

[2015-05-06 13:39] jancborchardt commented on #606
Fix at https://github.com/owncloud/mail/pull/632

The problem with the notification vanishing in the background is filed in core as  https://github.com/owncloud/core/issues/16121

[2015-05-06 13:54] jancborchardt opened #634 "Unread counter is not decreased when an unread mail is deleted directly"
1. Open a folder with a bunch of unread mails
2. Delete an unread mail without opening it
3. The unread counter does not decrease, should though

cc @DeepDiver1975 @wurstchristoph @zinks- @Xenopathic

[2015-05-06 14:12] jancborchardt commented on #628
So – bug in Mail or not? If yes, 0.1 or 0.2?

[2015-05-06 14:13] #626 closed

[2015-05-06 14:17] LukasReschke commented on #628
Can't reproduce. Do you happen to have a custom handler registered? https://support.mozilla.org/en-US/kb/applications-panel-set-how-firefox-handles-files

[2015-05-06 14:49] jancborchardt commented on #634
What I would suggest we do is simply mark the message as read when deleting it.

[2015-05-06 15:44] clementhk commented on #617
There are further works in upstream horde but here this can be closed.

[2015-05-06 16:17] #612 closed

[2015-05-06 16:17] #617 closed

[2015-05-06 16:39] #558 closed

[2015-05-06 17:24] DeepDiver1975 commented on #628
Can't reproduce this on another machine -> 0.2

[2015-05-06 17:58] jancborchardt commented on #542
Fixed by https://github.com/owncloud/mail/pull/636 thanks to @irgendwie! :)

[2015-05-06 17:58] #542 closed

[2015-05-06 18:00] #606 closed

[2015-05-06 18:25] jancborchardt commented on #619
I’m moving this to 0.2 for now. @wurstchristoph if you want to fix this before though please do. :)

[2015-05-06 18:37] #461 closed

[2015-05-06 18:52] #557 closed

[2015-05-06 22:25] jancborchardt commented on #453
As you probably noticed we did not tag the release, mainly because of the subfolders not loading: https://github.com/owncloud/mail/issues/611

We’re extending it for two days, to Friday May 8. Let’s work on the last stretch for https://github.com/owncloud/mail/milestones/0.1 and give the app a good testing! :)

[2015-05-07 13:35] jancborchardt opened #639 "Update unread counter when mails have been read on other client"
Basically when:
* opening a folder
* refreshing a folder

The unread cound shoul also always be adjusted since the mails could have been read on another client.

[2015-05-08 08:19] DeepDiver1975 opened #641 "Link detection improvements"
Following links are not detected properly

* See <https://ci.owncloud.org/job/ownCloud-Documentation(7.0)/504/changes> (parenthesis)
* https://communities.coverity.com/community/scan-(open-source)/content – cuts off at the opening parenthesis.
* https://ma.ellak.gr/events/5ος-εκπαιδευτικός-κύκλος-σεμιναρίων-ε-5/

Also hashes # seem to cause problems.

[2015-05-08 18:27] aimlessadam opened #642 "min OC version"
i have been watching this project with great anticipation for the past few months, waiting for the 0.1 version to drop.  checking in today, it seemed this would be the day so i left the project root page open in a browser and was hitting refresh periodically... then, during the last refresh, i saw the Readme.md change from saying "An email app for ownCloud (minimum version 7)..." to "An email app

[2015-05-08 18:36] DeepDiver1975 commented on #642
@aimlessadam Thanks a lot for your feedback! I'm glad to hear about your excitement!

Let me see how much work it will be to make if OC7 compliant!

[2015-05-08 18:45] aimlessadam commented on #642
thank you very much!

[2015-05-08 22:55] DeepDiver1975 commented on #628
![bildschirmfoto von 2015-05-09 00 55 39](https://cloud.githubusercontent.com/assets/1005065/7547056/2419b91e-f5e6-11e4-8753-57a632a8f49e.png)

[2015-05-08 22:57] DeepDiver1975 commented on #628
![bildschirmfoto von 2015-05-09 00 57 12](https://cloud.githubusercontent.com/assets/1005065/7547069/590a4b3e-f5e6-11e4-921d-c43c9099fe4d.png)

[2015-05-09 07:20] wurstchristoph opened #645 "Folderlist scrolls to the top when switching tabs"
I have an account with many folders, so if I open the last one, I have to scroll down in the folder list. If I switch to another tab and then back, the folder list magically scrolls up to the top.

Is there any reason this is done?

tested with FF 37.0.2

Steps to reproduce:
- open mail app
- open a folder where you have to scroll down
- switch to another tab
- switch back
- the folder list scroll

[2015-05-09 09:30] damiongans opened #646 "When saving attachment to ownCoud, be able to create new directory"
When saving an attachment included in an email to ownCloud, it would be cool to be able to create new folders.

[2015-05-09 10:16] jancborchardt commented on #646
@damiongans that’s actually a very good point! This is a request to the core file picker though – can you reopen the issue in https://github.com/owncloud/core/issues ? Feel free to @-mention me with @jancborchardt and I will tag it accordingly. :)

By the way – you are very welcome in our IRC channel #owncloud-mail! :)

[2015-05-09 10:16] #646 closed

[2015-05-09 10:18] jancborchardt commented on #642
Yeah, maybe it makes sense to see about ownCloud 7 compatibility. Thank you for the feedback @aimlessadam – you are very welcome in our IRC channel #owncloud-mail! :)

[2015-05-09 10:24] jancborchardt commented on #645
@wurstchristoph I can’t reproduce this with either Firefox or Chrome. @irgendwie @zinks- can you?

@wurstchristoph can you record a short video/gif illustrating the issue? Maybe I also just don’t understand it correctly.

[2015-05-09 10:36] #611 closed

[2015-05-09 10:37] jancborchardt commented on #641
Moving to 0.2 – not a release blocker. ;)

[2015-05-09 10:55] wurstchristoph commented on #645
cannot reproduce anymore, closing this for now :smile:

[2015-05-09 10:55] #645 closed

[2015-05-09 11:10] j-ed opened #647 "unable to download mail v0.1 from the apps store"
I just wanted to download the first official release of the mail app but the following message is displaced once the download-button is clicked:

![20150509_130810_oc_mail_v0 1_missing](https://cloud.githubusercontent.com/assets/2572764/7549945/bcf52e82-f64c-11e4-91d5-6fd580f73abb.jpg)

[2015-05-09 11:56] irgendwie commented on #647
As it says in the description:

It's still under development, so please have a little patience. :smile:

[2015-05-09 11:58] #647 closed

[2015-05-09 12:43] jancborchardt commented on #453
Everyone – we have the app _not yet_ tagged, but already submitted to the appstore: https://apps.owncloud.com/content/show.php/Mail?content=169914

You can already vote the score up and become a fan! :)

[2015-05-09 12:58] jancborchardt commented on #647
I changed the description of the app to prevent confusion: https://apps.owncloud.com/content/show.php?content=169914

[2015-05-09 13:02] #634 closed

[2015-05-09 13:58] zinks- commented on #642
an argument against it is that we're only 0.1, and when we hit 1.0 oc7 probably won't be suported anymore
but then.. it all depends on the amount of work to make it compatible for now

[2015-05-09 13:59] clementhk commented on #642
Hi,

If we do this, I think we should only support the installations that uses PHP >= 5.4, since there are a lot of changes that requires >= 5.4, but OC 7 only requires PHP 5.3.8.
How shall we deal with this? Is it allow to have a different dependency in Apps?

[2015-05-09 14:54] DeepDiver1975 commented on #642
We can specify min php version in info.xml - that's not an issue.

We will see how big the effort is to make the app oc7 compliant.

[2015-05-10 12:09] jancborchardt opened #648 "Ability to include original message / inline reply"
One thing we still do differently by default from other mail apps is that we simply remove the previous reply. That’s one of the reasons I sometimes still fire up another mail app, just to be able to inline reply or to not have the message thread lost for people cc’d after.

We could solve that by having a setting to »include original message«. Either for every message next to the reply button, or

[2015-05-10 22:50] jancborchardt commented on #642
Fixed by https://github.com/owncloud/mail/pull/649, I also updated the readme. Thank you for noting this @aimlessadam! :) You’re very welcome in our IRC channel #owncloud-mail

[2015-05-10 22:51] #642 closed

[2015-05-10 22:52] jancborchardt commented on #453
Ok, now everything’s done. @DeepDiver1975 let’s tag the 0.1 release tomorrow (Monday) and start to spread it?

[2015-05-11 10:37] jancborchardt commented on #453
We’re silently live: https://apps.owncloud.com/content/show.php?content=169914 :)

[2015-05-11 10:44] irgendwie commented on #453
:+1:

[2015-05-11 11:41] jancborchardt commented on #453
Closing this now. Thanks to everyone of you for the hard work! :) I really enjoy being part of this small community.

The only thing left now is to spread it a bit more. In the next days (when there are no big issues found) I’ll write a mail to the user and devel mailing list. Then we can also tweet about it a bit and such. :)

[2015-05-11 11:41] #453 closed

[2015-05-11 11:56] enoch85 commented on #625
Why move away from how ownCloud handles settings in all the other apps/core? It´s better, but could be a bit confusing.

What about a whole new settings page? I guess there will be added more settings in the future, right?

[2015-05-11 12:10] donniezazen opened #652 "images in message show up as attachments."
As you can see in the pic below these are just social login icons that came with the html email and not actual images sent by the sender.

![snapshot61](https://cloud.githubusercontent.com/assets/841656/7564471/a2be2a14-f804-11e4-9532-3926b51f930c.png)

[2015-05-11 12:31] jancborchardt commented on #625
Well, we won't be able to cram everything in there anyway. Like signatures and aliases etc. So we might need to rethink that in this case.

Also, when you look at the news app, folder renaming and deletion are handled in the sidebar directly as well. To disconnect that (like we have in Mail right now) would be arbitrary.

[2015-05-11 12:45] DeepDiver1975 commented on #652
refs https://github.com/owncloud/mail/issues/138

[2015-05-11 13:47] aimlessadam commented on #642
wow i was travelling yesterday, and missed a lot.  you guys were very busy.  thank you.

i have to work on coaxing a php upgrade into my centos-6 today first, but i hope to be trying v0.1 later today or tomorrow.

thank you again!

[2015-05-11 14:17] jancborchardt commented on #642
@aimlessadam thank _you_ for catching this :) – please also report any further issues or requests you have.

[2015-05-11 14:18] jancborchardt commented on #652
Ah right – this is actually a duplicate of https://github.com/owncloud/mail/issues/138 – I’ll close this and we can continue there, ok @donniezazen? Bumped that original issue to 0.2

[2015-05-11 14:18] #652 closed

[2015-05-11 19:37] zinks- commented on #642
After makaber's reports on IRC, I tested which version of OC7 work:

7.0.2 fails : doesn't have the script() function
7.0.3 fails to load the app, as it tries to query urls such as this one : /owncloud/index.php/apps/mail/accounts/{accountId}/folders (literal placeholders)
7.0.4 works (tested receiving/sending emails)

[2015-05-11 19:50] enoch85 opened #654 "Add signature to all messages"
It would be nice to have the ability to add a signature to every mail, instead of having to write the same thing every time, for example:

[code]

Like I suggested earlier to @jancborchardt it could be one of the things that would be integrated in a settings page.

It would also be cool to be able to have different signatures for different mailboxes.

[2015-05-11 19:55] enoch85 opened #655 "Failed to parse time string"
### Steps to reproduce

Don't know

### Actual behaviour

[code]

### Expected behaviour

No error, and that the timezone is correct.

### Server and Version

8.0.3
PHP 5.5
Mail 0.1

[2015-05-11 19:58] enoch85 opened #656 "Errors while adding mail from contact in adressbook"
### Steps to reproduce

1. Write a new message
2. Add an email adress that's existing in your contacts

**EDIT** Tried again and it doesn't show the same errors. Maybe it's something else. Anyway, the undefined index EMAIL should be fixed.

### Actual behaviour

It works, but I get this messages in log.

[code]

### Expected behaviour

No errors

### Server and Version

8.0.3
PHP 5.5
Mail 0.1

[2015-05-11 20:05] enoch85 opened #657 "Undefined index: REQUEST_URI"
### Steps to reproduce

1. "Login" to your mail (Open your mail in ownCloud)

### Actual behaviour

It works, but I get this message in log.

[code]

I know it says calendar, but it happens when I open the mail app.

### Expected behaviour

No errors

### Server and Version

8.0.3
PHP 5.5
Mail 0.1

[2015-05-11 20:09] DeepDiver1975 commented on #655
This one might be worth pushing to upstream.

[2015-05-11 20:11] DeepDiver1975 commented on #654
My pov:
One mailbox csn have multiple aliases and each alias has it's own signature.

[2015-05-11 20:14] DeepDiver1975 commented on #642
So we shall require 7.0.4 minimum.  Appstore can't handle this. Apps page on oc7 gives a :hankey: about dependencies in info.xml

[2015-05-11 20:15] DeepDiver1975 commented on #657
Cries for fixing calendar and contacts.

[2015-05-11 20:15] enoch85 opened #658 "Sent folder is not synced."
### Steps to reproduce

1. Add a CityNetwork account

### Actual behaviour

Inbox and favorites is synced but not sent. Hard to belive that it's on CityNetworks behalf, because it's working on every client I tried except ownCloud Mail.

Messages sent from ownCloud mail are synced to the IMAP account, and I can see them if I login to CityNetworks webmail.

Gmail is working as expected.

### Expecte

[2015-05-11 20:16] enoch85 commented on #657
@DeepDiver1975 Please CC the correct persons.

[2015-05-11 20:19] enoch85 commented on #654
@DeepDiver1975 Yes, that´s like what I meant. Just expressed it the wrong way. :)

[2015-05-11 20:24] jancborchardt commented on #642
I updated the [readme](https://github.com/owncloud/mail/blob/master/README.md) and the [appstore page](https://apps.owncloud.com/content/show.php/Mail?content=169914) to say minimum 7.0.4 – that’s as much as we can do.

(We could also detect lower versions and show something but that’s not really worth the effort.)

[2015-05-11 20:26] jancborchardt commented on #657
cc @georgehrke @raghunayyar @libasys for Calendar

[2015-05-11 20:27] jancborchardt commented on #658
Can you supply the horde.log (see the [readme on enabling debug mode](https://github.com/owncloud/mail#debug-mode)) and more info from the owncloud.log?

[2015-05-11 20:27] enoch85 opened #659 "Automatically choose the first inbox when opening the app"
### Steps to reproduce

1. "Login" to your mail (Open your mail in ownCloud)

### Actual behaviour

The mail is loading, and keeps loading until you press any folder in the mailbox.

http://i.imgur.com/y5FdUwV.png

### Expected behaviour

The first folder in the mailbox should be opened automatically

### Server and Version

8.0.3
PHP 5.5
Mail 0.1

[2015-05-11 20:32] enoch85 commented on #658
@jancborchardt `'app.mail.imaplog.enabled' => true` gives me WSOD.

[2015-05-11 20:35] jancborchardt commented on #658
White screen of death? Did you forget maybe the last comma after it? What does the owncloud.log or server error.log say?

(Btw, thanks a _ton_ for all the reports. :)

[2015-05-11 20:37] jancborchardt commented on #659
Loading the first inbox directly is the way it was designed and like it should work right now. Do you have more info there, like the owncloud.log, or are there JS errors?

[2015-05-11 20:40] enoch85 commented on #658
@jancborchardt  Np, as I promised. ;) And yes, I missed the comma.

Sorry for long output. Please delete the irrelevant stuff:

[code]

[2015-05-11 20:49] enoch85 commented on #659
Nothing in owncloud.log but unrelated stuff. JS, I don't know. Here is a video for you. :) (Sorry for the music, couldn't turn it off)
http://youtu.be/sm46YIBUjP8

[2015-05-11 20:54] enoch85 opened #660 "Make it possible to mark several messages to delete, or move"
The headline says it all. Just make it possible to mark several messages to delete them, or move them all at the same time.

The best way imho is to click the picture or first letter of the name. As in Android Gmail.

[2015-05-11 20:55] georgehrke commented on #657
Already fixed, just needs to be backported and released

Please excuse my brevity and typos.
Sent from my mobile

[2015-05-11 21:01] enoch85 opened #661 "Make it possible to create filter for incoming messages"
Would be nice to be able to filter incoming messages, i.e. if I want to filter all the mails from GitHub to a specific folder in my mailbox.

[2015-05-11 21:13] enoch85 opened #663 ""Check messages" should sync deleted messages as well."
It seems like the Check Messages button only checks for new messages. If I delete messages on the IMAP server, and go back to ownCloud Mail and press Check Messages, it still appears as I have the same amount of new messages.

Don't know if it´s intended?

### Server and Version

8.0.3
PHP 5.5
Mail 0.1

[2015-05-11 21:19] enoch85 commented on #655
@DeepDiver1975 Upstream, you mean here? https://github.com/horde/horde

[2015-05-11 21:54] enoch85 commented on #663
Related #538

[2015-05-11 23:37] enoch85 commented on #658
I accidentally pressed the arrow, that lead me to the remaining folders.

[2015-05-11 23:37] #658 closed

[2015-05-12 00:13] Azelphur opened #664 "It loads all the emails rather than the 20-30 it's supposed to."
the mail app tries to load all emails for me rather than the 20-30 it supposed to, this results in a rather long hang followed by it being unable to load my inbox as it has >8,000 emails in it.

Here's my horde.log

[code]

[2015-05-12 01:01] jancborchardt commented on #658
Do you mean you found the subfolders? ;)

[2015-05-12 01:03] jancborchardt commented on #661
This is a duplicate of either https://github.com/owncloud/mail/issues/564, https://github.com/owncloud/mail/issues/351, https://github.com/owncloud/mail/issues/57 or https://github.com/owncloud/mail/issues/411 ;)

[2015-05-12 01:03] #661 closed

[2015-05-12 01:03] jancborchardt commented on #657
@georgehrke so did you backport it?

[2015-05-12 01:04] jancborchardt commented on #660
I clarified the title. :) I know @DeepDiver1975 wants this too. I also agree on just clicking the picture to initiate multiselect  – we do that in Files already.

[2015-05-12 01:06] jancborchardt commented on #659
Any idea @zinks- @wurstchristoph @irgendwie? Can you reproduce?

[2015-05-12 06:22] irgendwie commented on #659
If there is **more** than 1 mailbox configured, I get the same behavior as @enoch85 - therefore reproducible.

[2015-05-12 07:09] wurstchristoph commented on #659
@jancborchardt yes, I also noticed this behavior on my multi account setup.
Additionally I tested it with one account and there the first inbox is opened automatically

[2015-05-12 07:14] DeepDiver1975 commented on #657
gogogo

[2015-05-12 07:37] georgehrke commented on #657
@jan It was closed a few days back already, haven't found enough  time to carefully test on stable8 yet. So no, it wasn't backported yet.

@thomas: there is an issue in the calendar repo, you can close this one.

Please excuse my brevity and typos.
Sent from my mobile

[2015-05-12 07:39] georgehrke commented on #657
@jan and you are very welcome to actually help test PRs labeled backport_necessary on stable8 ;)

Please excuse my brevity and typos.
Sent from my mobile

[2015-05-12 07:40] DeepDiver1975 commented on #657
please link the issue - thx

[2015-05-12 07:54] enoch85 commented on #658
Haha yes. :D

[2015-05-12 08:10] DeepDiver1975 commented on #659
I'm not able to reproduce this - hopefully one of you guys can debug this - THX

[2015-05-12 08:16] enoch85 commented on #661
@jancborchardt Sorry for my laziness. ;)

[2015-05-12 08:19] enoch85 commented on #660
@jancborchardt Yes, that was the word I was looking for, Multiselect. Thanks!

[2015-05-12 08:23] DeepDiver1975 commented on #655
yes - need to find out where their bug tracker lives ...

@enoch85 any idea which mail message is causing this? Would be great to have the mail headers. THX

[2015-05-12 08:27] enoch85 commented on #655
@DeepDiver1975 I will investigate.

[2015-05-12 08:28] enoch85 commented on #659
Seems like it's when you have a MultiAccount setup. I'm on Chrome btw.

**Version 42.0.2311.135 m (64-bit)**

[2015-05-12 10:02] jancborchardt commented on #659
I can’t reproduce it either – I have 2 accounts and works fine for me on both Chrome and Firefox. Just loads the first inbox.

@enoch85 @wurstchristoph @irgendwie since you can reproduce it, can you debug and fix this? :)

[2015-05-12 10:04] jancborchardt commented on #658
Hm, maybe we don’t make it obvious enough when a folder has a subfolder? We only show the triangle on hover.

[2015-05-12 10:07] enoch85 commented on #659
Just tell me were to look and I can try to debug it at least.

[2015-05-12 10:09] enoch85 commented on #659
@jancborchardt Is one of your accounts Gmail? Maybe it´s related? Just a wild guess.

[2015-05-12 10:11] enoch85 commented on #659
Some infor from the browser:

[code]

What am I looking at?

[2015-05-12 10:20] enoch85 commented on #659
Tested on IE, same error.

[2015-05-12 10:21] enoch85 commented on #658
Yes, it should be more obvious.

[2015-05-12 10:22] jancborchardt commented on #658
@enoch85 can you open a new issue for that? :)

[2015-05-12 10:23] jancborchardt commented on #659
@enoch85 neither of mine are Gmail, no. @irgendwie @wurstchristoph are one of yours Gmail? (if yes then it might be related)

[2015-05-12 10:23] enoch85 opened #665 "Drag & Drop support for accounts"
It should be possible to Drag and Drop email accounts to different positions in a multi-account setup.

Related #411

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/14431495-drag-drop-support-for-accounts?utm_campaign=plugin&utm_content=tracker%2F216487&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](http

[2015-05-12 10:28] enoch85 opened #667 "Make subfolders more obvious"
As discussed in #658 it´s hard to find the triangle to show subfolders if you don´t know what your're looking for.

This should be fixed.

[2015-05-12 10:28] enoch85 commented on #658
@jancborchardt Done.

[2015-05-12 10:39] enoch85 commented on #659
Just tested, *not Gmail related*. Same issue if i remove the Gmail account and add another one.

[2015-05-12 10:45] jancborchardt opened #668 "fix Scrutinizer issues"
https://scrutinizer-ci.com/g/owncloud/mail/issues/master

@DeepDiver1975 @wurstchristoph @zinks- @Xenopathic let’s make it clean! :)

[2015-05-12 11:11] enoch85 commented on #659
Just downloaded 8.1 beta and set it up on a VM, installed the mail app with the same setup as in my production machine. It works as expected here, could it be related to 8.0.3??

[2015-05-12 11:20] jancborchardt commented on #659
@enoch85 can you maybe track it down? Try if 8.0.0 to 8.0.3 works with a fresh install (you can check out the tags via git) or where it breaks.

[2015-05-12 11:26] enoch85 commented on #659
I´ll leave that to someone else for now. I have to go to work :)

[2015-05-12 11:28] jancborchardt commented on #641
Same here: https://communities.coverity.com/community/scan-(open-source)/content – cuts off at the opening parenthesis.

[2015-05-12 11:29] irgendwie commented on #659
@jancborchardt Both used mail accounts are **not** Gmail.

I experience the same error as @enoch85.

Also I used the current master of OC @jancborchardt and still expierence the same error:

`Uncaught TypeError: Cannot read property 'get' of undefined
(anonymous function) @ mail.js?v=5529836605bfa3cdc0d0b4e45c40edd4:712
_.each._.forEach @ underscore.js?v=5529836605bfa3cdc0d0b4e45c40edd4:79
Mail.UI

[2015-05-12 11:41] enoch85 commented on #659
Did one last thing before I went to work - did a fresh install of the app and reset the MySQL tables.

No luck.

[2015-05-12 16:49] aimlessadam commented on #642
thank you.  I am sorry if i am wasting anyone's time here, or should be posting this elsewhere instead of under the OC v7 compat issue, but i am running into a problem here and am unsure if it is OC7 related or, probably more likely, some other issue with my install.  I sideloaded php PHP 5.4.16  via the redhat software collections on my OC 7.05 / Centos 6.6 box to meet the php requriement, and st

[2015-05-12 17:09] zinks- commented on #642
It looks like there is something wrong with your php/apache setup, as php 5.4 accepts [] for arrays. I can probably help you but I think this isn't the right place. Contact me by mail (see my profile) or come to IRC #owncloud-mail on freenode https://webchat.freenode.net/

[2015-05-12 17:15] enoch85 commented on #655
@DeepDiver1975 Seems like it happens for every new config. Not able to reproduce on an old setup, but it happened on a new setup.

Maybe it happens when it search for new messages?

[2015-05-13 09:37] enoch85 commented on #657
@jancborchardt I think this should go in under 0.2 as it spams the log. Question is, as this issue is related to the calendar, will *that* release be released before 0.2 or after? cc @georgehrke

[2015-05-13 09:38] enoch85 commented on #654
@jancborchardt I think this should go in under 0.2

[2015-05-13 09:41] georgehrke commented on #657
This has absolutely nothing to do with mail. It caused by the cron job.

Please excuse my brevity and typos.
Sent from my mobile

[2015-05-13 09:46] enoch85 commented on #657
@georgehrke Ok, misunderstood. Anyway:

[2015-05-13 09:52] jancborchardt commented on #654
Good call – basic feature.

[2015-05-13 12:28] jancborchardt commented on #648
This is currently the _only_ reason why I still sometimes need to start up Geary to reply to an email. ;) @DeepDiver1975 @wurstchristoph @irgendwie @zinks- anyone of you wants to work on this?

[2015-05-13 12:31] jancborchardt opened #670 "Delete keyboard button as shortcut to delete current mail"
Other mail apps delete the current mail when you click the keyboard »Delete« button. We should do that too.

[2015-05-13 12:37] irgendwie commented on #670
Backspace to delete Mail? The delete key is enough for that - I still think of "Go back in history" when using backspace. And I think a lot of people do that.

[2015-05-13 12:47] irgendwie commented on #648
I will take a look the next days. :+1:

[2015-05-13 13:21] jancborchardt commented on #664
Similar here, owncloud.log errors:
[code]

[2015-05-13 14:08] aer0s opened #671 "Mail body for this mail(...) could not be loaded"
Hopefully this isn't a duplicate, and is just some misconfiguration on my part. Any help or pointers would be appreciated.

__OC Version__: 8.0.3
__PHP Version__: 5.5.9
__OC Mail Version__: 0.1.3

I have the mail client pointing at our Cyrus IMAP server. It appears to iterate the mailbox tree and even read the message headers just fine. In other words I see my mailbox in the left pane and list of

[2015-05-13 14:23] enoch85 commented on #670
Agree with @irgendwie on this. Delete button is enough. Imagine if accediently press the Backspace by mistake.

[2015-05-13 14:47] jancborchardt commented on #670
Ok, I’m fine with that as well. Changing the title & description. :)

[2015-05-13 14:48] jancborchardt commented on #671
@aer0s does it work with another email account, like simple Gmail or so?

@zinks- @irgendwie @wurstchristoph any idea?

[2015-05-13 14:48] jancborchardt commented on #648
@irgendwie great stuff! :) (Will mark this as »Developing« because I can’t yet assign you.)

[2015-05-13 14:58] jancborchardt opened #672 "Marking messages as read/unread"
Currently messages automatically get marked as read on opening the mail. This might not be desired, or at least we should have a mechanism to mark the message as unread again.

Some other apps do something like »only mark as read after 5 seconds« but I think that’s a bit arbitrary and difficult to gauge.

We could still do the »automatically mark as read on open« by default, and offer a checkbox »

[2015-05-13 15:21] marius01 opened #673 "SMTP Account Setup Issue at 1&1 Webspace!"
I have many IMAP Servers...STRATO...1und1 and Gmail :) No one works... not with autodiscover (without any extra data) and not with some configuration details like imap,smtp server (SSL)
It shows nothing if i dont type in any imap data... it just loads. if i config it with smtp and imap server it shows me the following: Cannot connect to SMTP. Its a Webspace (no Server), its an test application (no

[2015-05-13 15:22] jancborchardt commented on #673
As said on IRC already we need more info from you to be able to properly debug this. Please ideally follow the [issue template](https://raw.githubusercontent.com/owncloud/core/master/issue_template.md)

At the very least we need some data from your owncloud.log and if the javascript error log of the browser has errors.

[2015-05-13 15:30] TheChristian01 commented on #673
### Steps to reproduce
1. Install Mail-App
2. Try to Setup for first time (with an Admin-Account)
3. If i use Auto-Discover (no additional IMAP Data and Ports) it loads for a long time and nothing happens. If i gave additional data, it tells me the following: "Cannot connect to SMTP-Server".

### Expected behaviour
I should configure the Mail-App, and start normally :)

### Actual behaviour
If i t

[2015-05-13 15:35] jancborchardt commented on #673
Please add at least the owncloud.log and Browser log. :)

[2015-05-13 15:36] TheChristian01 commented on #673
wait some minutes :)

[2015-05-13 16:31] rvega opened #675 "Add an option for creating new contacts when sending/receiving emails to/from them."
When sending or receiving an email from a person who is not in my contacts list (Contacts application), she should be added automatically to the contacts list, it'd probably be useful to add it to a group called "automatically added" or similar.

Gmail does this by default and it's nice to simply start typing a name or address and have it auto-completed without having to manually create a contact.

[2015-05-13 16:40] TheChristian01 commented on #673
I am sorry. I cannot upload them because there are too many private informations (e-Mail, Names etc.)

[2015-05-13 16:56] enoch85 commented on #672
Best sooulution if you ask me.

[2015-05-13 16:58] enoch85 commented on #673
@TheChristian01 Remove the private information in your post then. :)

[2015-05-13 17:15] jancborchardt commented on #675
This is a duplicate of https://github.com/owncloud/mail/issues/363 ;) let’s continue there.

[2015-05-13 17:15] #675 closed

[2015-05-13 17:19] rvega commented on #675
Ah, sorry, I swear I searched first :)

[2015-05-13 20:05] enoch85 commented on #672
@jancborchardt Also, if you get a new message and read it, it still says it's unread in the folder. New issue, or keep it here?

[2015-05-13 20:14] enoch85 commented on #672
Sorry, saw this #639

[2015-05-13 23:04] beccon4 opened #676 "Attach file to answer mail"
For the time being we can only answer a mail directly by typing int the form below. Unfortunately there is no way to attach a file there.

[2015-05-14 06:38] zinks- commented on #673
@TheChristian01 can you post the settings you use to successfully connect to your smtp from other mail clients ? (port, encryption settings, authentication type, etc).

[2015-05-14 06:42] zinks- commented on #672
Thunderbird uses the 'm' key for toggling the (un)read state.

[2015-05-14 08:54] TheChristian01 commented on #673
These are the following settings:

imap.strato.de
SSL
smtp.strato.de
SSL

E-Mail as Username
Password

I try to setup Mail on a 1und1-Webspace. The Following Error is shown in the Log:

fsockopen(): unable to connect to smtpin.rzone.de:993 (Connection refused) at /homepages/3/d575768521/htdocs/apps/mail/lib/service/autoconfig.php#399

[2015-05-14 10:24] Pantos opened #677 "Feature Request: Collapse account while using multiple accounts"
I'm using mail with multiple mailaccounts. Because there are many folders it would be nice to collapse an account in the navigation bar on the left side to get a better overview.

Thanks for this great app!!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/14824048-feature-request-collapse-account-while-using-multiple-accounts?utm_cam

[2015-05-14 10:59] jancborchardt commented on #676
@beccon4 this is a duplicate of https://github.com/owncloud/mail/issues/460 – let’s continue there. :)

[2015-05-14 10:59] #676 closed

[2015-05-14 10:59] jancborchardt commented on #675
@rvega no worries, the search is often not perfect. :)

[2015-05-14 12:29] irgendwie commented on #673
As I'm using a Strato Account for testing - I can confirm, that Strato Accounts **should work**.
@TheChristian01 your settings look correct for Strato, maybe it's just a certificate issue (no trust in CAs - often caused by missing "ca-certificates" package for debian / ubuntu based OS.)

[2015-05-14 12:55] TheChristian01 commented on #673
Hi. First. Strato is the E-Mail Postbox. 1und1 is the Webspace, where it is installed. Has anybody tested it with 1und1. Does not work with 1und1-Accounts and Gmail aswel.

Its a webspace, so im not able to change so many settings. Do you think i need an SSL Cert for my Domain?

[2015-05-14 15:42] zinks- commented on #673
@TheChristian01 The error message comes from the autoconfig, and the autoconfig tries connecting to different ports to detect what works. It's therefore normal to have some logs that says some connection failed. If we do things the right way, the right combination *should* be found out at some point.

What happens if you enter the settings you pasted into the "manual configuration"?

@irgendwie Do

[2015-05-14 15:54] zinks- opened #678 "Improve autoconfig"
Autoconfig can be very slow, and sometimes just doesn't work.

1. The order in which the ports/security protocol are tested seems arbitrary. Common combinations should be tried first.

2. Also, we should use the second mechanism in this page : https://developer.mozilla.org/en-US/docs/Mozilla/Thunderbird/Autoconfiguration
Before or after querying the ISPDB, but before probing the ports.

ISPs have

[2015-05-14 16:00] irgendwie commented on #673
@zinks- **no**

**Log:** ('[%DOMAIN%]' is my domain)
`{"reqId":"VVTC7MCoGEcAABjVatgAAAAH","remoteAddr":"::1","app":"mail","message":"setting up auto detected account","level":1,"time":"2015-05-14T15:44:44+00:00","method":"POST","url":"\/oc\/index.php\/apps\/mail\/accounts"}
{"reqId":"VVTC7MCoGEcAABjVatgAAAAH","remoteAddr":"::1","app":"PHP","message":"fsockopen(): unable to connect to smtp.rzone.de

[2015-05-14 18:32] TheChristian01 commented on #673
It does not work with manual settings...I have tried it before :)

[2015-05-14 20:11] zinks- commented on #673
OK, so autoconfig can't work with strato emails (at least those with custom domains not in ISPDB), because the MX record returns 'smtp.rzone.de', which is not the same server that users should use ('smtp.strato.de') to send mail.
The best advice to give strato users is to use manual config.

@TheChristian01 According to strato's documentation, STARTTLS on port 587 of smtp.strato.de should work as

[2015-05-15 07:36] wurstchristoph opened #680 "Hide composer after sending/deleting last draft"
1. When sending the draft, an empty composer remains.
2. When deleting the last draft in the drafts folder, the filled composer is still shown.

Expected behavior:
The composer is hidden and the "No messages in this folder!" screen is shown.

[2015-05-15 07:54] wurstchristoph opened #681 "Make 'New message' button static"
If you have multiple accounts and/or accounts with many folders you often have to scroll down the folders list to get to the very last account. If you then want to compose a new mail, you have to scroll up again to be able to click the 'New message' button.

I think we should make the button static and scroll the folders list only

what do you think @jancborchardt?

[2015-05-15 07:55] #659 closed

[2015-05-15 08:03] wurstchristoph opened #682 "Show inboxes on top of accounts and other folders"
I really like what [Geary](https://wiki.gnome.org/Apps/Geary) does:
- list the inbox for each account
- list all accounts after that

It looks like this:
![](http://worldofgnome.org/uploads/2013/03/geary1.png)

Additionally, if accounts are collapsed by default, the interface is cleaner: one can quickly navigate to the desired folder instead of having to scroll through all the accounts/folders lik

[2015-05-15 08:08] georgehrke commented on #657
dup of https://github.com/owncloud/calendar/issues/714

[2015-05-15 08:08] #657 closed

[2015-05-15 10:10] clementhk commented on #671
Mind to paste the source of your email here?

[2015-05-15 12:50] Dark-Fenix commented on #677
+1 :)

[2015-05-15 13:47] jancborchardt commented on #677
I’m thinking of a collapse-function which in the collapsed state would still be slightly useful and show the most important folders:
* Inbox
* Favorites (if there are any)
* Drafts (if there are any)

@wurstchristoph @zinks- @irgendwie what do you think?

[2015-05-15 14:22] wurstchristoph commented on #677
@jancborchardt sounds good and is similar to what I described in #682 ;-)

[2015-05-15 14:23] irgendwie commented on #677
@jancborchardt I also approve this! :+1:

[2015-05-15 15:14] jancborchardt commented on #677
@wurstchristoph yeah, that’s also what I was going for! I know the Geary layout but don’t fully like it – I’m very hesitant of duplicating the inbox in the sidebar. So this might be a better solution.

So I would say rather than #682 we’d fare better with this »priority collapsing« combined with a unified inbox #120 (and maybe other unified folders). :) Maybe we can work on that next Wednesday! (O

[2015-05-15 15:20] jancborchardt commented on #682
As said in #677:

What do you think?

[2015-05-15 15:35] wurstchristoph commented on #682
Yes, priority collapsing sounds great too - let's try it out ;-)

[2015-05-15 15:35] #682 closed

[2015-05-15 18:40] Xenopathic commented on #681
Agreed - that'd be a good idea. :+1:

[2015-05-16 11:35] Gomez commented on #551
So, i replaced courier with dovecot mail server and now everything works :)
You guys created a nice mail app ;) Happy i can use mail app now more often.

[2015-05-16 11:35] #551 closed

[2015-05-16 13:43] TheChristian01 commented on #673
It does not work with Gmail or Outlook.com aswel. So i think it is an bug of owncloud mail.

[2015-05-16 18:58] zinks- commented on #673
@TheChristian01 What kind of server have you installed owncloud on ? Have you been able to send any mail from that server using another program (alpine is easy to configure) ?
If you give me the name of your hosting provider I can maybe dig up some more info

[2015-05-16 18:59] zinks- commented on #673
If we want to fix it, we must be able to reproduce it ourselves. That's why we're discussing here!

[2015-05-16 23:51] jancborchardt commented on #551
Hehehehe – nice to hear it works now.

[2015-05-17 09:30] TheChristian01 commented on #673
I want to use it on my 1und1 Unlimited Plus Package. You can test it for 1 month, and can try it.
It is based on Linux, but im not a root (its a webspace, no server). So i am not able to change many things.
I am able to send emails with other apps (outlook, rainloop for owncloud...) but not with yours. (And i want to use yours because i think its great!!)

I have tested it on my STRATO Webspace. I

[2015-05-17 13:50] zinks- commented on #678
We've ran into autoconfig problems with strato.de hosted emails with cutom domains.
Thunderbird can detect the settings and I would like to be able to do the same in our app.

If anyone with such a setup could just provide me with the domain name they're using (I'm not asking for an account, just what the domain is!), it would be really helpful for testing. Solving this for strato will carry over

[2015-05-17 14:07] irgendwie commented on #678
@zinks- @DeepDiver1975

If I'm not incorrect, we are currently **not** doing this in autoconfig.php - this should fix autoconfiguration for Domains hosted on Strato.

---

`dig example.de MX`
`[...]
;; ANSWER SECTION:
example.de.		150	IN	MX	5 smtp.rzone.de.
[...]`

which leads to -> https://autoconfig.thunderbird.net/v1.1/rzone.de

[2015-05-17 14:10] zinks- commented on #673
If you install rainloop on the same web space you installed our mail app (1&1 Unlimited +), you can send email? I'm asking confirmation because you threw outlook in the same sentence, and I don't think Microsoft has made a self-hosted version of their webmail client...

[2015-05-17 14:25] TheChristian01 commented on #673
1) Yes. Rainloop was installed on the same space. (as an app in owncloud)
2) I have tested it with the Windows Version of Outlook (of corse.)

But (Off-Topic): OWA (Outlook Web Access) is also an self-hosted Outlook client (powerd by ms exchange)

[2015-05-17 14:28] zinks- commented on #673
@TheChristian01 I stand corrected on the outlook thing
OK so if Rainloop works in the same condition, the bug is confirmed (yay)

[2015-05-17 14:32] TheChristian01 commented on #673
So...What does that mean :)

[2015-05-17 14:51] TheChristian01 commented on #673
Can anybody test this at his own 1and1 Server? I hope you can fix this bug verry soon :)

[2015-05-17 14:53] zinks- commented on #673
@TheChristian01 That means we'll work on it! I'll set up a 1&1 account and try to reproduce the bug, and if I can well, me or someone will try to fix it :)

[2015-05-17 14:55] TheChristian01 commented on #673
I hope anybody can :)

[2015-05-17 14:56] zinks- commented on #678
That's the part I missed, it should fix it indeed!

[2015-05-17 20:12] raimund-schluessler commented on #424
In my opinion external images should not be downloaded automatically. Otherwise the sender gets the information that "somebody read the mail" which is sometimes far than enough. Especially as ownCloud also focuses on privacy there should'nt be a compromise when it can actually be safer. Probably I didn't get how the mail app does it (I haven't had a look into the code), but the fact that images ar

[2015-05-18 06:26] DeepDiver1975 commented on #678
Nice analysis!  Thanks a lot! Ping me in case you need a helping hand. :rocket:

[2015-05-18 08:55] irgendwie opened #684 "Message is rendered, although you change to another folder"
**Steps to reproduce:**
1. Open a folder which contains mails.
2. Wait until the message list spinner is gone and all messages are listed, but the message content spinner is still there.
3. Quickly click on another folder, but this time an empty one.

**Expected behavior:**
* 'No mails in this folder' message is shown

**Actual behavior:**
* 'No mails in this folder' message is shown
* but the fir

[2015-05-18 09:53] jancborchardt opened #685 "Drafts: quick feedback that message has been saved as draft"
We have an awesome drafts feature, but new users don’t know that they can just leave the composer / reply field and it will be saved.

Ideally when navigating away from the new message or the reply, there could be a OC.Notification.showTemporary to say »Message saved as draft«. This feedback will let them know that the feature exists.

(This has come up in a small usability test I did with a perso

[2015-05-18 10:01] jancborchardt commented on #684
Can confirm.

Similar happens with the drafts folder:
1. Open the drafts folder
2. Wait until the message list spinner is gone and all messages are listed, but the message content spinner is still there.
3. Quickly click on another folder, but this time any other one with mails in it.

Expected: The new folder is shown, and the first Mail in it.

Actual behavior: Message list of the new folder is

[2015-05-18 10:01] jancborchardt commented on #684
Oh and cc @biolumin as well – this might be a JS issue you can fix. :)

[2015-05-18 12:45] TheChristian01 commented on #673
I will try it now with an manual installation of owncloud. not websetup. Hope i can fix this :)

[2015-05-18 13:40] tflidd opened #686 "Error while loading accounts"
I use owncloud 7.0.5 on Ubuntu 14.04 (with Apache/Mysql).

I downloaded the most recent mail app 0.1.3, unpacked it to the apps folder and activated it. When I load the mail-app, there is a yellow message saying "Error while loading accounts" and in the logfiles there ist
[code]
It seems that the table mail_accounts has not been created. I don't use any prefix, database name is cloud, so the table

[2015-05-18 13:50] jancborchardt commented on #686
Maybe the problem is that you don’t use any prefix? @DeepDiver1975 @zinks- did we hardcode the prefix somewhere?

Btw @tflidd the preferred way of installing apps is through ownCloud itself. Just open the apps menu, go to »Apps« then to »Productivity« and install it from there. Simpler than downloading and uploading the zip yourself.

[2015-05-18 15:39] jeppebundsgaard opened #687 "Exchange IMAP denies connection"
I have connected to my private IMAP server, but when I want to connect to my company's Exchange IMAP-server, I get an error message saying: "Mail server denied authentication". The credentials work with my Thunderbird client.
Please tell me which logfile output you need.

[2015-05-18 15:50] aer0s commented on #671
I'll need to figure out how to re-configure it with a gmail account. I will do so and report the result here.

To answer the second question: it doesn't seem to have anything to do with the email itself. It will not load __any__ email body from __any__ email account, at least from our imap server, yet it does load enough of the headers to produce a list of messages. If the point of the question is

[2015-05-18 16:22] jancborchardt commented on #687
The details we need are described in the second paragraph at https://github.com/owncloud/mail#installation (issue template). Thanks! :)

[2015-05-18 16:41] zinks- commented on #673
Please tell us how this goes.

[2015-05-18 16:47] jeppebundsgaard commented on #687
### Steps to reproduce
1. Press Add account and choose manual configuration
2. Insert Exchange IMAP server information and credentials
3.

### Expected behaviour
A new account should be created
### Actual behaviour
An error message: "Mail server denied authentication"

### Server configuration
**Operating system**: Ubuntu Linux 14.04

**Web server:** Apache

**Database:** Mysql

**PHP version:** 5

[2015-05-18 17:16] jancborchardt commented on #687
Maybe more is required for Exchange support? Is this a duplicate of https://github.com/owncloud/mail/issues/404 ?

[2015-05-18 17:44] jeppebundsgaard commented on #687
Thanks for responding!
No, it is not the same I ask for. My company has configured the exchange server to accept IMAP connections. It works fine on my Thunderbird client.

[2015-05-18 17:55] DeepDiver1975 commented on #687
Please enable imap logging as explained in the readme - hopefully we gain some more information.

[2015-05-18 18:21] jeppebundsgaard commented on #687
Horde-log says:

[code]

I am SURE that my password is correct - checked several times.

[2015-05-18 18:52] DeepDiver1975 commented on #687
Hmmm ..... maybe something we bring to attention upstream at the horde project. Hopefully they have an idea.

[2015-05-18 19:11] TheChristian01 commented on #673
It does not work :) Same problems :)

[2015-05-18 20:19] Tribalize commented on #673
I can confirm the same errors. I use a 1and1 server. Can not connect with any email address. was using rainloop and it worked fine. I just tried to switch since the release of this app out of production.

Errors i am seeing after trying to add accounts. Auto config times out when trying to conect to gmail
fsockopen(): unable to connect to alt1.gmail-smtp-in.l.google.com:993 (Connection timed out)

[2015-05-18 20:21] jancborchardt commented on #681
Yeah, good call!

[2015-05-18 20:50] jancborchardt commented on #266
@PoPoutdoor I assume that the error is fixed since we worked a lot on the app. Are you still in by the way? :) Come over to #owncloud-mail on IRC again!

[2015-05-18 20:50] #266 closed

[2015-05-18 20:51] jancborchardt commented on #210
Maybe these situations can be prevented by improving autoconfig: #678 cc @zinks-

[2015-05-18 20:51] #210 closed

[2015-05-18 20:58] Xenopathic commented on #687
Looks like it could be related to this issue: https://confluence.atlassian.com/display/JIRAKB/Authenticate+Failed+Error+when+Connecting+to+Exchange

[2015-05-19 01:38] PoPoutdoor commented on #266
@jancborchardt Can't test the fix right now, have to setup a virtual server for OC 7.0.4 and up.

[2015-05-19 07:08] nielsha opened #688 ""to" field is case sensitive"
The "to" field seems to be case sensitive. In my opinion this is unnecessary.

[2015-05-19 07:33] jancborchardt commented on #688
Can you describe this further? When I write an email address with mixed case it seems to make no difference. Do you mean we should lowercase the email address automatically?

cc @DeepDiver1975 @zinks-

[2015-05-19 07:33] jancborchardt commented on #266
@PoPoutdoor or simply install ownCloud locally to have a dev environment. :)

[2015-05-19 08:05] zinks- commented on #688
this is #197
and still happening to me too !

[2015-05-19 09:59] wurstchristoph commented on #685
Do you mean this: https://github.com/owncloud/mail/blob/b7977ae2dbd51c7cda2ea32280538d6e96e08794/js/views/sendmail.js#L220-L226

I implemented it, but it seems to be broken

[2015-05-19 10:07] jancborchardt commented on #685
@wurstchristoph yeah, that. It probably doesn’t work because the container `#new-message-msg` is not visible anymore when switching to a different mail. Can you use `OC.Notification.showTemporary` instead?

[2015-05-19 10:08] jancborchardt commented on #688
Ok, I reopened #197 – closing this as duplicate. @nielsha let’s continue in #197

[2015-05-19 10:08] #688 closed

[2015-05-19 10:08] jancborchardt commented on #197
@zinks- @nielsha can you provide futher details of your setup?

[2015-05-19 13:12] zinks- commented on #673
Just got confirmation from 1&1 support that port 465 and 587 are not blocked on their hosting.

[2015-05-19 13:22] Gomez commented on #206
The bug does not get any attention @ mozilla. I voted for the bug.

[2015-05-19 13:23] zinks- commented on #197
I'm using the latest stable versions of oc and contacts, here some mysql info :

``mysql  Ver 14.14 Distrib 5.5.43, for debian-linux-gnu (x86_64) using readline 6.2``

[code]

[2015-05-19 13:32] zinks- opened #690 ""Favorites" folder name is not translated"
the "Favorites" special folder name is not translated :

https://github.com/owncloud/mail/blob/3e54cf1bd5b6ef265f8d111390f1856b2b84ae3b/lib/searchmailbox.php#L26

[2015-05-19 13:41] TheChristian01 commented on #673
Can you fix this?

[2015-05-19 13:43] jancborchardt commented on #690
@zinks- @irgendwie @wurstchristoph you wanna fix that? :)

[2015-05-19 13:57] renjithkathirolil opened #691 "Images not loading in HTML mail"
Am using OC 8.0.3 .Am having an issue with the mail app i.e images are not loaded in the mail content. They appear as broken images. Rest all other contents are loaded . The only problem is with images .

When viewed in web it returns Forbidden error.
Hope you can help me.

Thank you.

[2015-05-19 14:14] jancborchardt commented on #691
@renjithkathirolil thanks for submitting it here! Please use the [issue template](https://raw.githubusercontent.com/owncloud/core/master/issue_template.md) to provide us with the info necessary to debug this issue. Thanks!

Also, is this reproducible with other accounts, in other browsers, or in other ownCloud installations?

[2015-05-19 16:12] TheChristian01 commented on #673
Hi!
Im not longer interessted in fixing this bug. We changed to STRATO today. Everything works there :)
But I hope you can fix this sometime, to help all the 1and1-Costumers!

[2015-05-19 18:13] Tribalize commented on #673
after uninstalling and reinstalling both this mail app and rainloop. this is what i have found.
this mail app and rainloop both can connect to servers with imap settings.
Stmp is where the problem seems to exist. rainloop stmp only works by using php mail() function
This mail app will connect with imap but fails with stmp.

log below of gmail account and 1and1 email account

Error	mail	Creating ac

[2015-05-19 20:41] wurstchristoph opened #693 "prevent lost drafts when leaving app before draft timeout"
A draft could easily be lost if a user navigates away from the mail app before the draft timeout finished and the draft was saved on the IMAP server.

Possible ways to implement this:
- add ``onbeforeunload`` event handler and warn the user
- additionally store the draft to localstorage and save it to IMAP when the user comes back

The latter approach would give a less confusing user experience, w

[2015-05-19 21:14] zinks- commented on #673
@Tribalize thx for the followup! Can you find out what actual smtp server the mail() function uses?
I'm thinking it probably connects to 1&1's own smtp.
Maybe you can send it an email from rainloop  so that I can take a look at the headers (my address in on my profile page)?

Maybe the ports *are* blocked and either the customer support tried to lure a new customer (me) in, or they didn't understa

[2015-05-20 06:41] jancborchardt commented on #693
Hehehe – you probably know what I prefer … ;) But yeah, true story that if we only save it in localStorage there could be conflicts, and the use of the draft is kinda lost.

The localStorage saving we do anyway from time to time, right? So in the case of navigating away (shouldn’t be possible because we force all links to open in new tabs) or closing the window while there are unsaved changes of t

[2015-05-20 06:42] jancborchardt commented on #693
(Setting for 0.3 as it’s an edge-case less important than other draft fixes. ;)

[2015-05-20 07:11] renjithkathirolil commented on #691
please see the link

username/ password  admin/admin
[link to owncloud!](http://kgwc.in/test/owncloud)

[2015-05-20 07:13] DeepDiver1975 commented on #664
I honestly cannot reproduce this - yes the search command returns a hugh list - not much we can do here afaik - but this is not that time consuming.
But firing 8000 fetches causes this issue - but this piece I don't get - we splice the array of ids to only fetch the requested 21 messages.

@Azelphur do you have the capabilities to debug into the code pieces in mailbox.php method getMessages() and

[2015-05-20 08:53] jancborchardt commented on #664
Maybe you have an idea @clementhk @wurstchristoph @zinks- @irgendwie?

[2015-05-20 08:59] jancborchardt commented on #656
Fix at https://github.com/owncloud/mail/pull/695

[2015-05-20 08:59] jancborchardt commented on #656
Fix at https://github.com/owncloud/mail/pull/695, please review! :)

[2015-05-20 09:02] jancborchardt commented on #691
@renjithkathirolil ok, I can see that the images do not show up. (And they are proxied, correctly I assume cc @LukasReschke)

@renjithkathirolil but we also need the owncloud.log here. Thanks! cc @DeepDiver1975

[2015-05-20 09:54] renjithkathirolil commented on #691
owncloud log

{"reqId":"f1cf88d1358a228727917aaab3222688","remoteAddr":"118.102.223.194","app":"PHP","message":"touch(): Unable to create file \/home\/kgwcin\/public_html\/test\/owncloud\/data\/owncloud.log because No such file or directory at \/home\/kgwcin\/public_html\/test\/owncloud\/lib\/private\/log\/owncloud.php#48","level":3,"time":"2015-05-18T11:51:01+00:00"}
{"reqId":"d937fac3bae25429c72

[2015-05-20 10:59] LukasReschke commented on #392
Not supported by most browsers. Proposal seems to be dead => Kill it.

[2015-05-20 10:59] #392 closed

[2015-05-20 13:02] jancborchardt opened #699 "Only show desktop notifications for really important emails"
Currently we show HTML5 desktop notifications for any new message.

Similar to the »Focused inbox« https://github.com/owncloud/mail/issues/146 it would be good to only show notifications for actually important emails:
* only mails directly to you (only when your email is in the »to« field, not in cc or when it’s a group email address forwarded to you)
* no notifications (from noreply addresses etc