[2015-05-20 13:07] marius01 commented on #673
Hey. I will ask 1und1 Support about the Ports :)

[2015-05-20 13:20] marius01 commented on #673
I've just spoken with 1und1. These functions via the ports are actually for security reasons only possible with PHP and Sendmail.

[2015-05-20 15:08] zinks- commented on #673
@marius01 ah thnaks for the info! I guess this might have just turned into a feature request then!
@jancborchardt @DeepDiver1975 Do we want to support setups where the only way of sending mail is through the mail() php function ?

[2015-05-20 15:13] marius01 commented on #673
Can anybody tell me the diffrence between SMTP and mail php? (disadvantages) ...

[2015-05-20 15:24] zinks- commented on #673
@marius01 When you use mail(), the smtp server you send your message through is one decided by the hosting provider, not the one associated with your mail account.
this causes concerns for privacy, and  if you use [SPF](https://en.wikipedia.org/wiki/Sender_Policy_Framework) will cause problems (or will defeat its purpose if you have to add this public smtp server to the allowed senders)

[2015-05-20 15:31] marius01 commented on #673
That sounds bad for privacy :) Is there any other options?

[2015-05-20 18:50] Tribalize commented on #673
After much research and testing including using http://mxtoolbox.com/ and telnet
i was able to connect 3 1and1 email accounts using stmp.1and1.com, stmp security none, port 25
But unable to add a gmail account. still getting stmp connect error there.

[2015-05-20 19:05] jancborchardt commented on #673
@DeepDiver1975 @LukasReschke your comments on the above please ^

[2015-05-20 19:20] #206 closed

[2015-05-20 19:26] jancborchardt commented on #79
We need the public Calendar API in core for this: https://github.com/owncloud/core/pull/11461 – @georgehrke please get on reviewing this!

cc @irgendwie cause you were interested in working on this. ;)

[2015-05-20 20:24] jancborchardt commented on #681
Fixed at https://github.com/owncloud/mail/pull/703 – please review :)

[2015-05-20 21:21] jancborchardt commented on #84
@LukasReschke since you volunteered for this. ;)

[2015-05-20 22:57] RandolfCarter commented on #206
Getting
[code]
when trying to run latest master, and folders except inbox aren't refreshed - is it related to this issue? Is it maybe just a setup issue on my part?

[2015-05-20 23:06] LukasReschke commented on #206
If you use core master as well as mail master you need to pull both branches. Stable8 + 7 of core should run fine also.

[2015-05-20 23:25] clementhk commented on #673
mail() is native C (and through MTA), so it's a lot more reliable and fast.

Clement

[2015-05-21 03:01] biolumin commented on #670
I'm going to work on this. :)

[2015-05-21 06:55] jancborchardt opened #707 "Log error in conjunction with Contacts app (due to partly broken import)"
Due to the Contacts app currently having a bug which doesn’t import contact pictures (https://github.com/owncloud/contacts/issues/904), I get these error logs in the Mail app:
[code]

Not sure if it’s something we can/should fix, but might be something we can prevent by checking if the image exists. Any idea @zinks- @wurstchristoph @DeepDiver1975?

[2015-05-21 08:20] RandolfCarter commented on #206
I tried with core 8.1b2 and mail master branch.

[2015-05-21 09:34] LukasReschke commented on #206
Yes. That won't work at the moment as the beta 2 does not contain the needed core changes. You need to apply https://github.com/owncloud/core/issues/16463 for that :-(

Next 8.1 build should work though! :smile:

[2015-05-21 09:50] enoch85 commented on #663
- [ ] Delete (sync) message on ownCloud, if deleted on mailserver.
- [X] Delete (sync) message on mailserver, if deleted on ownCloud.

[2015-05-21 10:55] RandolfCarter commented on #206
Ah of course. I saw that one but didn't realize it was a change to the core repo. Must have been quite tired already ;)

[2015-05-21 11:04] Trim commented on #424
I think too that images should'nt be automatically downloaded.

I like the solution of Horde: only show Text part of mails by default (if there's none, show nothing) and add a banner to display HTML part with a warning about leaked informations.

The big problem for me, is that's easy to insert a unique identifier in HTML links for spammers.

[2015-05-21 12:35] DeepDiver1975 commented on #707
this message is pure debug information and has no impact on functionality - nothing we can/need/should take care of - from the mail perspective

[2015-05-21 12:35] #707 closed

[2015-05-21 13:25] jancborchardt commented on #424
@LukasReschke please comment here on how we will do this (cronjob, like Gmail).

[2015-05-21 13:59] zinks- commented on #631
We some something like that for php too, maybe http://editorconfig.org/

[2015-05-21 14:45] #684 closed

[2015-05-21 15:34] wurstchristoph opened #708 "Message is loaded/rendered although 'New message' button was clicked"
I found another timing issue: When you click the 'New message' button while a message is loaded, the composer is shown shortly and then replaced by the message.

Steps to reproduce:
- click a message in the message list
- while the message loads (spinner visible), click the 'New message' button
- the composer is shown shortly, but then replaced by the clicked message

Expected behavior:
The messag

[2015-05-21 16:24] #690 closed

[2015-05-21 20:08] jancborchardt opened #710 "Special notification style when there is only one email"
When there is only one new email, we shouldn’t waste the first line to say

But rather say (basically same as in the message list in the app):

That will make the notifications more useful because then you more quickly see what a notification is about in the very common case of just one new email having rolled in.

@DeepDiver1975

[2015-05-22 01:29] #681 closed

[2015-05-22 13:26] wurstchristoph opened #712 "Folder list whitespace in Chrome, but not in Firefox"
I don't know which one is the intended one, but Chrome and FF show different folder list bottom:
# Firefox
![](https://cloud.githubusercontent.com/assets/1374172/7771307/b8907636-0096-11e5-86ea-d0e9e96750ed.png)
# Chrome
![](https://cloud.githubusercontent.com/assets/1374172/7771310/ba141e36-0096-11e5-9766-595cae8b5ff0.png)

@jancborchardt any idea?

[2015-05-22 14:00] jancborchardt commented on #712
This is not intended - the whitespace should be there for both.

Maybe you saw it in the folder list as well, which might be a similar issue. If anyone knows how to fix it, please do :) cc @biolumin @colmoneill

[2015-05-22 14:47] Gomez commented on #631
I formatted the first js file (settings.js). Will slowly do it for all js files... If needed we have to merge other PRs first.

[2015-05-22 22:00] enoch85 commented on #656
Get this:

[code]

Patched with the RAW file, and replaced the content with the latest updates, just as usual.

[2015-05-23 13:16] wurstchristoph commented on #480
I would suggest we cache the 20 most recently loaded messages. I had a look at my inbox, most of the mails are under 1KB, some are up to 4KB: ~3KB average.
If I assume most users have 1 to 3 mail accounts with 5 - 15 folders each, the worst scenario would cache 20 * 3 * 15 * 3KB = 2700KB = 2.6MB.
I found out that modern browsers local storage size limit is about 5 to 10MB, which should suffice.

T

[2015-05-23 13:41] wurstchristoph commented on #663
@enoch85  what do you mean by that? That messages deleted in other mail clients disappear from the message list automatically?

[2015-05-23 15:29] ludenticus opened #714 "Outlook authentication failed"
I cannot create a new outlook email account (@hotmail). I've double-checked every option

imap-mail.outlook.com
SSL 993

smtp-mail.outlook.com
STARTTLS 587

I've tried as well:
STARTTLS 25
SSL/TLS 465
SSL/TLS 25
SSL/TLS 3535

Each time, the answer is the same:

Authentication was successful, but authorization failed

![screenshot from 2015-05-23 09-36-02](https://cloud.githubusercontent.com/assets

[2015-05-23 15:30] marius01 commented on #673
So...Is anybody able to fix this or make an workarround?

[2015-05-23 15:39] irgendwie commented on #714
Maybe this helps? http://www.msoutlook.info/question/773

[2015-05-23 16:49] ludenticus commented on #714
I can confirm that it is mandatory to have the Two Step Verification enabled and provide an App password instead of the user pass. No need to manual config.
Thanks for your prompt reply. I'm closing the issue as solved.

[2015-05-23 16:49] #714 closed

[2015-05-24 03:19] enoch85 commented on #663
@wurstchristoph Yes, the server should sync both ways, not just sync if I delete the message on the mailserver.

[2015-05-24 09:35] jancborchardt commented on #670
Fixed by @aidanamavi via #706

[2015-05-24 09:35] #670 closed

[2015-05-24 09:36] jancborchardt commented on #714
@irgendwie can you add this to our wiki page on troubleshooting? Where it also mentions the Google auth?

[2015-05-24 10:51] wurstchristoph opened #717 "Add printer friendly view"
To allow printing of mails either a special print style sheet or a dedicated button for showing only the mail content is needed

[2015-05-24 11:28] wurstchristoph commented on #663
@enoch85 I had a look at the code, it seems like the background checks of changes of a folder use the UID validity which only changes if there are new messages AFAIK

@DeepDiver1975 is that correct? Is there any way to detect deleted messages?

[2015-05-24 11:57] marius01 commented on #673
If i use php mail (): how can i config SPF-Records, to be proof, that nobody sends E-Mails from my Domain (only me and my owncloud users).

Can you integrate php mail() into 0.2 (when will this release come?)

Are there any other security problems with php mail (). I dont want to loose privacy and security :)

I hope anybody can help!

[2015-05-24 12:56] wurstchristoph commented on #408
@jancborchardt @Xenopathic It's fixed now :smile:

[2015-05-24 13:47] zinks- commented on #673
@marius01

1. The 1&1 smtp is shared, so setting up SPF would "validate" any other mail sent by 1&1 client.
2. If you look closely, you will see that this issue has been tagged "0.2", so right now yes it is planned (that can change though)

Please try to refrain using these bug reports for questions about SPF, mail(), and anything not directly related to an issue in the mail app. You will find a l

[2015-05-24 14:32] damiongans opened #718 "[Request] Attach file in reply"
It would be awesome if we could attach files to replies.

Thank you

[2015-05-24 14:32] damiongans opened #719 "Attach local files"
It would be really cool if we could choose to attach local files to a new email.

:-)

[2015-05-24 15:32] wurstchristoph commented on #719
There is already an open issue for that: #462 ;-)

[2015-05-24 15:37] damiongans commented on #719
Okay I am sorry. Nice to see people already mentioned this :-)

[2015-05-24 15:37] #719 closed

[2015-05-24 18:45] clementhk commented on #664
I like this kind of issues :) let me know when 0.2 is going to launch and if anyone will be on it before that.

[2015-05-24 21:26] teytey commented on #673
Same problem here "Erstellung des Kontos ist fehlgeschlagen:Error connecting to SMTP server."

Error	mail	Creating account failed: Error connecting to SMTP server.	2015-05-24T21:23:38+00:00
Error	mail	Creating account failed: Error connecting to SMTP server.	2015-05-24T21:23:14+00:00
Error	mail	Creating account failed: Error connecting to mail server.	2015-05-24T21:22:58+00:00

and

Error	PHP	fsoc

[2015-05-24 21:38] rigrig opened #720 ""Error while loading the selected account.""
Setting up my account seems to work, but after that it won't even display the mail interface.

### Steps to reproduce
1. Enable the Mail app
2. Setup a new mail account (IMAP & SMTP both localhost over TLS)

### Expected behaviour
Mail interface shows up

### Actual behaviour
Interface stays empty, except for a single throbber image
Two other throbbers show up at first, but are hidden after a few

[2015-05-25 08:00] apg1980 opened #721 "Problem Spinning icon after adding new imap account (exchange 2013)"
Hi,
i've upgradet to the latest mail version.
i disabled first the app in owncloud, deleted database tables and installed all dependencies.
after adding my mail account the same way before the horde.log is showing all mail folders whitin my account but the mails didnt appear.

last lines from horde.log:
S: * STATUS Junk-E-Mail (MESSAGES 0 RECENT 0 UIDNEXT 18 UIDVALIDITY 213 UNSEEN 0)
S: 132 OK STA

[2015-05-25 08:09] jancborchardt commented on #648
Fixed by Alex @irgendwie via #679!

[2015-05-25 08:09] #648 closed

[2015-05-25 08:11] jancborchardt commented on #480
Nice! That limit is on localStorage only though, right? IndexedDB and the newer local browser storages can handle more from what I remember.

[2015-05-25 08:18] jancborchardt commented on #718
There's also an existing issue for this ;) https://github.com/owncloud/mail/issues/460

You're welcome in our IRC channel #owncloud-mail btw! Or propose a pull request if you are up for fixing the issue yourself. :)

[2015-05-25 08:18] #718 closed

[2015-05-25 08:19] jancborchardt commented on #408
@wurstchristoph so what was it? :D

[2015-05-25 08:34] wurstchristoph commented on #408
@jancborchardt it was a bug in horde, seems to be fixed with the latest version :-)

[2015-05-25 08:39] wurstchristoph commented on #480
I'm not sure about that https://stackoverflow.com/questions/10988569/what-are-the-storage-limits-for-the-indexed-db-on-googles-chrome-browser (Although that article may be outdated)

[2015-05-25 12:13] mradke opened #722 "Task create throws fatal error"
I am trying to get the Task-App up and running on my server behind an nginx and on an owncloud distribution package installation (running Ubuntu). The installation is secured with a self signed root certificate.

**Expected behaviour**
* Install the app
* Activate the app
* Create new list
* Create new task (type in the textfield, press return)

**Obeserved behaviour**
* Install the app - ok
* Act

[2015-05-25 12:15] mradke commented on #722
sorry - wrong board :-1: :-/

[2015-05-25 12:15] #722 closed

[2015-05-25 16:46] apg1980 commented on #721
Additional information:
ubuntu 14.4
owncloud 8.3
mysql 5.5.39
php 5.4.32

Owncloud Apps: user_ldap, activity, deleted files, documents, external storage support, files clipboard, first run wizard, gallery+, impersonate, mail, news, mozilla sync, pdf viewer, ownnote, share files

[2015-05-25 18:41] jancborchardt commented on #664
@DeepDiver1975 @wurstchristoph anyone working on this or should @clementhk take this? :)

[2015-05-25 19:41] arthurlutz opened #723 "Automatically import attached ics into calendar"
It would be great if the mail application would detect if attachment is an icalendar file and automatically import it with the attached information into the calendar app.

[2015-05-25 19:46] wurstchristoph commented on #723
duplicate of #79

[2015-05-25 19:53] arthurlutz commented on #79
+1

[2015-05-25 20:03] wurstchristoph commented on #664
@jancborchardt I cannot reproduce this, so I'm not working on it ATM.

@clementhk it would be great if you could have a look at this ;-)

[2015-05-25 20:51] #668 closed

[2015-05-25 21:22] jancborchardt commented on #712
Fixed by @aidanamavi via #716 :)

[2015-05-25 21:22] #712 closed

[2015-05-25 22:02] wurstchristoph commented on #721
Hi @apg1980,
could you please post more of your horde log? It seems like you included only IMAP responses (lines starting with ``S:``. To debug this, it would help to know which commands where sent to the IMAP server (lines starting with ``C: ``). Thanks!

[2015-05-25 22:12] wurstchristoph commented on #720
@rigrig is this a fresh install of the mail app or have you used an older version before?

It seems like the exception is thrown because the IMAP password can not be decrypted.

[2015-05-25 22:38] wurstchristoph opened #725 "When opening the composer, the currently active account should be selected automatically"
ATM the very first account is preselected in the composer. I would say it makes more sense to preselect the currently active account.

Steps to reproduce:
- Open folder of a mail account other than your very first one
- Click 'New message'
- The first account is selected instead of the currently active one

[2015-05-25 22:45] wurstchristoph opened #726 "Add ellipsis if mail address is too long"
Currently long mail addresses are wrapped like this one:
![](https://cloud.githubusercontent.com/assets/1374172/7802868/01dafa86-0340-11e5-8b59-24bfe4ee9a09.png)

@jancborchardt how about if we add an ellipsis instead?

[2015-05-26 02:14] sndrsk commented on #717
I would also really appreciate a printer-friendly view. I also print to PDFs a lot, it would be great if I could download the e-mail as a PDF or save it to my cloud as a PDF.

[2015-05-26 11:01] DeepDiver1975 commented on #663
AFAIK changes to a mailbox are detectable by comparing UIDVALIDITY and UIDNEXT. Depending on the mail server implementation this might be insufficient.

I guess this requires some more research

[2015-05-26 11:38] zinks- opened #729 "Support sending mail through php's builtin mail() function"
Some webhosts disable outgoing connections on common smtp ports. They often allow sending mail throught the php mail() function, which connects to some smtp server chosen by the hoster.

Web hosting services known to block smtp connections :

- 1&1 (1und1)

[2015-05-26 11:58] DeepDiver1975 commented on #729
Nice finding ... THX

We can fix this by adding a config switch and disable all the smtp stuff

[2015-05-26 12:04] jancborchardt commented on #673
Closing in favor of the shorter issue https://github.com/owncloud/mail/issues/729 which contains just the solution to this issue. :) Thanl you @zinks-!

[2015-05-26 12:04] #673 closed

[2015-05-26 17:24] jancborchardt opened #730 "On deletion, switch to newer mail instead of older"
Currently when you delete an email, the next one automatically getting opened is the next older one. Usually email apps do it the other way around: Opening the next newer one.

We should switch that around hence. :) (That also makes it simpler to follow conversations for now while will don't have threading #21 - simply start at the oldest one and delete to get to the next one.)
Of course when you

[2015-05-26 17:49] jancborchardt commented on #723
As @wurstchristoph said - let's continue in https://github.com/owncloud/mail/issues/79 :)

[2015-05-26 17:49] #723 closed

[2015-05-26 17:51] rigrig commented on #720
I tried it for the first time about a week ago, IIRC it gave the same error then, but I didn't have time to file a proper bug report. I did follow the 'Resetting the app' instructions though.

Today (to make sure):
- deleted the apps/mail folder
- in mysql, confirmed the rows & table for the mail app were present, ran
[code]
  then checked those rows & table were now gone

- in the F12-console, ra

[2015-05-26 17:53] jancborchardt commented on #725
I could have sworn we have an existing issue for this ... fully agree for sure. ;)

[2015-05-26 17:54] jancborchardt commented on #725
There it is - duplicate of https://github.com/owncloud/mail/issues/297 :)

[2015-05-26 17:54] #725 closed

[2015-05-26 17:56] jancborchardt commented on #729
(@DeepDiver1975 can we exclude issues opened by repo contributors from the owncloud-bot messages? Or shut it down altogether? It's really more annoying more often that it's worth. :\

[2015-05-26 17:58] jancborchardt commented on #717
Yeah, good call. Tagging it as starter issue. Basically what has to be done is to hide everything except the subject, to/cc and the message body.

[2015-05-26 18:02] #708 closed

[2015-05-26 18:17] colmoneill commented on #717
Could be fun to tackle this. What would be best then? Ctrl + P? a button to toggle print styles? Do we want this as a visible option of the unique email interface, or just something to appear for those of you who do print emails and do the keyboard shortcut?

[2015-05-26 18:53] colmoneill opened #731 "disallowScriptDomain() error"
### Steps to reproduce
1. select a mail message

### Expected behaviour
Load email content

### Actual behaviour
[code]

### Server configuration
**Operating system**: Ubuntu 14.04

**Web server:** Apache

**Database:** SQLite

**PHP version:** PHP Version 5.5.9-1ubuntu4.9

**ownCloud version:**  8.1 alpha 2 (git)

**Updated from an older ownCloud or fresh install:** no

**List of activated apps:*

[2015-05-26 19:09] wurstchristoph commented on #717
@colmoneill I don't think any shortcut is needed, you can simply create a CSS file that only shows elements that should be visible in the print view.
http://www.w3.org/TR/CSS2/media.html

[2015-05-26 19:12] LukasReschke commented on #731
ownCloud 8.1 Alpha 2 will not run with the current master. See https://github.com/owncloud/mail/issues/206#issuecomment-104200771 for details how to work around this until the next alpha / beta / rc has been released.

[2015-05-26 19:12] #731 closed

[2015-05-26 19:24] colmoneill commented on #717
Cool.
I'm going to add a specific stylesheet for print, as mail.css is already nearing 700 lines.
https://doc.owncloud.org/server/8.1/developer_manual/app/css.html#css
Sound ok?

[2015-05-26 19:29] colmoneill commented on #717
... if I can find the darn file through which I include new stylesheets...
Any ideas?

[2015-05-26 19:43] wurstchristoph commented on #717
@jancborchardt what do you think? ^

@colmoneill it's added via the controller https://github.com/owncloud/mail/blob/master/lib/controller/pagecontroller.php#L66 ;-)

[2015-05-26 19:57] jancborchardt opened #732 "Ctrl-click on a link leads to redirect not working"
1. Ctrl-click on a link (because you're used to needing to do that to open links in new tabs)
2. See this:
![redirect](https://cloud.githubusercontent.com/assets/925062/7821892/287333e0-03f2-11e5-98c3-a1cf2f1de62d.png)
(Chrome in incognito mode, ownCloud 7 latest stable)

cc @LukasReschke your job ;)

[2015-05-26 20:00] jancborchardt commented on #717
@colmoneill yup, print.css is a good call. :)

[2015-05-26 20:00] #726 closed

[2015-05-26 20:03] jancborchardt commented on #731
@colmoneill btw if you use the Contacts app as well and add images to the contacts, the faces will nicely show up in the message list. ;)

[2015-05-26 20:07] colmoneill commented on #717
@wurstchristoph @jancborchardt

adding it into the pagecontroller.php does work
[code]
but it tags the stylesheet as media, which is far from ideal.

I'm looking for a solution.

[2015-05-26 20:16] wurstchristoph commented on #717
@colmoneill hm, seems like ``addStyle`` is depricated anyway (https://github.com/owncloud/core/blob/master/lib/private/appframework/core/api.php#L77-L88)

@jancborchardt do you know more about that? Should we move it to the template?

[2015-05-26 20:32] ChristophWurst opened #733 "Detect flag changes and expunged messages"
ATM we only check for new messages (uid validity, next uid). Additionally, it would be great to detect and sync any other changed flags (unseen, starred, replied, deleted,...) or messages deleted in other IMAP clients.

:books:  https://tools.ietf.org/html/rfc4549#section-4.3 seems to be a good strategy to do that

Related: #663

[2015-05-26 20:37] wurstchristoph commented on #663
@enoch85 for automatically synced message flags, I created #733 as it's not related to this issue in my opinion

[2015-05-26 20:42] jancborchardt commented on #717
Hm, @DeepDiver1975 probably knows best.

[2015-05-26 21:04] LukasReschke commented on #720
Would there by any possibility that you can give us the the `inbound_password` stored in the database? – If so please use a dummy account and not your real credentials. Though this password is encrypted with your secret defined in config.php but better be safe than sorry ;)

[2015-05-26 21:05] LukasReschke commented on #720
It should look like the following scheme:

[code]

[2015-05-27 05:10] #656 closed

[2015-05-27 05:11] aidanamavi commented on #663
There are two separate issues discussed in this thread, respectively.
1. Messages deleted in other mail clients should disappear from the ownCloud message list when the ownCloud 'Check Messages ...' button is click.
2. Messages deleted in other mail clients should disappear from the ownCloud message list automatically.

For issue 1, please use this thread.
For issue 2, please use thread #733 to di

[2015-05-27 05:30] DeepDiver1975 commented on #717
Use style () in the template. Awesome guys - I'm honestly impressed. Thanks

[2015-05-27 09:47] #663 closed

[2015-05-27 10:28] wurstchristoph commented on #732
Works in FF/Chrome on OC8 stable, so it seems to be an OC7 issue

[2015-05-27 11:05] wurstchristoph commented on #197
It's a bug in the contacts app: https://github.com/owncloud/contacts/issues/813

[2015-05-27 12:03] irgendwie opened #734 "Missing "Draft saved!" notification for direct reply field"
@wurstchristoph As you were implementing this for the "New message" drafts already! :+1:

[2015-05-27 12:06] wurstchristoph commented on #734
ref #685

[2015-05-27 12:12] #685 closed

[2015-05-27 12:36] jancborchardt commented on #732
Only happens in HTML mails it seems.

[2015-05-27 13:07] marius01 commented on #729
Thank you for creating this post! Do you think it can be fixed? (or is it already). Sorry for asking so much "noob-questions".

[2015-05-27 14:52] wurstchristoph commented on #572
@Xenopathic I just checked it - by default '587' and 'None' are selected. This is somehow strange because the default SMTP port is 25. I think we should set the default to '25' + 'None', or '587' + 'SSL' if we want to prefer connections over SSL

[2015-05-27 15:29] irgendwie opened #735 "Empty drafts are saved, if you type something and delete it again"
Drafts were introduced here: #505

**Problem:** If you compose a new message, type something, delete the text again and leave the composer somehow (click on a mail, folder etc.) an empty draft is saved.

**Expected behavior:** No draft is saved.

**Actual behavior:** An empty draft is saved.

[2015-05-27 15:35] irgendwie commented on #735
This does **not** happen if you just compose a new message and don't type anything.
Any idea @wurstchristoph?

[2015-05-27 15:49] wurstchristoph commented on #735
@irgendwie This is a scenario the current draft implementation does not handle correctly. Because you once hit a key in one of the inputs, it's automatically stored as IMAP draft. If you never type anything, nothing is saved. Simple as that :smiley:

To fix that we need to delete the current draft on IMAP if all inputs are empty. This should be similar to the code that deletes draft messages when

[2015-05-27 20:17] rigrig commented on #720
Apparently this is caused by my password length:
* Freshly reinstalled mail app
* Changed my account password to `test123`
  -> mail app worked fine
* Deleted mail account in the app
* Changed my password to `ZCMisWk3fKsSxnoqi3BXBERZbjxKBJMb9xeQyqMSvwLrXY7BaSRe5sH9oLTXHuXA`
  (As my real password also consists of 64 random alphanumerics)
  -> problem reappeared
  `inbound_password` is `6b37f99ad42

[2015-05-27 20:18] LukasReschke commented on #720
Very nice catch.

cc @DeepDiver1975 Shall we change the type of the field or how shall we handle this best?

[2015-05-27 20:27] rigrig commented on #720
I just confirmed:
[code]
Fixed the issue for me, the stored ```inbound_password``` value is now 306 characters long.

[2015-05-27 22:05] Xenopathic commented on #572
@wurstchristoph Nope, 587 is the SMTP submission port, which should be used for any submissions. 25 is the Mail Transfer Agent (MTA) port, which is used for inter-server mail transfer. 465 is the SSL SMTP submission port, selected by default with the 'SSL/TLS' security option.

[2015-05-30 08:48] irgendwie commented on #664
I did some benchmarks:

* https://github.com/owncloud/mail/blob/a108b66ff13e0982db89ca82776cf534ad57670f/lib/mailbox.php#L77 (needs 8s for ~3800 Mails with my connection)
* https://github.com/owncloud/mail/blob/a108b66ff13e0982db89ca82776cf534ad57670f/lib/mailbox.php#L108 (needs 0.3s for ~3800 Mails with my connection)

`{"reqId":"VWl3FcCoGEIAACuwCU8AAAAC","remoteAddr":"::1","app":"no app in conte

[2015-05-31 05:04] poVoq opened #739 "No server side mail access?"
Maybe I misunderstand the purpose of this plug-in, but it seems to get mails from the IMAP server through the client, at least partially. i.e. it fails getting mail through the owncloud interface with a computer that is in a local network (but does not have access to the internet) through a server that runs owncloud and which has access to the internet and the imap server I am trying to access.

T

[2015-05-31 07:42] DeepDiver1975 commented on #739
This app is an imap client whoch connects to an imap server.  From my understanding there is no limitation with respect to being connected to the internet or not.

As long as the app is open in a browser tab you will receive notifications via html5 notification (no all browsets support that).

I hopw this helps.  Thx

[2015-05-31 07:47] DeepDiver1975 commented on #664
Thanks for digging deeper. Awesome!

As far as I understood the imap search api there is no way to limit the result set.

We might want to give it a try and add a date criteria - like search today only and if we don't get enough results search today and yesterday and soon.

This has the drawback if you search for one email which is 5 years old ....

No idea .....

[2015-05-31 08:19] poVoq commented on #739
Ok, so it is a pure client side app? The server just supplies the java script code?
So what would be exactly the advantage over a regular client application? At best the convenience to load it though the Owncloud interface...
A well, I was hoping it would actually run on the server and just display the emails to the client.

[2015-05-31 10:39] Xenopathic commented on #739
@poVoq There seems to be a misunderstanding - the IMAP client bit of the app is implemented server-side, with notifications passed to the client.

[2015-05-31 12:05] poVoq commented on #739
hmm, so maybe it is the smtp part that make the app fail to load when I connect from a client that has no internet connection?

[2015-05-31 12:58] Xenopathic commented on #739
@poVoq The app is completely client-independent, as all connections to external mail servers are made from the server-side PHP code.

[2015-05-31 20:43] gringo1er opened #740 "With some providers, mails don't appear"
Hello!
I have a kind of trouble... With a french provider.
With SFR, or google, the apps work very fine.
With Free, the app connects, but the page is blank, with the "no mail" message appearing, even if, as you can see, there are messages

I can't find any explanation...

ElGringo
![extract](https://cloud.githubusercontent.com/assets/9809622/7903767/c8403f88-07e6-11e5-9a8d-de09cf966adf.png)

[2015-05-31 21:39] DeepDiver1975 commented on #740
Anything in the owncloud.log?

You might want to enable imap logging and share the contents of data/horde.log

THX

[2015-06-01 07:46] gringo1er commented on #740
Other providers than Free work very fine. And I can access to Free mailbox in IMAP with thunderbird for example. I'll check the horde.log file this evening. Nothing relevant in owncloud log.

[2015-06-01 08:22] gringo1er commented on #740
My mistake... I found something on owncloud.log; Undefined index: count at /var/www/owncloud/apps/mail/vendor/pear-pear.horde.org/Horde_Imap_Client/Horde/Imap/Client/Socket.php#2457
I didn't find horde.log....

[2015-06-01 09:16] DeepDiver1975 commented on #740
https://github.com/owncloud/mail#debug-mode

[2015-06-01 10:52] gringo1er commented on #740
You mean activating it on config.php?  I'm sorry, but I haven't found it. No config.PHP on mail folder...

[2015-06-01 11:00] wurstchristoph commented on #740
@gringo1er  the file can be found inside the ``config`` directory in your owncloud installation root path. Example: ``/var/www/owncloud/config/config.php``

[2015-06-01 13:30] poVoq commented on #739
Ahh, I tried it again, and now it worked. very strange and sorry to have bothered you. Keep up the great work!

[2015-06-01 13:30] #739 closed

[2015-06-02 18:52] gringo1er commented on #740
ok found, logging activated. Horde.log is created. Witch part of log are you interested in? I don't want to write private data on that site. Maybe I could send it via a private way

[2015-06-03 04:23] apg1980 commented on #721
------------------------------

S: * OK The Microsoft Exchange IMAP4 service is ready.
C: 1 CAPABILITY
S: * CAPABILITY IMAP4 IMAP4rev1 AUTH=PLAIN STARTTLS UIDPLUS MOVE ID CHILDREN IDLE NAMESPACE LITERAL+
S: 1 OK CAPABILITY completed.

C: 2 [INITIAL CLIENT RESPONSE (username: p.grunenberg)]
S: +
C: cC5ncnVuZW5iZXJnAHAuZ3J1bmVuYmVyZwBQYXRhdG9yNDAxNTU3OTk=
S: 2 OK AUTHENTICATE completed.

C: 3 CAPABI

[2015-06-03 07:33] loxK opened #742 "Server side filters: sieve"
Add support for server side sieve filters.

[2015-06-03 08:13] wurstchristoph commented on #742
Duplicate of #564, #351, #57, #411 :)

[2015-06-03 08:13] #742 closed

[2015-06-05 15:42] irgendwie opened #743 "cc in quick reply is filled with the own mail address"
I use a mail account, which is configured to receive mails from different mail addresses.

For example:
`max.mustermann@example.com`
`mustermann.max@example.com`
`m.mustermann@example.com`
`...`

(I think you get the idea)

Let's say I use `max.mustermann@example.com` for the account setup. If I now receive a mail via `m.mustermann@example.com`, `m.mustermann@example.com` is automatically filled i

[2015-06-05 18:46] DeepDiver1975 commented on #743
This is basically the alias support we want to implement for 0.2

[2015-06-06 14:21] melinux commented on #740
i have the same problem, nothing is going wrong in horde log.
Only the same php error is in the owncloud log.

[2015-06-06 19:36] DeepDiver1975 commented on #639
We should have a look at https://dev.horde.org/api/master/lib/Imap_Client/class-Horde_Imap_Client_Data_Sync.html - this class seems to implement all we need.

Any volunteer? @irgendwie @wurstchristoph

[2015-06-07 21:58] tom4tom opened #749 "Save Mails in Cloud FS"
Sometimes it is necessary to save Emails in Document FS (DMS) and not in Mail Server....
Is this possible (.eml Format incl. attachments, drag an drop, or like attachments)?
ToM

[2015-06-08 05:56] DeepDiver1975 commented on #749
Should be possible. Contributions are welcome.

[2015-06-08 13:43] DeepDiver1975 commented on #120
0.3 as well - requires major restructuring of the code - as of today the code base is not flexible enough to allow this.

[2015-06-08 17:32] wurstchristoph commented on #639
@DeepDiver1975 awesome! This could also fix #733!

[2015-06-08 18:36] DeepDiver1975 commented on #639
yes - I'd guess so - wana take a look? @wurstchristoph

[2015-06-08 19:10] wurstchristoph commented on #639
@DeepDiver1975 sure, but not in the next few weeks. I'm too busy ATM :/

[2015-06-08 19:19] DeepDiver1975 commented on #639
no worries - your support is welcome anytime! Take care - all the best!

[2015-06-08 20:27] DeepDiver1975 commented on #120
@jancborchardt like this

![bildschirmfoto von 2015-06-08 22 27 04](https://cloud.githubusercontent.com/assets/1005065/8044521/914698ea-0e2d-11e5-8418-98f8363cecfd.png)

[2015-06-09 05:46] aidanamavi commented on #462
I took a look at this issue, and came to the conclusion that we need to access Files app classes or apis to manage/upload a file.

I'm either not aware of how to do this and need some direction, or the current classes for file upload and management in the File app need to be extended. As @DeepDiver1975 noticed, we could spend a lot of hours hacking this only to revert our commits for entirely new

[2015-06-09 05:54] DeepDiver1975 commented on #462
There us no need to integrate the files app.

The mail composer form has to be converted to properly use jquery upload (this is the part I had my head aches with).

The php side is rather easy to be implemented in the account controller.

[2015-06-09 06:27] aidanamavi commented on #462
Okay. I'll give it another shot tomorrow. I'll adjust the controller, and create the jQuery for it. Thanks for the quick feedback. :)

[2015-06-09 07:12] DeepDiver1975 commented on #462
Regarding the php side:  the request object has a method like getFiles () or something.  This is rather trivial to implement.

Fun part is the js side .... have fun!

[2015-06-09 15:04] jancborchardt commented on #120
Yup, nice! Just some details:
* Let’s call it »All inboxes«
* of course only show it when there are 2 or more accounts
* any chance of an »All favorites« entry below it as well? ;)

Good stuff!

[2015-06-09 15:10] jancborchardt commented on #639
Hehe cool, now that @wurstchristoph is also in the ownCloud organization I can assign him ;)

[2015-06-09 19:31] jancborchardt commented on #743
No, that’s separate. The bug @irgendwie describes can be fixed by simply not putting the alias in the cc field.

[2015-06-09 19:38] jancborchardt commented on #721
@wurstchristoph does that help? Or does anyone else have an idea @zinks- @clementhk @DeepDiver1975?

[2015-06-09 20:37] wurstchristoph commented on #721
@jancborchardt unfortunately no, this doesn't help me.

@apg1980 could you please post the full horde output? (From the beginning of the IMAP request, like the ``>> Wed, 03 Jun 2015 04:17:02 +0000`` line above, to the very last command sent to or received from the IMAP server like ``S: * BYE Connection closed.``) :-)

[2015-06-10 04:57] apg1980 commented on #721
there are a lot of personal information within the log. is this necessary?

S: * OK The Microsoft Exchange IMAP4 service is ready.
C: 1 CAPABILITY
S: * CAPABILITY IMAP4 IMAP4rev1 AUTH=PLAIN STARTTLS UIDPLUS MOVE ID CHILDREN IDLE NAMESPACE LITERAL+
S: 1 OK CAPABILITY completed.

C: 2 [INITIAL CLIENT RESPONSE (username: p.grunenberg)]
S: +
C: cC5ncnVuZW5iZXJnAHAuZ3J1bmVuYmVyZwBQYXRhdG9yNDAxNTU3OTk=

[2015-06-10 07:12] DeepDiver1975 commented on #721
Command 108 took 2.7446 seconds.
S: * STATUS Synchronisierungsprobleme/Konflikte (MESSAGES 0 RECENT 0 UIDNEXT 1 UIDVALIDITY 324 UNSEEN 0)

Looks like a server issue - not much we can do ...

Maybe we shall get in touch with the horde project to see if this is an issue in the imap client.

[2015-06-10 07:24] DeepDiver1975 commented on #120
- Ok
- done
- let's see

:WINK:

[2015-06-10 08:04] ChristophWurst opened #751 "Fetch new messages in background"
Like loading top messages when opening/opening a folder, also new messages (loaded in background) should be fetched in background (related to https://github.com/owncloud/mail/pull/715)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/21356484-fetch-new-messages-in-background?utm_campaign=plugin&utm_content=tracker%2F216487&utm_medium=

[2015-06-10 12:06] jancborchardt commented on #120
For reference, this is the PR: https://github.com/owncloud/mail/pull/750

@DeepDiver1975 are the latest changes in there?

[2015-06-10 12:30] jancborchardt opened #753 "Deletion broken, does not switch to other message and current message still stays in detail view"
Just test it with current master cc @DeepDiver1975 @zinks- @irgendwie @AidanAmavi

Correct behavior should be: https://github.com/owncloud/mail/issues/730

[2015-06-10 14:12] jancborchardt commented on #732
@LukasReschke :)

[2015-06-10 16:11] irgendwie commented on #753
Werde es mir in den nächsten Tagen mal ansehen!

[2015-06-10 17:15] apg1980 commented on #721
No Server unavailable = server is available, because server is no unavailable....??????confusing

[2015-06-10 20:33] jancborchardt commented on #457
Fix in https://github.com/owncloud/mail/pull/755

[2015-06-11 10:57] #730 closed

[2015-06-11 11:38] enoch85 commented on #654
Would this be hard to implement, for me with no skills in coding?

[2015-06-11 12:53] DeepDiver1975 commented on #654
Because we want to link the signatures with the aliases which are available in one account - we basically need to:
- [ ] add a new table mail_aliases (columns: int id, int account_id, varchar alias_mail, varchar alias_display_name, text signature)
- [ ] add an alias entity
- [ ] add an alias entity mapper class
- [ ] add an alias controller
- [ ] add some dialog for settings
- [ ] append the signa

[2015-06-11 13:00] irgendwie commented on #753
Fixed by PR #757

[2015-06-11 13:00] #753 closed

[2015-06-11 13:10] jancborchardt commented on #753
@irgendwie hehe, @aidanamavi was faster than you. ;)

[2015-06-11 13:13] irgendwie commented on #753
:see_no_evil:

![I'm not even mad](http://www.mememaker.net/static/images/memes/3153718.jpg)

[2015-06-11 13:14] jancborchardt commented on #753
lol, good one

[2015-06-11 13:29] irgendwie commented on #664
S: 6 OK Success
-- Command 6 took 0.1766 seconds.
C: 7 LOGOUT
S: * BYE LOGOUT Requested
S: 7 OK 73 good day (Success)
-- Command 7 took 0.1807 seconds.

Seems like the fetch doesn't get any messages for my big folder (~4000 mails in it).
Still works for folders with less mails in it (tested with folders containing up to 90 mails).

[2015-06-11 17:43] jancborchardt commented on #720
@rigrig or @LukasReschke can you open a pull request to fix this?

[2015-06-11 17:46] jancborchardt commented on #671
@clementhk did that shed any light on the issue?

@aer0s does the issue still occur?

[2015-06-11 17:50] DeepDiver1975 commented on #720
We actually need both: more chars in password fields and double check length on change/insert

[2015-06-11 20:34] aidanamavi commented on #753
lol

[2015-06-11 21:43] rigrig commented on #720
I only altered the database on my server directly, haven't actually looked at the code.
So while I might get around to creating a pull request eventually, it will take quite some time for me to get started with the OC code first.

It looks like a simple change to <length> in ```appinfo/database.xml``` should do the trick, but I have no idea what would be a reasonable length, how migrations work in

[2015-06-12 07:44] jancborchardt commented on #438
@DeepDiver1975 this happened again today with the `@owncloud.com` account – see attachment of Frank’s latest mail. Saving locally works fine. Saving in the cloud has the proper document, but `(2).` as name.

[2015-06-12 10:21] #614 closed

[2015-06-12 13:06] Ulrar opened #764 "Reseting the app - can't enable again"
Hi,

Tried to reset the app to use the git version, since the version coming with owncloud doesn't handle sub-sub folder correctly. I ran the SQL drops, and now I can't enable the app again because "App directory already exists"

thanks

[2015-06-12 17:02] jancborchardt commented on #764
@Ulrar sub-subfolders also don’t work on master yet: https://github.com/owncloud/mail/issues/618 ;)

@irgendwie @zinks- @clementhk any idea here?

[2015-06-13 08:46] zinks- commented on #764
@Ulrar @jancborchardt I'm guessing the "enable" button you are pressing is trying to download and activate the appstore version instead of just activating the one you cloned from here.

If you have access to your server/host's command line, try enabling the app with the occ command in the owncloud root folder :

[code]

[2015-06-13 10:12] jancborchardt commented on #764
Hm, the cloned folder should always take precedence though. cc @DeepDiver1975

[2015-06-13 11:36] Kenarso opened #765 "owncloud calendar and contacts"
When will you implement the calendar and contacts in mail? Is there any timeframe?

[2015-06-13 15:05] aidanamavi commented on #765
There is some integration right now, other work being done, and much work planned. It's a slow process, but you can search through open and closed issues to see what has been and will be accomplished, try out a Github developer build (master branch) to get a sneak peak, or wait until our next release. Contacts will see faster integration than Calendar, because Calendar is undergoing a major rewrit

[2015-06-13 15:25] DeepDiver1975 commented on #764
Having an app installed twice is not supported.
My suggestion is to either install apps via git or the app store.  Mixing them up is a bad idea.

[2015-06-14 06:15] DeepDiver1975 commented on #720
Changing database.xml is one thing. In addition the version in info.xml and appinfo/version have to be incremented.

Regarding migration testing:  thats going to be tricky as I want this to be unit tested. You can leave this to me :wink:

[2015-06-14 11:47] ChristophWurst opened #767 "Invalid request token of cached HTML messages"
HTML messages are loaded via a URL that contains a request token. As this token is only valid for the current session, there are errors if you log out and in again:
![Error on Firefox](https://cloud.githubusercontent.com/assets/1374172/8148379/c600933a-129a-11e5-9d52-cf95e18b839e.png)

I'm thinking of the following possibilities to solve this:
- don't cache HTML messages (takes more time to load b

[2015-06-14 18:38] ChristophWurst opened #769 "When fetching messages in background, use a single request"
Loading messages in background can be sped up if we use only one request  instead of up to 10 (which causes 10 requests to the IMAP server) :rocket:

[2015-06-14 19:37] #457 closed

[2015-06-15 07:33] Ulrar commented on #764
Hi,

Thanks, php occ app:enable mail did work !
I get an internal server error then, but I guess it's just the git version that's currently broken ?
If sub-subfolders still doesn't work I guess I'll just wait anyway, I deleted the app and put back the original version, I got back access to owncloud. Thanks !

[2015-06-15 07:33] #764 closed

[2015-06-15 08:45] ghost opened #770 "Groups and Contacts in Mail / Attachments"
Hi,

Would be nice, if using Contacts (and Groups!!!) would be possible in OwnCloud Mail,
as well as save and send attachments directly from your PC.

A customer has just shown me that this is not possible.
Does anybody know when 0.2 arrives? (Off-Topic)

[2015-06-15 09:46] #770 closed

[2015-06-15 09:48] DeepDiver1975 commented on #770
planned feature #462

[2015-06-15 09:48] DeepDiver1975 commented on #770
already possible

[2015-06-15 09:48] DeepDiver1975 commented on #770
hmmm - @jancborchardt would that make sense?

[2015-06-15 09:56] DeepDiver1975 commented on #769
so we would need to add a bulk get route - hmmmm

[2015-06-15 09:58] DeepDiver1975 commented on #769
see http://www.l1ghtm4n.com/post/53259404576/patterns-for-rest-api-bulk-operations

we can add some query logic to the index route like

GET /index.php/apps/mail/messages?id=123&id=124&id=125

[2015-06-15 10:07] aspdye commented on #770
@DeepDiver1975 I think it would. Then you could send email to groups. As a kind of mailing list.

[2015-06-15 11:48] ChristophWurst opened #771 "Invalid UID response when saving draft (Exchange server)"
With one of my mail accounts, previous drafts are not automatically deleted when they are replaced by a new one (e.g. while typing).

Firefox developer tools show that the draft ajax request returns ``uid: false``, although it should return the uid of the newly created draft message.

AFAIK it is a MS exchange server where this error occurs, it seems not to happen on other IMAP servers

[2015-06-15 12:01] enoch85 commented on #654
To much for me. :/

[2015-06-15 12:56] aspdye opened #772 "Mailing List / Groups"
Can you create an enhancement, which allows you to write emails to OwnCloud-Contact Groups?
That would be nice for creating mailing lists.

[2015-06-15 13:25] DeepDiver1975 commented on #772
Thanks a lot - putting this to the backlog for the time being - contributions to fix this is are any time welcome. THX

[2015-06-15 15:40] TheGuv commented on #572
We have a  5-second delay before sending the SMTP greeting and deny any sender that tries to continue the transaction before the greeting has been sent (which is against the SMTP spec). This catches a great many spam bots. This mail app doesn't wait for the greeting and so gets denied. I've worked around it with a separate port just for this app, but IMHO this needs tweaking.

[2015-06-15 15:45] DeepDiver1975 commented on #572
This is basically an issue which should be addressed at the upstream project horde - please file an issue there - THX a lot!

[2015-06-15 16:06] TheGuv commented on #572
wilco!

[2015-06-15 18:26] zinks- commented on #764
@Ulrar Make sure you download composer and run the composer install command as seen here : https://github.com/owncloud/mail#developer-setup-info

[2015-06-15 19:21] #619 closed

[2015-06-15 19:37] DeepDiver1975 opened #773 "[master] under yet unknown conditions the check-messages-button disappears"

[2015-06-15 19:37] DeepDiver1975 commented on #773
... and the load-more button as well ... happened after clicking the check-button

[2015-06-16 08:17] aspdye opened #774 "Mass E-Mails to Users"
Have just read an article in the Forum, and promised to note this here:

It would be a great idea to include a feature in the email app that allows you to send mass emails to all users or individual user groups of your OwnCloud.

Reference (German): https://forum.owncloud.org/viewtopic.php?f=21&t=28786

[2015-06-16 08:24] aspdye opened #775 "POP3 Support for Privacy"
Currently OwnCloud Mail only supports IMAP. Would it not be great also to support the POP3-Standard. This would be a feature for privacy-nerds, so their emails would be not longer stored on the servers but directly in the OwnCloud (maybe encrypted :+1:).

To retrieve the e-mails could be a OwnCloud mail - do app.

[2015-06-16 08:40] aspdye opened #776 "Native Encryption / Groupware App"
OwnCloud supports encryption via the plugin Mailvelope. But would it not be great if you could integrate encryption directly in OwnCloud (OpenPGP), and would thus make it possible to retrieve e-mail (with encryption) from any browser.

In addition, the development of a OwnCloud Mail app would not be bad, with which one (even with encryption) to retrieve e-mails and can send. Maybe you could come t

[2015-06-16 09:29] DeepDiver1975 commented on #776
duplicate of #27

I see no need in creating one groupware app - we shall integrate existing apps all together.

Thanks for your feedback!

[2015-06-16 09:29] #776 closed

[2015-06-16 09:31] aspdye commented on #776
@DeepDiver1975 Hi! Sorry. I dont mean a "OwnCloud App". I am meaning an Android, iOS App for Groupware. :)

[2015-06-16 09:39] DeepDiver1975 commented on #775
Supporting POP3 by itself is not an issue - but I question the benefit of it.

Using IMAP allows the use of other mail clients as well - e.g. on a mobile device.
Using an POP3 approach where the mail are downloaded to the ownCloud server this would no longer be possible.

Furthermore I don't get the privacy benefit - either you trust the mail server then there is no need to move them away asap or

[2015-06-16 09:40] DeepDiver1975 commented on #774
kind of related to #772

[2015-06-16 09:42] DeepDiver1975 commented on #765
@Kenarso integration with other apps is the driving force for us to build the mail app.

You are welcome to contribute.

I'm closing this issue - we shall have more detailed feature request - if not yet available

[2015-06-16 09:42] #765 closed

[2015-06-16 09:47] DeepDiver1975 commented on #776
Ah - I see - hmmm - but isn't it a combination of tool on mobile devices which gives you all required functions?

I mean there are calendars, addressbooks, mail and other messengers which all integrate.

[2015-06-16 09:57] aspdye commented on #776
I think just on Android works CalDAV, CardDAV and IMAP is not so perfectly together.Especially for beginners would be an app optimally.

[2015-06-16 10:15] jancborchardt commented on #776
Everything integrates via CalDAV, CardDAV and IMAP – we might be able to make the connection of those easier (through the ownCloud mobile app), but we should not write our own apps for Contacts, Calendar and Mail on mobile. ;D

[2015-06-16 10:16] jancborchardt commented on #765
@Kenarso a bit of searching in the issues brings these to light:
* Ability to add event/ics attachments directly to the calendar https://github.com/owncloud/mail/issues/79
* Ability to add people to Contacts https://github.com/owncloud/mail/issues/363
* Special folder »Contacts« with subfolders for each group https://github.com/owncloud/mail/issues/394
* and more ;)

[2015-06-16 10:18] jancborchardt commented on #774
This seems to be exactly the same as https://github.com/owncloud/mail/issues/772 (or at least so similar that we can keep it to one issue) – closing as duplicate hence.

[2015-06-16 10:18] jancborchardt commented on #774
This seems to be exactly the same as https://github.com/owncloud/mail/issues/772 (or at least so similar that we can keep it to one issue) – closing as duplicate hence.

[2015-06-16 10:18] #774 closed

[2015-06-16 10:19] jancborchardt commented on #775
I agree with @DeepDiver1975 – downloading mails will make it impossible to use with other clients. Nowadays where many people have two devices (smartphone and computer) this would not be feasible.

[2015-06-16 10:19] #775 closed

[2015-06-16 10:22] jancborchardt commented on #772
Yeah, good call. Contact groups should also be in the address autocompletion (much like for the share dialog). A first implementation could simply insert all the individual mail addresses in the case of selecting a group from the autocompletion.

[2015-06-16 10:22] jancborchardt commented on #771
cc @irgendwie @zinks- :)

[2015-06-16 10:23] jancborchardt commented on #770
The groups requirement is being discussed in https://github.com/owncloud/mail/issues/772 :) @ghost let’s continue there.

[2015-06-16 10:27] jancborchardt opened #777 "Enhance mobile message detail view"
As mentioned in the PR https://github.com/owncloud/mail/pull/755 we need to show some message actions also in the detail view:

* [ ] favorite (next to title)
* [ ] delete message (also next to title?)
* [ ] (maybe even means to get to the previous and next messages, but that’s for later)

Anyone interested in working on that? If someone puts the actions in the detail view, I can style them.

[2015-06-16 10:28] jancborchardt commented on #767
Yeah, I also had that for some emails and was wondering! Something about »Too many redirects«.

[2015-06-16 10:28] jancborchardt commented on #767
Regarding how to resolve this, input from @DeepDiver1975 @irgendwie @aidanamavi is needed.

[2015-06-16 11:29] aspdye commented on #776
@jancborchardt Yes. The OwnCloud-App is currently only showing files (i think). Other core-Apps should be supported as well :)

[2015-06-16 11:32] aspdye commented on #775
Ok. I see :)

[2015-06-16 21:17] wurstchristoph commented on #717
@colmoneill @jancborchardt https://github.com/owncloud/core/pull/16857 should resolve the media issue

[2015-06-16 21:28] soumplis opened #780 "Predefined mail accounts"
In future version would be nice if we could add predefined settings for the mail accounts for every user and/or have a set of predefined settings (custom list created by the admin) for users to choose from (ex. Gmail, yahoo mail, corporate accounts etc).

[2015-06-17 01:03] aidanamavi commented on #573
I can't seem to replicate these issues with the latest masters of Mail and ownCloud on both Firefox and Chrome. When the browser window is resized, the iFrame's height is always correct; if necessary, the iFrame horizontal scroll bar will adjust.

With this current fix, there is no noticeable change with Firefox; however, with Chrome the javascript will add 20 height pixels every time the browser'

[2015-06-17 07:06] aspdye commented on #780
Sounds great. Here are my ideas for this feature:

-Admin: Black and Whitelist for IMAP-Servers and! Domains
 example: (only) allowed: sample.com (Domain) @ imap.hoster.de
 disallowed: gmail.com (Domain) @ imap.gmail.com

-Predefinded Accounts and Setting to disable Custom User Accounts
example: max@sample.com -> OwnCloud User Max
info@sample.com -> OwnCloud Group! Sales

-Management of User E-Mai

[2015-06-17 07:12] aspdye opened #781 "Show e-mail storage"
It would be nice if you can add a feature that shows how much space is still available on the server. This is a basic feature.

You could, rather than simply provide information only in %, show the storage with diagrams and statistics for the individual folders.

[2015-06-17 08:32] stefan-niedermann opened #782 "Rich Text E-Mails with TinyMCE"
It would be nice, if one had the option write Rich Text E-Mails via TinyMCE. At least a **bold** and *cursive* should be possible ;)

[2015-06-17 08:33] wurstchristoph commented on #781
Thanks for reporting.
This has already been reported: #32

[2015-06-17 08:33] #781 closed

[2015-06-17 08:39] wurstchristoph commented on #782
Also needed for this feature:  #605

[2015-06-17 09:32] colmoneill commented on #717
Ey cool. I admit I kind of let this go while researching the media issue.

Now that this is in place, I'll try and make some time to make a suggestion.

[2015-06-17 09:32] aspdye commented on #781
Sorry :)

[2015-06-17 09:43] wurstchristoph commented on #717
@colmoneill great, thanks!

[2015-06-17 10:00] DeepDiver1975 commented on #780
duplicate #166

[2015-06-17 10:00] #780 closed

[2015-06-17 10:37] jancborchardt opened #783 "Switch faster to new message when deleting other one"
Now with our new awesome message caching, what still seems slow is the switching to the next message when deleting one. It seems that the code waits for the slideup animation to be finished.

@wurstchristoph @irgendwie want to work on that? :)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22324698-switch-faster-to-new-message-when-

[2015-06-17 13:05] jancborchardt commented on #780
@soumplis @aspdye always make sure you search through the issues before opening new ones. ;) And you’re very welcome in our IRC channel #owncloud-mail! :)

[2015-06-17 13:34] ronoliverclarin opened #784 "Javascript error"
When I tried to click a link in mail content and redirects me to a new window.
This error I always see:
![image](https://cloud.githubusercontent.com/assets/2889432/8208155/9d6230aa-1538-11e5-9a16-0822f6512295.png)

[2015-06-17 14:09] jancborchardt commented on #784
Yup, you probably used Ctrl-Click on the link :) Same issue as https://github.com/owncloud/mail/issues/732

@LukasReschke FIX IT! :D

[2015-06-17 14:09] #784 closed

[2015-06-17 14:10] LukasReschke commented on #784
![](https://cloud.githubusercontent.com/assets/1005065/8183663/eeb2217c-1439-11e5-9fcb-a0f58093ce27.jpg)

[2015-06-17 14:50] jancborchardt commented on #732
It’s also an issue with stable8 according to @ronoliverclarin in https://github.com/owncloud/mail/issues/784 – so we should fix it! :)

[2015-06-17 14:53] LukasReschke commented on #732
We (i.e. me) worked hard on it and it is fixed in current master. Will be fixed with the next release. Thanks for reporting :smile:

[2015-06-17 14:53] #732 closed

[2015-06-17 15:07] jancborchardt commented on #466
Postponing to 0.3 cause it requires some heavy changes.

[2015-06-17 15:08] jancborchardt commented on #618
So can someone work on this for 0.2? Kinda important that the sub-subfolder content is loaded. We don’t necessarily need to style it right, but it should work.

@irgendwie @wurstchristoph @zinks- @Xenopathic? :)

[2015-06-17 15:09] jancborchardt commented on #462
@aidanamavi are you still working on this? Probably @LukasReschke (AnybodyElse on IRC) can help you here.

[2015-06-17 15:10] jancborchardt commented on #602
@wurstchristoph @irgendwie someone of you want to work on this for 0.2? It would indeed be good to finish up the draft stuff.

[2015-06-17 15:12] jancborchardt commented on #95
This is blocked by #462 cc @aidanamavi @LukasReschke @Gomez – and it would be really good to be able to do both with 0.2

[2015-06-17 15:13] jancborchardt commented on #138
Postponing to 0.3 – @LukasReschke if you have time please check it out. :)

[2015-06-17 15:14] jancborchardt commented on #422
@jakobsack are you working on this for 0.2? Otherwise please move it to 0.3 :)

[2015-06-17 15:17] aidanamavi commented on #462
@jancborchardt I gave it two or three days of study, but I couldn't wrap my head around the back end. I referenced other apps, including core, and the same process was done differently for each one, so all I accomplished was the front end. It would be best to have someone else assigned to this issue.

[2015-06-17 15:17] jancborchardt commented on #677
Having 2 accounts _and_ a bunch of folders is pretty advanced (not as important as forwarding and adding attachments from local e.g.) – so postponing to 0.3

[2015-06-17 15:19] jancborchardt commented on #678
@zinks- so are you working on this for 0.2? :) Would be great! Otherwise move it to 0.3

[2015-06-17 15:19] jancborchardt commented on #680
Minor detail, hence I’m moving it to 0.3 – anyone can feel free to pick it up though. :)

[2015-06-17 15:20] jancborchardt commented on #615
Closing in favor of https://github.com/owncloud/mail/issues/641

[2015-06-17 15:20] #615 closed

[2015-06-17 15:23] jancborchardt commented on #641
Anyone with regex-fu capable of fixing this? The code in question is at https://github.com/owncloud/mail/blob/master/lib/service/html.php#L99-L107

cc @clementhk @zinks- @irgendwie @wurstchristoph

[2015-06-17 15:24] jancborchardt commented on #604
@wurstchristoph do you have that on the plan for 0.2? :)

[2015-06-17 15:27] jancborchardt commented on #568
This is also blocked by the rework of the message / reply fields regarding adding attachments from the computer: https://github.com/owncloud/mail/issues/462 – moving to 0.3 also because it’s less important than the other stuff.

[2015-06-17 15:27] jancborchardt commented on #600
@Henni is working on fixing this in core via https://github.com/owncloud/core/pull/16973 :)

[2015-06-17 15:28] jancborchardt commented on #582
Moving to 0.3 as it’s only an issue with Mailvelope.

[2015-06-17 15:29] jancborchardt commented on #484
@aidanamavi do you want to try your hand at this? ;) The challenge is to just fix the issue, not change the layout in any way.

[2015-06-17 15:31] jancborchardt commented on #710
The code in question is at https://github.com/owncloud/mail/blob/master/js/mail.js#L219-L243

Anyone want to check this out for 0.2? @aidanamavi @colmoneill @wurstchristoph :) Otherwise we can move it to 0.3

[2015-06-17 15:33] jancborchardt commented on #480
Basically when #766 is reviewed and merged, this is fixed, right @wurstchristoph? :)

[2015-06-17 15:35] jancborchardt commented on #197
Being worked on in Contacts: https://github.com/owncloud/contacts/pull/910

[2015-06-17 15:36] jancborchardt commented on #734
@irgendwie @wurstchristoph was this fixed by https://github.com/owncloud/mail/pull/689 as well?

[2015-06-17 15:37] jancborchardt commented on #735
@wurstchristoph do you think this is something we should fix for 0.2? Or postpone to 0.3?

[2015-06-17 15:41] jancborchardt commented on #743
Right – we need to know which is an alias for this, related to #122

[2015-06-17 15:43] jancborchardt commented on #751
@wurstchristoph can you clarify what you mean by this? Also, 0.2 or 0.3?

[2015-06-17 15:45] jancborchardt commented on #654
Moving to 0.3 as the other stuff is more important for 0.3 – unless someone just wants to go ahead and implement it of course. ;)

[2015-06-17 15:50] wurstchristoph commented on #751
When detecting changes (new messages) in background, additionally to showing a notification the app should download the messages in the meantime so they are already loaded to cache when the user switches back to the mail app.

[2015-06-17 15:50] jancborchardt commented on #767
@LukasReschke needs to look at this it seems.

[2015-06-17 15:51] wurstchristoph commented on #604
@jancborchardt I don't think so ;-)

[2015-06-17 15:52] jancborchardt commented on #777
Postponing to 0.3

[2015-06-17 15:53] wurstchristoph commented on #480
@jancborchardt More or less, it takes still some time to load all accounts first as they are not cached

[2015-06-17 15:54] jancborchardt commented on #771
@wurstchristoph can you debug this for 0.2? Otherwise move it to 0.3 :)

[2015-06-17 15:54] wurstchristoph commented on #735
@jancborchardt should be doable in 0.2

[2015-06-17 15:55] jancborchardt commented on #773
@DeepDiver1975 as we said back in the days: »Der wer’s entdeckt, der macht `git bisect`.« :D

[2015-06-17 15:56] wurstchristoph commented on #771
@jancborchardt Yes, I can have a look. I assume this shouldn't be hard to debug/fix

[2015-06-17 15:57] jancborchardt commented on #769
@wurstchristoph also something to postpone to 0.3?

[2015-06-17 15:59] jancborchardt commented on #720
@LukasReschke dooo it!

[2015-06-17 15:59] jancborchardt commented on #438
@DeepDiver1975 you need to do this. :)

[2015-06-17 15:59] DeepDiver1975 commented on #721
Can any body please get in touch with the horde project to see if there is a known issue within the horde imap client? THX

[2015-06-17 16:00] jancborchardt commented on #671
@DeepDiver1975 check it out.

[2015-06-17 16:34] Gomez opened #785 "No new mail counter (on inbox) if only in subfolders"
I have sieve filters and new mails only happen in my subfolders. But the new mail counter does not know this.

[2015-06-17 17:43] irgendwie opened #788 "Autofill 'from' in new message"
If you have a multi mail account setup and click on new message, you have to choose between the two mail accounts as transmitter of the mail. Default value is 'from <>', means empty.

Would be cool, to autofill from - if you have selected a mail account specific folder - with the specific mail account.

[2015-06-17 17:54] wurstchristoph commented on #771
``Horde_Imap_Client_Base::_append``:

     * @return mixed  A Horde_Imap_Client_Ids object containing the UIDs of
     *                the appended messages (if server supports UIDPLUS
     *                extension) or true.

With my problematic account, it returns ``true``, therefore the UID is not set because the Server seems not to support UIDPLUS

@DeepDiver1975 do you think we can still ge

[2015-06-17 17:54] enoch85 commented on #654
What a shame. This is the only thing left for me, using the mail app 100%. Would appriciate it very much if someone made it happen.

[2015-06-17 17:55] jancborchardt commented on #788
DUPLICATE OF https://github.com/owncloud/mail/issues/297
![](http://tech.firstpost.com/wp-content/uploads/gallery/2013/jul/n00b_121651258548_640x360.jpg)

[2015-06-17 17:55] #788 closed

[2015-06-17 17:58] jancborchardt commented on #785
@wurstchristoph related to the bunch of the issues / PRs you work on? ;D

[2015-06-17 17:59] wurstchristoph commented on #785
@jancborchardt nope, not really ;-)

[2015-06-17 18:14] jancborchardt commented on #751
Ahh right, yes.

[2015-06-17 18:18] jancborchardt opened #789 "Opening messages sometimes does not expand the cc list automatically"
This seems to happen due to the new message caching. ;) @wurstchristoph

[2015-06-17 18:25] jancborchardt commented on #654
Yeah – we don’t keep anyone from doing it of course. :) But stuff like forwarding and adding attachments from computer / to replies is definitely more important and we need to focus on that first.

[2015-06-17 18:25] jancborchardt commented on #654
(Also, we have a release cycle of only 2 months so it won’t be long. ;)

[2015-06-17 18:56] jancborchardt commented on #641
@LukasReschke get to work. :D

[2015-06-17 19:07] jancborchardt commented on #297
Review at https://github.com/owncloud/mail/pull/791 :)

[2015-06-17 19:12] kordianbruck commented on #641
In order to match unicode charaters one could use the category operator: http://www.regular-expressions.info/unicode.html#category

Also check out https://mathiasbynens.be/demo/url-regex
Plenty of people tried to create a regex for this, no need to reinvent the wheel.

[2015-06-17 19:19] LukasReschke commented on #767
Hehe, stumbled upon this on my PR https://github.com/owncloud/mail/pull/701 as well.

So what basically happens here is a part of our security model to prevent XSS, in the past we used sandboxed iframes instead of CSP. In this case the only protection was that an attacker didn't knew the link as the requesttoken is secret and changes with each session refresh. – I will get rid of this.

Nowadays w

[2015-06-17 19:44] LukasReschke commented on #767
Partially resolved at https://github.com/owncloud/mail/pull/793, for images and Co. we still need to think about a solution :see_no_evil:

[2015-06-17 20:28] wurstchristoph commented on #769
@jancborchardt I would say we can do this in 0.2, this will give some additional speedup to #766 :rocket:

[2015-06-17 21:57] wurstchristoph commented on #783
To fix this we could move code that should be executed immediately out of the passed function: https://github.com/owncloud/mail/blob/master/js/views/message.js#L98-L115

[2015-06-17 22:27] wurstchristoph commented on #95
I assume that we want to support drafts on that composer too, therefore I recommend to have a unified composer view first that could easily be used here.

[2015-06-17 22:35] ChristophWurst opened #795 "Unified composer view"
ATM I know of at least 2 different composer views (+ different js view code for each of them), but we will need more of them:
- new message composer
- reply message composer
- forward message composer
- mailto-link message composer

To make things nice and easy we should combine all of them (or reuse the first one), so everywhere we use a composer, the same features are available (e.g. HTML conten

[2015-06-18 00:17] #573 closed

[2015-06-18 02:10] aidanamavi commented on #484
@jancborchardt Spent a little while with it, but couldn't find a solution.

[2015-06-18 06:37] aidanamavi commented on #491
The hot key's Javascript wasn't compatible across all browser and operating system combinations, so I fixed that issue with PR #796. This needed to be done regardless of any HTML love.

We can bring the HTML to W3C standards with a separate issue and PR, which I would be happy to work on.

[2015-06-18 07:00] #710 closed

[2015-06-18 07:05] DeepDiver1975 commented on #795
Yes - that needs to be done.

I suggest to use the new message composer, add attachments from local computer and finally reuse it then.

[2015-06-18 07:06] aidanamavi commented on #789
How do I reproduce this issue, so that I may test the PR?

[2015-06-18 07:21] wurstchristoph commented on #789
@aidanamavi
- open the mail app
- wait for your accounts + messages to load
- click on a message that has cc
- see that cc is not automatically expanded

@jancborchardt is right, it only happens with cached messages

[2015-06-18 08:11] jancborchardt commented on #484
I have a feeling that this is going to be the running gag design issue / browser difference of the Mail app …

[2015-06-18 09:54] ronoliverclarin opened #798 "Where is Sent and Draft Folder?"
Hi,

I am wondering why I dont have a copy for sent emails and even draft for unsent emails.

Thanks,
Ron

[2015-06-18 10:22] wurstchristoph commented on #491
fixed by #796

[2015-06-18 10:22] #491 closed

[2015-06-18 10:41] ChristophWurst opened #799 "preload and cache HTML messages"
To speed up opening HTML messages, we could preload them in background

As @LukasReschke said

- [ ] cache HTML messages
- [ ] preload HTML messages

see #768, #480

[2015-06-18 10:58] jancborchardt commented on #798
We need more info to debug this. Please fill out the issue template: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-06-18 12:25] ronoliverclarin commented on #798
![mailbox](https://cloud.githubusercontent.com/assets/2889432/8230903/0fb3072e-15f7-11e5-8196-6f5b28469cb2.png)
ownCloud 8.0.4 (stable)
Apps:
Passman
Mail
Calendar
Task
Contacts
Documents
COnfig file content
<?php
$CONFIG = array (
  'instanceid' => 'xxxxxxxxxxxx',
  'passwordsalt' => 'xxxxxxxxxxx',
  'secret' => 'xxxxxxxxxxx',
  'trusted_domains' =>
  array (
    0 => 'drive.xxxxxxxxxxx',
  ),

[2015-06-18 12:28] jancborchardt commented on #798
@ronoliverclarin try hovering over the Inbox – does an arrow appear in place of the house icon? If so, click on it. Do the folders appear?

That is because all your folders are subfolders of the inbox. cc @Gomez @wurstchristoph @aidanamavi maybe we need to show inbox subfolders expanded by default?

[2015-06-18 12:44] Gomez commented on #798
Or hide them in the Subfolder and show them in the root? If this is doable...

[2015-06-18 12:45] ronoliverclarin commented on #798
@jancborchardt It appeared. Thanks!
Do you have any plans of adding Pre-made templates for replies or new email messages?

[2015-06-18 12:48] jancborchardt commented on #798
I like that even more. @DeepDiver1975 @wurstchristoph doable?

@ronoliverclarin no plans yet – but that’s a separate issue in any case, feel free to open that.

[2015-06-18 12:51] ronoliverclarin opened #802 "Pre-Made Templates"
Do you have any plans of adding Pre-made templates for replies or new email messages?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22374905-pre-made-templates?utm_campaign=plugin&utm_content=tracker%2F216487&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plug

[2015-06-18 12:52] LukasReschke commented on #802
Pretty sure @jcfischer doesn't has this plans. But maybe @jancborchardt has :speak_no_evil:

[2015-06-18 12:53] jancborchardt commented on #802
Not yet – putting it in the backlog. :)

[2015-06-18 18:08] jancborchardt opened #803 "Remaining issues for unified inbox"
Sorted by importance

BUGS
* [x] On new mails, the list is not automatically refreshed

ENHANCEMENTS
* [x] We need to not show the color of the account when there is only one. Simply do not set the background-color of `.mail-account-color`
* [x] The title says »All inboxes - - Mail - ownCloud« (note the »- -« double dash, should be just a single one because there’s no account to show)

Ref https:/

[2015-06-18 18:49] ChristophWurst opened #804 "account color indicator strange position"
One of my mail account's mail address is pretty long, so an ellipsis was shown before the unified inbox merge. Now it's gone + the new color thing has a strage position with this specific account:
![](https://cloud.githubusercontent.com/assets/1374172/8239264/0f6f82ca-15fb-11e5-9343-3abac4f4c3e1.png)

@jancborchardt @aidanamavi any idea?

[2015-06-18 19:07] jancborchardt opened #805 "»All favorites« entry below »All inboxes«"
As mentioned in https://github.com/owncloud/mail/issues/120 it would be great to have an »All favorites« entry below the »All inboxes«.

[2015-06-18 19:07] jancborchardt commented on #120
Fixed via #750, great work! :)

[2015-06-18 19:07] #120 closed

[2015-06-18 19:08] jancborchardt commented on #804
Whoops, my fault. Self-assigning. Any new contributor who wants to dive into design fixes can take this up though! :)

[2015-06-18 20:21] tflidd commented on #686
For testing, I set up a virtual Server with ipv6only and the app store is only available via ipv4 ;-(

[2015-06-18 21:40] #297 closed

[2015-06-18 21:42] jancborchardt commented on #686
Hm, maybe we should make the app store available via IPv6 as well? @karlitschek @LukasReschke

@tflidd regardless of that, can you test with an IPv4 server?

[2015-06-19 09:35] DeepDiver1975 opened #807 "Some errors on latest master ...."
{"reqId":"ae058bed3f3dc112f433bd0d3a913133","remoteAddr":"178.25.225.40","app":"PHP","message":"Argument 8 passed to OCA\\Mail\\Controller\\AccountsController::__construct() must implement interface OCP\\ILogger, instance of OCA\\Mail\\Service\\Logger given, called in \/var\/www\/owncloud\/apps3\/mail\/appinfo\/application.php on line 68 and defined at \/var\/www\/owncloud\/apps3\/mail\/lib\/contr

[2015-06-19 09:41] ChristophWurst commented on #807
fixed in #806, our log wrapper doesn't implement the ``ILogger`` interface

https://github.com/owncloud/mail/pull/806/files#diff-5bd6b7207da4e0ec68c11bc2d8ffe756L91

[2015-06-19 09:47] DeepDiver1975 commented on #807
cool - thx - did we yet test if #806 is working on stable7?

[2015-06-19 09:54] ChristophWurst commented on #807
No, I'll have to set up a stable7 instance.

Would it be possible to have travis test stable7 too?

[2015-06-19 09:56] ChristophWurst commented on #807
we do test it (stable7 + mysql) on travis

[2015-06-19 10:12] DeepDiver1975 commented on #807
yes - but we do not test appframeworks phpdoc parsing to get an understanding of parameter types - may guts feeling is telling be that this feature was not available in oc7

[2015-06-19 10:12] LukasReschke commented on #807
Was no PHPDoc and simply a fail at https://github.com/owncloud/mail/pull/806/files#diff-5bd6b7207da4e0ec68c11bc2d8ffe756L102 :see_no_evil:

[2015-06-19 10:14] DeepDiver1975 commented on #807
I love version information on our public api - https://github.com/owncloud/core/blob/master/lib/public/appframework/controller.php#L157

so this change is okay :+1:

[2015-06-19 11:23] ronoliverclarin commented on #654
Craving for this feature.

[2015-06-19 13:49] tflidd commented on #686
I did some more test. I downloaded a fresh OC 7.0.6 and OC 8.0.4 (as *.tar.bz2). I installed both, after the initial installation, I logged out, renamed all databases without the "oc_"-prefix and made this changement as well in the config.php.
With OC 8.0.4, I could install the mail app right away via the app-store (in both cases). Very nice lightweight mail client ;-)
On OC 7.0.6 I get this famou

[2015-06-19 13:58] tflidd commented on #686
little follow up: For the OC 7 setup, I got the archive from apps.owncloud.com and installed it manually. Now it works and I don't see the error that I had before.
The first setup with the problems was a backup-snapshot from a long running setup (numerous upgrades) which still runs on OC 7.0.5 (not yet updated).

[2015-06-19 15:06] tflidd opened #809 "Admin user (with database access) can access all mail accounts"
You store the passwords of mail accounts in some encrypted form. But you can just duplicate an entry and change user_id and name and hijack this mail account (you don't need to know the password).

I know it's probably impossible to protect users against an admin with full access to the system. But if you mess up a restore of a backup and/or change the user-ids, someone can get access to another u

[2015-06-19 15:09] Xenopathic commented on #809
So this is a feature request for supporting mail accounts where the password used is the login password?

[2015-06-19 15:14] tflidd commented on #809
That's one option. Or at least take something like the server-side-encryption, where the SSL-keys are  protected by the login-password.

[2015-06-19 19:20] enoch85 commented on #654
@jancborchardt See this feature as a bit of commercial for ownCloud mail. Because it could say something like:
[code]

[2015-06-19 21:15] DeepDiver1975 commented on #809
We plan to add background/cron jobs to the mail app as well - without access to the account this will not work.

[2015-06-19 21:21] DeepDiver1975 commented on #462
I finally got a very basic version up and running - see #811

[2015-06-20 11:01] ChristophWurst opened #812 "Decrease unread counter of inboxes when messages are read in unified inbox"
Reading messages in the unified inbox does not decrease the unread counter of the respective inbox

[2015-06-20 11:03] jancborchardt commented on #812
Already in https://github.com/owncloud/mail/issues/803 – should we rather have individual issues for that? cc @DeepDiver1975

[2015-06-20 11:04] jancborchardt commented on #809
So, we close this?

[2015-06-20 11:05] jancborchardt commented on #654
Yeah, but as you all know these signatures are damn annoying. So I have no rush in getting an annoying email signature into circulation which screams our product name everywhere even though people receiving emails don’t really care. ;)

[2015-06-20 11:06] DeepDiver1975 commented on #812
Having them all in one seems find for me.

[2015-06-20 11:06] #812 closed

[2015-06-20 11:06] ChristophWurst commented on #812
Whoops sorry

[2015-06-20 13:15] DeepDiver1975 commented on #812
No worries.

[2015-06-20 15:24] jancborchardt commented on #328
Reopening as #563 only fixed this for mobile.

[2015-06-20 18:12] Nawuko opened #813 "Mail is always using AutoConfig"
The check on line https://github.com/owncloud/mail/blob/master/lib/controller/accountscontroller.php#L199 dosent work. $_POST elements are strings, so this IF can never be "false".

Edit: Tested with the current commit 1695a91dc50d69ca7c08771c290f840104224502 using owncloud  https://github.com/owncloud/core/commit/5ed9743570173fbea59f150c2fe8da8d6c681cba

[2015-06-20 18:22] zinks- commented on #678
@jancborchardt I'd love to do it, but don't have the time for the foreseeable future.
Will anyone pick this up ? :)

[2015-06-20 18:24] DeepDiver1975 commented on #813
$autoDetect is a boolean - see https://github.com/owncloud/mail/blob/master/lib/controller/accountscontroller.php#L191

[2015-06-20 18:25] DeepDiver1975 commented on #678
I think we are doing actually pretty well for the current development state -> 0.3

Pull request is welcome any time. THX a lot!

[2015-06-20 18:26] ChristophWurst commented on #813
@DeepDiver1975 I thought so too, but to be sure I added ``error_log(gettype($autoDetect))`` for quick debugging this, and I get ``string`` in the logs.

Should casting also work for POST requests? [Documentation](https://doc.owncloud.org/server/8.1/developer_manual/app/controllers.html) only mentions GET requests

[2015-06-20 18:29] Nawuko commented on #813
Yes it SHOULD be a boolean but it is not, that is my whole point.

[2015-06-20 18:37] DeepDiver1975 commented on #813
hmmmm .... should make no difference

@Raydiation bug or feature? THX

[2015-06-20 18:57] Xenopathic commented on #809
@jancborchardt No, I think this is a valid enhancement request. Think of it as similar to the 'SMB/CIFS with OC login' external storage that we have available. It should be possible to use the ownCloud login password to connect to mail accounts, without storing that password anywhere (or alternatively, encrypting the password with the user's login password). Obviously background jobs would be disa

[2015-06-20 19:26] Raydiation commented on #813
Should be casted to a Boolean, see https://github.com/owncloud/core/blob/master/lib/private/appframework/http/dispatcher.php

[2015-06-20 19:42] DeepDiver1975 commented on #813
@Nawuko @ChristophWurst please test #814 - THX

[2015-06-20 19:51] Nawuko commented on #813
bool and boolean both works. The fault was actually the space between bool and $autoDetect.
Fixed with https://github.com/owncloud/mail/pull/814

[2015-06-20 19:57] Nawuko commented on #813
Ohh.

error_log(gettype($smtpPort)) also returns string. @DeepDiver1975 I think it's a general issue with spaces between the type and value name.

[2015-06-20 20:21] ChristophWurst commented on #813
@Nawuko good catch! That seems to be the problem, so I opened another PR where I fix all those PHPDoc types: #815

[2015-06-20 20:33] Nawuko commented on #813
@ChristophWurst I found the same error on different apps (like activity). All returning a string as type and not a int, bool or so. Maybe you should consider changing the regex to something like this: https://regex101.com/r/jI1zR0/2

[2015-06-20 20:38] ChristophWurst commented on #813
@Nawuko could you please open an issue for that in core? https://github.com/owncloud/core/issues thanks a lot for debugging this :-)

[2015-06-20 21:28] aspdye opened #816 "vacation messages"
Would be nice to add a function to send "vacation messages" ;)

[2015-06-20 21:47] ChristophWurst commented on #816
Do you mean an autoresponder? https://en.wikipedia.org/wiki/Autoresponder

[2015-06-20 22:01] Raydiation commented on #813
And submit a pull request, should be simple :)

[2015-06-20 22:37] ChristophWurst opened #817 "CSS coding style"
ATM there are many CSS classes with ``_`` in their names:
- ``.mail_account`` but also ``.mail-account-name``
-  ``#mail_messages`` and ``#mail-message``
- …

This can be really confusing and therefore ``_`` should be replaced by ``-``, see https://github.com/owncloud/core/issues/308

[2015-06-21 08:38] jancborchardt commented on #817
Yup. Keep in mind it's _HTML_ classes and IDs, so HTML, CSS and JS has to be adjusted. Also some of the class/ID naming is nearly duplicate and confusing.

[2015-06-21 14:39] Xenopathic commented on #816
This can be implemented via the Sieve protocol, #564

[2015-06-21 14:58] aer0s commented on #671
Problem still exists and no the results above don't provide much in terms of pinpointing the issue.

[2015-06-21 16:21] enoch85 commented on #654
@jancborchardt Depends on who you ask ;) But ok, I get your point.

Btw, see you at the conference!

[2015-06-21 18:32] #807 closed

[2015-06-21 20:14] #789 closed

[2015-06-21 20:22] clementhk commented on #641
Well, by a quick search on google, the one that passes all tests can be on https://mathiasbynens.be/demo/url-regex. But that one is for url validation, after a bit of modification it should work.

[code]

[2015-06-21 20:56] aidanamavi commented on #538
What does mailbox status mean?

[2015-06-21 22:41] Xenopathic commented on #641
How about this? It will match any URI, as per the RFC spec (taken from http://stackoverflow.com/questions/30847/regex-to-validate-uris)

[code]

:see_no_evil: :see_no_evil: :see_no_evil:

[2015-06-21 22:48] Xenopathic commented on #641
Alternatively, we could move the function client-side with this handy JS library: http://soapbox.github.io/linkifyjs/

[2015-06-22 09:06] jancborchardt commented on #641
cc @jcbrand on those regexes ^

@Xenopathic @clementhk also see the PR by @jcbrand at https://github.com/owncloud/mail/pull/797

[2015-06-22 09:34] clementhk commented on #641
@jcbrand and guys, I think we should use something that is ready and well tested in other platforms and tests instead of reinventing.

[2015-06-22 09:38] clementhk commented on #641
@Xenopathic wow that's a heavy lib for detecting links, respect to the author..

[2015-06-22 09:40] clementhk commented on #641
If someone can find a better test than https://mathiasbynens.be/demo/url-regex then please post it so we can test it.

[2015-06-22 09:45] jcbrand commented on #641
@Xenopathic Doesn't look to me like the Stackoverflow regex you show will match non-unicode characters.
Linkify.js looks look a pretty cool solution though.

@clementhk The **diegoperini** regex matches all the urls in https://mathiasbynens.be/demo/url-regex, so that might be a good one to reuse.

[2015-06-22 10:34] clementhk commented on #671
http://osdir.com/ml/horde/2014-09/msg00196.html
http://osdir.com/ml/horde/2014-09/msg00198.html

[2015-06-22 10:34] clementhk commented on #671
Looks like a horde problem, if I can find a way to replicate it then I will check upstream code.

[2015-06-22 10:44] clementhk commented on #671
https://github.com/horde/horde/blob/3aff0b0dfcfb190e307b3dc01edfa87d4baaacc9/framework/Imap_Client/lib/Horde/Imap/Client/Socket/Connection/Socket.php#L211

[2015-06-22 11:10] Xenopathic commented on #641
@jcbrand @jancborchardt I was joking - there's no way that beast can be considered maintainable. I agree with @clementhk here - we should be using a tried and tested solution rather than rolling our own (or pinching a regex from StackOverflow)

[2015-06-22 13:40] jancborchardt commented on #328
@aidanamavi if you find a fix for this I’d be very happy. :) Since you said on IRC it should be a simple matter – as I said I didn’t manage so far.

[2015-06-22 17:06] #582 closed

[2015-06-22 18:52] ChristophWurst commented on #602
@jancborchardt I'll try to finish it in 0.2. First step: #819

[2015-06-23 07:42] DeepDiver1975 commented on #538
This issue is not longer valid from my pov - we will move to sync() method of horde and make use of this through out the code base. @ChristophWurst is already working on this full thrust

[2015-06-23 07:42] #538 closed

[2015-06-23 12:21] jancborchardt opened #820 "Sending replies out of unified inbox does not work"
I just get »Error sending the reply.« – it works from the individual inbox.

No console errors. Latest core master with latest Mail master. @ChristophWurst @DeepDiver1975 @irgendwie any ideas?

[2015-06-23 12:21] jancborchardt commented on #820
(Separate from https://github.com/owncloud/mail/issues/803 because it’s a pretty big issue.)

[2015-06-23 12:24] jancborchardt commented on #803
Some of these are small issues good as starters, others are pretty high priority to solve. Anyone who wants to take a stab at them is welcome :) @DeepDiver1975 @ChristophWurst @irgendwie @zinks- @aidanamavi @colmoneill :)

[2015-06-23 12:55] jancborchardt opened #821 "Scroll to top of message when opening new one"
1. Open a message (_non_-HTML)
2. Scroll down a bit
3. Open another non-HTML message
4. See how you are scrolled down

When opening a new message, you should always be scrolled to the top.
(I guess this happens since the message caching.)
Except maybe in the future we could remember scroll positions for individual messages, but for now scrolling to top is the best solution, otherwise it’s confusin

[2015-06-23 13:34] ChristophWurst commented on #821
@jancborchardt I couldn't reproduce this neither on Firefox nor on Chrome.
Where should I scroll down? Inside the message view? Or maybe the folder view?

When I switch from one non-HTML message to another the new message (view) is scrolled to top

[2015-06-23 13:37] jancborchardt commented on #821
You need to scroll inside the message view. It probably only occurs with cached text-only messages. Maybe only with ones which have been open before. Try on mobile as well – that’s where I first saw the issue.

[2015-06-23 14:02] ChristophWurst opened #822 "Prefetching messages in background marks them as read"
As noticed by @DeepDiver1975, messages are marked as read once they are fetched in background

[2015-06-23 14:34] jancborchardt commented on #822
Yeah, I also noticed that since recently! And I was wondering if I had amnesia of read emails …

I’d say priority rather than starter issue.

[2015-06-23 15:03] ChristophWurst commented on #822
Some additional debugging information:
horde.log says something like
[code]
when opening an unread message (simply called the show route in the browser), so it seems to be flagged as read automatically.

I have to questions regarding this issue:
- can we prevent the IMAP server from automatically setting the flag?
- do we break any existing seen/unseen functionality if we do so?

@DeepDiver1975 @X

[2015-06-23 15:19] Xenopathic commented on #822
We can set the `'peek' => true` flag on a Horde_Imap_Client_Fetch_Query when calling `bodyPart()` or related functions.

[2015-06-24 14:37] #641 closed

[2015-06-24 14:37] DeepDiver1975 commented on #641
fixed with #823

[2015-06-25 08:33] sonicmaster opened #825 "Foward email"
How can i forward an email, the option does not apear!!!!!

[2015-06-25 09:27] #825 closed

[2015-06-25 09:27] DeepDiver1975 commented on #825
duplicate #95

[2015-06-25 09:31] jancborchardt opened #826 "Unified inbox: Some mails can’t be opened cause of »Too many redirections«"
It works fine in the individual inboxes, but in the unified inbox some HTML mails can’t be opened and it just says »Too many redirections«. (Separate from #803 cause it’s a bigger issue.)

owncloud.log:
[code]

cc @LukasReschke because of CSRF stuff in the log.

[2015-06-25 09:33] DeepDiver1975 commented on #826
This is because of the messages being cached with thee wrong request token.

We might simply drop CSRF on getting the mail messages? @LukasReschke

[2015-06-25 09:34] LukasReschke commented on #826
All the time spent on discussing this when we could have merged the PR :speak_no_evil:

https://github.com/owncloud/mail/pull/793

[2015-06-25 09:35] LukasReschke commented on #826
That said image caching is still a problem that needs to get investigated due to https://github.com/owncloud/mail/issues/767#issuecomment-112925351

[2015-06-25 09:40] jancborchardt opened #827 "Error loading message ("attachmentId" for route "mail.messages.downloadAttachment" must match "[^/]++")"
This came up when loading one HTML message:
[code]

Didn’t appear with any other message yet. Any idea @DeepDiver1975 @LukasReschke?

[2015-06-25 09:55] DeepDiver1975 commented on #827
on master?

This was most probably on #824

[2015-06-25 12:24] jancborchardt commented on #827
Right, was on that branch. Do you need any more info? I can forward the mail to you if needed.

[2015-06-25 12:25] DeepDiver1975 commented on #827
yes please - thx

[2015-06-25 15:03] DeepDiver1975 commented on #827
@jancborchardt please retest

[2015-06-25 20:03] jancborchardt commented on #827
Fixed by the commit in #824

[2015-06-25 20:03] #827 closed

[2015-06-25 20:06] jancborchardt opened #828 "ownCloud header flashes white when opening HTML mails"
Due to some reason the dark blue ownCloud header flashes white when opening HTML mails …

Any idea @ChristophWurst @irgendwie @DeepDiver1975 @Gomez?

[2015-06-26 08:14] sonicmaster commented on #95
How can i forward an email?????????????

[2015-06-26 08:17] LukasReschke commented on #95
You can't yet as you can see in this ticket!!!!!!!!!!!!!

[2015-06-26 09:23] aidanamavi commented on #699
I wonder how many people would find this useful as the default setting. I prefer getting notified about all email sent to me. Much of my work email is CCed or forwarded to me by less adept mailers, so getting notified about those emails is still important. I also don't sign up for newsletters that are not important, either; admittedly, I'm probably of the smaller of percentage that does the latter

[2015-06-29 05:11] 1337sup3rh4x0r opened #829 "Cannot create account"
Hi,
I cannot seem to set up my imap account manually. It is hosted on my own server (actually the same machine that runs owncloud). The domain used by the email adress is not the address of the server. When I fill out all the required details, the mail plug-in still seems to try an automatic setup according to the logfile output. When I click to save the settings, I get a yellow toast message at t

[2015-06-29 07:04] ChristophWurst commented on #829
duplicate of #813

[2015-06-29 07:04] #829 closed

[2015-06-29 07:35] 1337sup3rh4x0r commented on #829
Thank you, changing the mentioned line in the file worked for me!

[2015-06-29 07:41] 1337sup3rh4x0r commented on #618
For me, the content of sub-sub folders does not load either. Am I correctly assuming that #616 did not fix #611? The code on my machine looks like #616 is already merged.

[2015-06-29 10:14] jancborchardt commented on #618
@1337sup3rh4x0r well, #616 did fix #611 which was about subfolders (1 level). But this issue, which is about sub-subfolders (2nd level and deeper) is still open. So no, it’s not fully fixed yet.

[2015-06-29 11:40] DeepDiver1975 commented on #618
out of scope for me with respect to 0.2 - objections?

[2015-06-29 12:49] 1337sup3rh4x0r commented on #618
bummer. Basically all my mails are stored in Sub-sub folders. I'll be watching this space till 0.3 then.

[2015-06-29 12:54] jancborchardt commented on #618
@1337sup3rh4x0r sorry about that! :) If you are what your name promises though, you could submit a pull request to fix the issue? ;D

[2015-06-29 13:48] #729 closed

[2015-06-29 14:40] 1337sup3rh4x0r commented on #618
:D yeah, let me just read a JavaScript manual real quick

[2015-06-29 15:33] jancborchardt opened #831 "Replies do not include the original message anymore / inline replying broken"
On current master, inline replying is broken because the text of the previous message is not filled in the reply field anymore. It’s just 3 blank lines with `>` for me.

Can you reproduce @ChristophWurst @irgendwie @zinks-?

[2015-06-30 14:32] jancborchardt commented on #820
This is one of the most annyoing issues right now. @DeepDiver1975 @ChristophWurst @aidanamavi anyone up for taking this?

[2015-06-30 15:30] sonicmaster opened #832 "Add signature to account"
Add signature to account  , this is a must have.

[2015-06-30 16:16] cfra opened #833 "Cannot send email: "Error when parsing angle address.""
While viewing emails via IMAP works fine, I cannot send any email from my account. Both for replies and new emails it fails with only this error message appearing in the log:

Sending mail failed: Error when parsing angle address.

[2015-06-30 17:39] jancborchardt commented on #833
@cfra which errors does the owncloud.log (in your data folder) show?

[2015-06-30 17:50] jancborchardt commented on #832
@sonicmaster a quick search through existing issues for »signature« reveals that this is a duplicate of https://github.com/owncloud/mail/issues/654 :)

Same as for your other reported issue https://github.com/owncloud/mail/issues/825 – please check the existing issues first before opening another one. :)

[2015-06-30 17:50] #832 closed

[2015-06-30 18:00] cfra commented on #833
{"reqId":"8eb0a9647964cbb8afd7de8e864b3847","remoteAddr":"172.19.132.90","app":"mail","message":"Sending
mail failed: Error when parsing angle
address.","level":3,"time":"2015-06-30T16:05:34+00:00"}

[2015-07-01 00:19] jancborchardt commented on #833
Any idea @DeepDiver1975 @ChristophWurst @clementhk – what more info do we need?

[2015-07-01 09:36] ChristophWurst commented on #831
Cannot reproduce - tested with FF and Chrome. The original message is included as expected

[2015-07-01 09:37] #813 closed

[2015-07-01 12:22] ChristophWurst commented on #803
@jancborchardt I added another issue @aidanamavi and I discovered while debugging #834: the ``to`` parameter is more or less ignored/useless

[2015-07-01 14:19] clementhk commented on #833
Mind to tell us sender/receiver's addresses?

[2015-07-01 14:31] jancborchardt commented on #803
@ChristophWurst please check off what was fixed by #836 :)

[2015-07-01 15:20] jancborchardt commented on #831
Hm, this happens for quite a few mails with me. Sometimes it’s only the last reply. Test with more mails maybe?

Can anyone of you reproduce @irgendwie @DeepDiver1975 @aidanamavi?

[2015-07-02 06:44] Bullnados commented on #95
Will this being implemented in 0.2? <-- yes just one

[2015-07-02 07:31] jancborchardt commented on #95
@Bullnados @sonicmaster this feature is blocked by https://github.com/owncloud/mail/pull/819 – so please help us and review that! :)

[2015-07-02 07:42] #799 closed

[2015-07-02 08:10] Bullnados commented on #95
@jancborchardt
Im sorry to say that i cant help you. My php-knowledge is 0. :(
I just can report bugs

[2015-07-02 08:28] jancborchardt commented on #95
@Bullnados you do not need PHP knowledge to check out a branch (apply a patch via git – read on how to do that) and simply test it by firing up your ownCloud and clicking around. ;)

[2015-07-02 08:37] Bullnados commented on #328
If u have a widther Screen u have the following problem, that the title bar is not width enough.
The second one is the transparency of the title bar. The mail text looks through title bar, hope you can see that. Perhpas minimize monitor contrast.
![bug](https://cloud.githubusercontent.com/assets/11041576/8472885/36bd8908-20a5-11e5-8458-c4e22ccb3c97.JPG)

[2015-07-02 09:37] jancborchardt commented on #328
Yeah, same issue in reverse.

I would simply use the same JS as in core to fix this: https://github.com/owncloud/core/pull/15260
Unless @aidanamavi you got the CSS fix as you mentioned? :)

[2015-07-02 10:39] #138 closed

[2015-07-02 12:13] jancborchardt opened #840 "Define coding & JS guidelines"
We need to agree on some basic guidelines for our Mail app. Otherwise this will be confusing for new contributors. (Base for discussion is the comment from @DeepDiver1975 at https://github.com/owncloud/mail/pull/834#issuecomment-118004788) – FULLY DISCUSSABLE

1. mailbox sync should be done within checkNotification (yes - adjusting the name might be reasonable)
2. we should minimize calls to the s

[2015-07-02 14:07] clementhk commented on #840
I always + 1 to readability + performance.
I think things can just be merged and improve in separated PR if one doesn't fully agree with minor details.

[2015-07-02 14:14] clementhk commented on #840
@aidanamavi would be cool to have you around, not all of us likes front-end works like you do :)

[2015-07-03 07:07] ChristophWurst opened #841 "Wrong link detection"
Non-HTML mails like the following cause problems:
[code]
This is shown as:
[code]

[2015-07-03 07:48] DeepDiver1975 commented on #841
caused by this https://github.com/owncloud/mail/pull/823

[2015-07-03 09:53] jancborchardt commented on #841
Similar here for this URL:
https://github.com/owncloud/core/pulls?page=3&q=is%3Aopen+is%3Apr+label%3A%223+-+To+Review%22&utf8=%E2%9C%93

Only this part is linkified:
https://github.com/owncloud/core/pulls?page=3

[2015-07-03 10:12] clementhk commented on #841
It would be cool to continue the discussion in #641 and find the best solution.
As far as I see it, we should consider following options.
1. Find a ready and tested php version.
2. Use linkifyjs as @Xenopathic suggested.
3. Translate linkifyjs into php to not use regex and use such everyone can maintain solution https://github.com/SoapBox/linkifyjs/blob/master/src/linkify/core/scanner.js

[2015-07-03 11:05] clementhk commented on #841
https://bitbucket.org/kwi/urllinker/src

[2015-07-03 11:07] DeepDiver1975 commented on #841
Nice - thanks for the pointer!

[2015-07-03 11:07] DeepDiver1975 commented on #841
We should really give it a try. PRs welcome!

[2015-07-03 14:03] jancborchardt commented on #197
Fixed by https://github.com/owncloud/contacts/pull/952 – will be in Contacts 8.1

[2015-07-03 14:03] #197 closed

[2015-07-03 14:15] cfra commented on #833
This ended up to be a pebcak problem on my side. My IMAP/SMTP servers take username@domain as username for logging in and for some reason, I ended up with the from-address being username@domain@domain - no wonder it complains about the address. I re-entered the account information into the mail app and now it works flawlessly.

[2015-07-03 14:15] #833 closed

[2015-07-03 18:18] aidanamavi commented on #840
@clementhk Thanks Clement. I really do enjoy front-end UX stuff :)

1. We should use loadMessages, not checkForNotifications, to sync the message list.
loadMessages respects all message changes whereas checkForNotification only respects brand new messages and no changes whatsoever. These can be merged, but require a large rewrite/PR.

2. Reducing calls is always a good idea. However, pragmatism ov

[2015-07-03 21:04] DeepDiver1975 commented on #840
LoadMessages would be sufficient if we only talk about the activly loaded mailbox.
checkForNotifications is designed to return the required information for multiple mailboxes.

e.g. we also want to get updated unread counters on all folders - checkForNotifications has to return this information one point in time.

While checkForNotifications as of today does not yet provide all necessary informati

[2015-07-03 21:06] DeepDiver1975 commented on #840
hmm - sounds reasonable - isn't all that already covered in what so ever scrolling/lazyloading/infinite scroll library?

[2015-07-03 21:08] DeepDiver1975 commented on #840
Well - from a historical point of view: this app started out as a pure jquery app.
One point in time I did introduce backbone and I kind of like it (compared to other frameworks).

In order to get a clean implementation the next step for me is to migrate the remaining code base to backbone.

[2015-07-06 12:06] Tramour commented on #717
Any news on this issue? I'd appreciate it very much to be able to convert emails to pdf and store them directly in the cloud.

[2015-07-06 14:43] DeepDiver1975 commented on #841
not available via composer .... seems dead

[2015-07-06 15:03] jancborchardt commented on #717
@Tramour the support for print stylesheets will arrive earliest in 8.2: https://github.com/owncloud/core/pull/16857 (the version we’ll release the next days is 8.1)

But then – @colmoneill do you want to take a stab at a print stylesheet? As I said above:

[2015-07-06 16:41] Tramour commented on #717
Okay. Thanks for the answer.

[2015-07-06 18:31] Xenopathic commented on #841
IMHO stuff like this should be done client side, to reduce load on the server. No so important on a dual CPU Xeon with 128GB of RAM, but a Raspberry Pi will be much happier if it doesn't have to do the linkifying :smile:

[2015-07-06 19:58] DeepDiver1975 opened #842 "Some messages fail to load because of reply text computation"
$(message.body).text() is falling apart in case the html is not proper

[code]

[2015-07-06 20:02] DeepDiver1975 commented on #842
same issue here:

					// Add body content to inline reply (html mails)
					// TODO better html handling, should be fine for the moment!
					var text = jQuery($(this).contents().find('body').html().replace(/<br>/g, '\n')).text();

[2015-07-06 20:03] DeepDiver1975 commented on #842
[code]

[2015-07-06 20:08] #795 closed

[2015-07-07 00:40] clementhk commented on #841
@Xenopathic I always believe the opposite, load should be on server and client should be as light as possible.
About composer, it seems like the link was not committed by the author, but from @MacDada , so I think think it has ever been into composer.
In any case we might need a modified version for mailto:(?), and as far as I can talk, there's no major issue been reported.

[2015-07-07 06:35] ChristophWurst commented on #460
fixed with PR #819

[2015-07-07 06:35] #460 closed

[2015-07-07 06:35] ChristophWurst commented on #602
fixed with PR #819

[2015-07-07 06:35] #602 closed

[2015-07-07 06:35] ChristophWurst commented on #568
fixed with PR #819

[2015-07-07 06:35] #568 closed

[2015-07-07 06:41] ChristophWurst opened #844 "Mailto composer template"
The composer (opened if you click mailto links) doesn't render the template correctly:
![bildschirmfoto von 2015-07-07 08 36 43](https://cloud.githubusercontent.com/assets/1374172/8540200/86a5e032-2483-11e5-866d-c74d1d7b6991.png)

1. Attachment template does not show the actual file name, ``{{displayName}}`` is shown instead
2. Send button should be inside the composer's textarea

[2015-07-07 08:51] ChristophWurst opened #845 "Reply IMAP drafts do not work with unified inbox"
The server returns HTTP 400 (invalid account) because the account id is set to ``-1``

[2015-07-07 11:30] jancborchardt commented on #820
Fixed by https://github.com/owncloud/mail/pull/838 – please correctly refer next time. ;)

[2015-07-07 11:30] #820 closed

[2015-07-07 11:31] jancborchardt opened #846 "Unified inbox: Reply autofill puts yourself in cc"
Before sending a reply from the unified inbox you always need to remove your own email from cc, which is hugely annoying. Also, this causes the cc/bcc fields to be expanded by default for all mails and results in an amount of fluff we don’t always need to display.

cc @ChristophWurst @irgendwie @DeepDiver1975

[2015-07-07 11:32] #842 closed

[2015-07-07 11:45] jancborchardt commented on #845
cc @irgendwie

[2015-07-07 13:37] MacDada commented on #841
Yeah, I made `kwi/urlinker` PSR–friendly and I know there are some issues, but I don't really have time to look into that right now – please wait for the weekend ;-)

[2015-07-07 14:05] DeepDiver1975 commented on #841
This awesome! Thanks a lot @MacDada - let us know as soon as you are done - THX

[2015-07-08 12:07] jancborchardt opened #847 "JS issue with mailto composer view"
When sending a mail from the standalone mailto composer, this error comes up in the console:
`TypeError: Mail.UI.messageView is undefined. In composer.js:289:5`

@ChristophWurst

[2015-07-08 13:19] ChristophWurst commented on #847
@jancborchardt can't reproduce this with Firefox nor Chrome, but I'll have a look at it the next days ;-)

[2015-07-08 13:26] jancborchardt commented on #847
(Browser was Firefox btw.)

[2015-07-09 09:09] Gomez commented on #95
As #819 is closed, this can be implemented? Does something needs more testing? Can we find a Doer (unfortunate i am not a good js dev)

[2015-07-09 12:27] mitpro opened #848 "dual scrollbar"
At long e-mails got dual scrollbars (from iframe)

![owncloud_mail_dualscrollbar](https://cloud.githubusercontent.com/assets/12111420/8595065/48a32784-2647-11e5-857a-12322e017e78.PNG)

In file templates/index.php change attribute of iframe (scrolling) - class=mail-message-body: line 101 or 108:

iframe scrolling="no" src="{{htmlBodyUrl}}"   sandbox="allow-popups allow-same-origin" seamless

works

[2015-07-09 12:36] jancborchardt commented on #848
@mitpro can you submit a pull request with your fix? :) Then we can simply test it out and merge it if it works.

[2015-07-09 12:41] LJPapenfort opened #850 "Call to undefined method TemplateResponse::setContentSecurityPolicy()"
### Steps to reproduce
1. Clone mail from git, get dependencies with composer
2. Activate mail app
3. Try to open mail app

### Expected behaviour
The mail app should open

### Actual behaviour
I get a blank page

### Server configuration
**Operating system**: Ubuntu 14.04

**Web server:** Nginx 1.8.0-1+trusty1

**Database:** MariaDB 10.0.20+maria-1~trust

**PHP version:** php5 5.5.9+dfsg-1ubuntu4

[2015-07-09 13:49] ChristophWurst commented on #850
@LukasReschke

[2015-07-09 16:19] jancborchardt commented on #846
Whoever fixes this gets a beer (or drink of their choice) at the next meetup! @ChristophWurst @irgendwie @Henni :D

[2015-07-10 09:17] sonicmaster opened #851 "Signature its a legal issue"
Signature its legal issue maybe its a cool feature to add

[2015-07-10 10:00] #851 closed

[2015-07-10 10:01] DeepDiver1975 commented on #851
duplicate #832

[2015-07-10 10:40] jancborchardt commented on #851
@sonicmaster all your opened issues were duplicates. Next time please look through the existing issues before.

[2015-07-12 18:56] DeepDiver1975 commented on #831
@jancborchardt this should be fixed by #843

[2015-07-12 18:57] DeepDiver1975 commented on #826
@jancborchardt should be fixed from my understanding

[2015-07-12 18:58] DeepDiver1975 commented on #773
fixed for my with #843

[2015-07-12 18:58] #773 closed

[2015-07-12 20:23] deviousway opened #853 "can't login SSL and 993 and CRAM-MD5"
i'am using SSL and 993 and CRAM-MD5 with self-signed cert (added to trust on server)
roundcube and thunderbird working fine but this app not

/var/log/dovecot/info.log
2015-07-12 22:14:07 imap-login: Info: Disconnected (no auth attempts in 20 secs): user=<>, rip=127.0.0.1, lip=127.0.0.1, TLS handshaking: Disconnected, session=<bK5uDq8a8AB/AAAB>
2015-07-12 22:14:09 imap-login: Info: Disconnected: I

[2015-07-12 20:50] DeepDiver1975 commented on #853
Please enable imap logging as described here - https://github.com/owncloud/mail#debug-mode

maybe we can find the reason.

[2015-07-12 21:02] DeepDiver1975 commented on #803
@jancborchardt which one should be choosen? From the last selected message?

[2015-07-12 22:04] deviousway commented on #853
Тo, this log doesn't help (((
=======================
owncloud/data/owncloud.log
==============================================================
{"reqId":"Yt6Kz4jfNhfOIo3TQwtY","remoteAddr":"192.168.1.1","app":"mail","message":"Setting up manually configured account","level":1,"time":"2015-07-12T22:00:30+00:00","method":"POST","url":"\/index.php\/apps\/mail\/accounts"}

{"reqId":"Yt6Kz4jfNhfOIo3TQw

[2015-07-12 22:37] DeepDiver1975 commented on #853
Not much I can help in this case - please have a look at the upstream project Horde if your setup is supported. THX

[2015-07-12 22:39] deviousway commented on #853
tnx, for wathing in any case.right now i setup horde mail for testing.

[2015-07-13 00:45] deviousway commented on #853
Hello,
1)Testing horde webmail
I'am not coder (just system enginer)  but i'm find very interesting thing
i'am using php 5.6 and TLS (SSL not secure, realy don't use it) on dovecot, and many peoples have issues with php 5.6 and SSL,TLS
So if TLS or SSl not using,  all fine with Horde (auth)
2)i do this
/usr/share/pear/Horde/Socket/Client.php
line 271
-$conn = 'tcp://';
+$conn = 'tls://';
and Horde

[2015-07-13 02:04] Xenopathic commented on #853
Which security mode are you using?

[2015-07-13 02:08] deviousway commented on #853
on server used only TLS, in Mail app i;am using SSL/TLS,

[2015-07-13 03:16] deviousway commented on #853
So i find issue, forget about TLS and SSL, my password stored with CRAM-MD5, and for test i make one with PLAIN and add plain to auth_mechanisms (dovecot.conf). in summ: MAIL app dont'r working with CRAM-MD5 passwords?

[2015-07-13 03:23] deviousway commented on #853
upd. after login i change auth method to cram-md5 again, and change  password scheme in database from plain to cram-md5, But email still working. it's magic ))). But i don't understand it )))

[2015-07-13 05:30] niandubay opened #855 "I can not set up my openmailbox account"
I've tried all the available settings and I failed to associate the account.

IMAP.OPENMAILBOX.ORG
IMAP (SSL / TLS) - 993
user: user@openmailbox.org
pass: pass
SMTP.OPENMAILBOX.ORG
SMTP (SSL / TLS) - 465
user: user@openmailbox.org
pass: pass

any ideas?

[2015-07-13 08:25] MacDada commented on #841
@DeepDiver1975 It should be working now: https://bitbucket.org/kwi/urllinker/issues/14/composer-support#comment-20046865

[2015-07-13 10:31] Xenopathic commented on #855
Is there anything in your ownCloud/web server logs?

[2015-07-13 17:06] jancborchardt commented on #803
@DeepDiver1975 yes, last active account = account of last open folder/message.

[2015-07-13 17:06] jancborchardt commented on #803
@DeepDiver1975 and, the empty first entry should obviously be removed from the dropdown.

[2015-07-13 17:07] jancborchardt commented on #826
Yeah, haven’t seen it in some time.

[2015-07-13 17:07] #826 closed

[2015-07-13 17:07] jancborchardt commented on #831
Seems to, yes.

[2015-07-13 17:07] #831 closed

[2015-07-13 18:34] Bullnados opened #857 "Preset for manuel configuration and checkbox for smtp"
Is it possible to preset the manuel configuration?
Ports, security, IMAP/SMTP-Host.

And perhaps a checkbox that smtp-host, user and password are the same used for IMAP-Mailbox

[2015-07-13 18:35] deviousway commented on #855
checked gmail too with
imap.gmail.com 993
smtp.gmail.com 465 and 587
no luck, in logs

root /home/deviousway # tail -f /srv/http/webapps/owncloud/data/owncloud.log
{"reqId":"uz+uAslqLf+Jc6rO+ek9","remoteAddr":"192.168.1.1","app":"mail","message":"Setting up manually configured account","level":1,"time":"2015-07-13T18:31:04+00:00","method":"POST","url":"\/index.php\/apps\/mail\/accounts"}
{"reqId":

[2015-07-13 18:39] niandubay commented on #855
mmm ... I think it's problem of my hosting, it is a shared service for testing ... I've tried using rainloop and I have the same problem with stream_socket_client () (Connection timed out)

[2015-07-13 18:40] Bullnados opened #858 "Folders were created two times"
German and English folders shown and created.
![unbenannt](https://cloud.githubusercontent.com/assets/11041576/8657678/5e520982-299f-11e5-91ed-5aaef7ddd52c.PNG)

[2015-07-13 18:44] deviousway commented on #855
niandubay ,
you can check ability with
openssl s_client -connect imap.gmail.com:993
openssl s_client -connect smtp.gmail.com:993
or
openssl s_client -connect IMAP.OPENMAILBOX.ORG:993

Also paste some logs from data/owncloud.log (need to add
'app.mail.imaplog.enabled' => true
in config/config.php)

[2015-07-13 18:59] ChristophWurst commented on #858
@Bullnados are those folders only shown in the mail app or also in other mail clients?

As far as I know this app doesn't create folder's like 'Spam' automatically.

[2015-07-13 19:01] ChristophWurst commented on #857
Do you mean something like #166?

[2015-07-13 19:06] #857 closed

[2015-07-13 19:36] niandubay commented on #855
is a shared hosting, I have no SSL access, It is a paid service and I am very stingy. :)

in infoPhp:
Registered Stream Socket Transports = tcp, udp, unix, udg, ssl, sslv3, sslv2, tls

and in imap section:
IMAP c-Client Version	2007e
SSL Support	enabled
Kerberos Support	enabled

mmm... someone use this in a shared hosting service?
later I'll have to try it on my local server ...

[2015-07-13 19:38] Bullnados commented on #857
Exactly the same :smiley:

[2015-07-13 19:40] DeepDiver1975 commented on #855
If you are not allowed to use  stream_socket_client there is no chance to get this up and running.

Sorry

[2015-07-13 19:48] niandubay commented on #855
That's what I thought. I'll have to try it on another server.
it is also good to know if the same thing is happening to other people.

(apologize for the bad language)

[2015-07-13 19:48] Bullnados commented on #858
Also in an other (web)-mail client. I try to reproduce it with new mail, but i cant. With my main account i have a similiar problem but there i have just duplicate "Papierkorb" and "Trash" also shown in webmail and Outlook

[2015-07-13 20:00] deviousway opened #859 "feature request "imap labels""
e.g important, work

[2015-07-13 21:45] jancborchardt commented on #855
@DeepDiver1975 should we put that anywhere in the README or some other requirements list?

[2015-07-14 10:08] jancborchardt opened #861 "Reply formatting ignores line breaks completely in HTML mails"
When replying to an HTML mail, the line breaks and formatting is _completely_ broken. Everything is just one blob of text.

We should’t preserve all the formatting, but line breaks, `<br/>` or such we should try to respect. @irgendwie @clementhk @zinks-

[2015-07-14 17:35] #845 closed

[2015-07-15 09:13] DeepDiver1975 opened #862 "Click on sender no longer transfers the email to the composer"

[2015-07-15 13:42] DeepDiver1975 commented on #859
@deviousway some more information would be helpful. THX

[2015-07-15 14:15] jancborchardt commented on #853
So this is fixed @deviousway?

[2015-07-15 14:20] deviousway commented on #853
No, this app not working correctly with docecot cram-md5

[2015-07-15 14:38] #841 closed

[2015-07-15 14:43] #862 closed

[2015-07-15 15:04] DeepDiver1975 commented on #850
I cannot reproduce this. This code is only executed in case the class is available.

@tehdartherer as a workaround please comment the code in question so that you can use the app.

THX

[2015-07-15 15:05] #804 closed

[2015-07-15 15:05] DeepDiver1975 commented on #850
@tehdartherer is there an ownCloud 8.1 running onthis server as well? Maybe php include paths are mixed up?

[2015-07-15 15:16] #847 closed

[2015-07-15 15:30] jancborchardt commented on #686
@tflidd does it work with the newly released ownCloud 8.1?

[2015-07-15 15:34] jancborchardt commented on #828
Does not happen anymore.

[2015-07-15 15:34] #828 closed

[2015-07-15 15:36] jancborchardt commented on #721
Closing as duplicate of https://github.com/owncloud/mail/issues/687

[2015-07-15 15:37] #721 closed

[2015-07-15 17:13] aspdye opened #868 "Problems using PHP-Mail"
Getting this Error if i try to connect via php-mail:

 	Creating account failed: Error connecting to SMTP server.

Have configured the config.php correctly (think so) :( I didnt type anything into the smtp-fields.

Config:

<?php
$CONFIG = array (
  'instanceid' => 'XX',
  'passwordsalt' => 'XX',
  'secret' => 'XX',
  'trusted_domains' =>
  array (
    0 => 'XX',
  ),
  'datadirectory' => 'XX',

[2015-07-15 18:36] jancborchardt commented on #868
Please post all the info we ask for in the issue template: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-07-15 19:06] aspdye commented on #868
### Steps to reproduce
1. Starting Mail-App
2. Type in Adress, Name, IMAP Details, !SMTP empty!
3. Click on "Connect"

### Expected behaviour
Connecting to Mail Account using PHP-Mail

### Actual behaviour
Tells, that the App fails to connect to SMTP.

### Server configuration
**Operating system**:
Linux (1and1)
**Web server:**
1and1 Shared Hosting
**Database:**
MySQL 5
**PHP version:**
5.6
**ownC

[2015-07-15 19:12] jancborchardt opened #870 "Adding second account results in message loading issue"
On first run, or after you deleted the second account and add another one, there are issues with the unified inbox. Mails don’t get loaded, the message list is outdated.

cc @ChristophWurst @irgendwie @zinks-

[2015-07-15 19:36] #846 closed

[2015-07-15 19:52] jancborchardt commented on #720
@LukasReschke @DeepDiver1975 I will move this to 0.3

[2015-07-15 19:59] jancborchardt commented on #462
Not gonna happen in a week until 0.2 -> 0.3

[2015-07-15 20:01] jancborchardt commented on #480
Moving the remaining part of caching accounts in the sidebar to 0.3

[2015-07-15 20:03] jancborchardt commented on #533
@Xenopathic show me the benchmarks ;D

[2015-07-15 20:04] jancborchardt commented on #600
@Henni it closes when clicking the New message button, but when clicking Add new account in the Settings, it still stays open. Any idea?

[2015-07-15 20:11] jancborchardt commented on #767
Seems to be fixed.

[2015-07-15 20:11] #767 closed

[2015-07-15 20:15] jancborchardt commented on #821
I will check this out.

[2015-07-15 20:16] jancborchardt opened #872 "Unread count does not update in the unified inbox when you read a mail from an individual inbox, and vice versa."
Ref #803

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24398228-unread-count-does-not-update-in-the-unified-inbox-when-you-read-a-mail-from-an-individual-inbox-and-vice-versa?utm_campaign=plugin&utm_content=tracker%2F216487&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?ut

[2015-07-15 22:38] deviousway commented on #859
IMAP keywords

All the non-standard message flags are called keywords in IMAP. Some clients use these automatically for marking spam (eg. $Junk, $NonJunk, $Spam, $NonSpam keywords). Thunderbird uses labels which map to keywords $Label1, $Label2, etc.

[2015-07-15 22:44] tehdartherer commented on #850
Uncommenting it makes the app usable. Thanks for that tip.
To display html mail I had to uncomment a similar line in
owncloud/apps/mail/lib/controller/messagescontroller.php .

Regarding the php include paths:
No there is only one owncloud instance running. Nonetheless I could inspect the paths. Any hint where I should look for what exactly?

[2015-07-16 03:47] deviousway commented on #853
in dovecot logs i see login attempt with fail
2015-07-16 10:43:45 imap-login: Info: Disconnected (tried to use unsupported auth mechanism): user=<deviouway@deviousway.ru>, method=CRAM-MD5, rip=127.0.0.1, lip=127.0.0.1, TLS, session=<qoa/4PUaCwB/AAAB>

This means that a mail client (owncloud mail app)  is trying to use unsupported auth mechanism

[2015-07-16 04:47] DeepDiver1975 commented on #868
Did you install the app from git? The version on the appstore does not yet contain the necessary code.

[2015-07-16 05:11] deviousway commented on #853
checked DIGEST-MD5 same issue, DIGEST-MD5 not supported i think it important because DIGEST-MD5 using om Windows Mail Servers (e.g OUTLOOK support PLAIN LOGIN  NTLM DIGEST-MD5) and many system enginers setup mail server with DIGEST-MD5.
As i remeber it using on hotmai.com
As mimimun need list of supported auth methods

CRAM-MD5: Not supported
DIGEST-MD5: Not supported
SCRAM-SHA-1:?
NTLM:?
GSS-SPNE

[2015-07-16 05:44] deviousway commented on #853
Oh , checked my open_basedir (i'm not added /usr/share/pear ) after adding all working fine    so please add this to README or manual:
If you using CRAM-MD5 or DIGEST-MD5
1) install  pear packages Net_SMTP Auth_SASL
pear install Auth_SASL
pear install Net_SMTP
or update
pear upgrade Auth_SASL
pear upgrade Net_SMTP

2) add pear shared liblares to open_basedir
to php.ini
example:
open_basedir = /srv

[2015-07-16 08:28] #861 closed

[2015-07-16 11:33] aspdye commented on #868
OK. This is embarrassing. actually I use the appstore version. I will change that. Question: Can I update the Git version (and move to the appstore version when the app is stable)?

[2015-07-16 13:42] ChristophWurst opened #873 "Folder unread counter is undefined"
(On my dev environment) the unread counter is not shown in the title because ``unread`` is ``undefined`` [here](https://github.com/owncloud/mail/blob/master/js/views/folder.js#L117).

[2015-07-16 13:57] DeepDiver1975 commented on #868
basically you remove the mail folder from your apps folder and clone the code from github

[code]

[2015-07-16 14:57] jancborchardt commented on #821
Can’t reproduce anymore.

[2015-07-16 14:57] #821 closed

[2015-07-16 15:36] DeepDiver1975 commented on #868
closing this for now - THX

[2015-07-16 15:36] #868 closed

[2015-07-16 17:01] jancborchardt opened #877 "Double notifications when using unified inbox."
On new mails, you get two notifications – one for the unified inbox and one for the specific one. It should only be one notification, for the unified inbox, and link there.

@DeepDiver1975 @irgendwie @ChristophWurst

[2015-07-16 17:08] jancborchardt opened #878 "Opening newly arrived mails in unified inbox does not work"
1. Have the mail app open
2. Get a new email
3. Try to open it.

Gives an error: »Can’t open selected message« and this in the JS console:
[code]

@DeepDiver1975 @ChristophWurst @Gomez @zinks-

[2015-07-16 17:15] jospoortvliet commented on #160
If up and down switch between mails, how will you scroll in a long email? I would suggest that the left/right keys should switch between mails, while up and down scroll within one email.
(I know a mail client that does that :D)

Other shortcuts: reply-to-all with 'a' and reply-to-list with l.

[2015-07-16 17:18] jospoortvliet opened #879 "autocomplete from ALL email addresses"
If you have an index of all mails, you can auto-add all names and mail addresses to the address book and autocomplete from every email address ever send to or received or even just mentioned in an email. It is absolutely nice to know that if you type a name in your 'to' and the mail app doesn't auto-complete there is no point trying to search for an email from that person or look otherwise to find

[2015-07-16 17:20] jancborchardt opened #880 "Unified inbox caching issue"
The unified inbox shows outdated data on every refresh or folder change. cc @ChristophWurst @irgendwie @zinks- @clementhk

[2015-07-16 17:26] jancborchardt commented on #880
Exact reproduction steps:
1. go to a specific inbox
2. delete a message
3. go to the unified inbox

The message will still show, until after the refresh is done. On every refresh though.

[2015-07-16 17:27] jancborchardt commented on #879
Google Mail adds these folks as kinda shadow-contacts to Google Contacts under the entry »Contacted« or so. So they do not sync down to your clients, but they are there and can be handled by Gmail.

[2015-07-16 17:47] jancborchardt commented on #328
Fix pull request at https://github.com/owncloud/mail/pull/874, please review! :)

[2015-07-16 19:09] #328 closed

[2015-07-17 06:53] ronoliverclarin opened #884 "Not all emails fetch"
![inbox - unit roc ph - mail - owncloud 2015-07-17 14-52-30](https://cloud.githubusercontent.com/assets/2889432/8742034/8bfaa32a-2c93-11e5-9f3f-b025c3d3c9b0.png)

[2015-07-17 07:00] jancborchardt commented on #884
@ronoliverclarin please check if it works with the latest master of the mail app. Also, we need the info we ask for in the [issue template](https://raw.githubusercontent.com/owncloud/core/master/issue_template.md).

[2015-07-17 07:58] Gomez opened #885 "Some kind of in app documentation?"
I just googled how i can reenable the Notifications in firefox. Maybe a documentation or a link to the part in the Readme would be cool?
Other Things for the Docu:
- Key shortcuts
- Troubleshooting
- Link to open issue?

[2015-07-17 08:05] Gomez opened #886 "Cant directly open images of plain text"
Got a mail with a photo attached. To open it, i need to move it to my cloud or download it local.
Would be good if i can open it directly or get a scaled preview at the end of the mail?

[2015-07-17 08:43] jancborchardt commented on #886
Duplicate of https://github.com/owncloud/mail/issues/84 ;)

[2015-07-17 08:43] #886 closed

[2015-07-17 08:43] jancborchardt commented on #886
Also – pull request please! :D

[2015-07-17 08:46] jancborchardt commented on #885
Firefox and Chrome ask you if the app can send notifications. I don’t really think it’s an apps job to tell ppl how to re-enable it if you rejected it.

Key shortcuts would be cool, yea. And yes, we could move the Mailvelope stuff to the readme but at this point I want to advertise it a bit.

Link to open an issue might be good. But then also a link to the source code saying »Are you a developer?

[2015-07-18 14:06] BernhardPosselt opened #887 "If you change your mail password on the server, the interface fails to connect and shows an endless spinner"
This is in the logs: **\"Horde_Imap_Client_Exception\",\"Message\":\"Authentication failed.\"**

How to reproduce:
* Set up a mail account
* Change your mail password (e.g. using passwd myuser on the server)
* Reload the webinterface

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24553613-if-you-change-your-mail-password-on-the-serv

[2015-07-18 15:35] tony5 opened #888 "javascript not enabled"
when clicking on a link in an email the redirect does not work. if you click the link you will be forwarded to the link page. at the top of the screen I see  div id="nojavascript"> <div> This application requires JavaScript for correct operation. Please <a href="http://enable-javascript.com/" target="_blank" rel="noreferrer">enable JavaScript</a> and reload the page. </div> </div>

if I view the p

[2015-07-18 17:48] DeepDiver1975 commented on #888
In an html message or a plain text mail? Thx

[2015-07-18 17:52] DeepDiver1975 commented on #887
Basically a known issue.  Thanks!

[2015-07-18 18:00] tony5 commented on #888
I think it is plain text.
for example responding to a email from github clicking the link "view it on github" will create the problem.

I will try other links and see if they work

[2015-07-20 10:13] jancborchardt opened #889 "Search does not work anymore"
Latest master with latest ownCloud core master. Search does not work anymore, no relevant console logs. @DeepDiver1975

[2015-07-20 10:13] jancborchardt commented on #888
Maybe also something for @LukasReschke regarding the redirect CSP stuff?

[2015-07-20 10:24] LukasReschke commented on #888
Which version of the app etc? - We really need an issue template for this repository as well :speak_no_evil:

[2015-07-20 11:45] jancborchardt commented on #888
@tony5 please fill out the issue template: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-07-20 14:02] tony5 commented on #888
I will complete a issue template later today.
in the meantime I think the link being generated is not working correctly for me.
it looks like %2F is being generated in the URL and being ignored by the browser.
if I adjust the link adding / in place of %2F I will get a page with a redirect warning and a click to visit box.

[2015-07-20 16:22] tony5 commented on #888
### Steps to reproduce
1. click view it on GitHub link in email
2. click redirect link in html mail
3.

### Expected behaviour
Tell us what should happen

should be redirected to webpage

### Actual behaviour
Tell us what happens instead

redirect page opens and spinner spins and does not stop.
click here if dot automatically directed link will open page.

removing %2F in url will open a redirect

[2015-07-20 19:09] jancborchardt opened #892 "Feedback about IMAP connection error"
When the IMAP server can not be reached, for whatever reason (network down, server down, etc), currently you are faced with a blank interface, a spinner in the message list, and a short notification on top saying »Error connecting to the mail server.

Instead of that, we should use the `#emptycontent` element and layout to convey there’s an error. Let’s start out with:

Or something more intellige

[2015-07-20 20:04] DeepDiver1975 commented on #889
$filter parameter is not transmitted to the server ... investigating

[2015-07-20 20:11] jancborchardt commented on #880
Fixed by https://github.com/owncloud/mail/pull/890

[2015-07-20 20:11] #880 closed

[2015-07-20 20:17] #803 closed

[2015-07-20 20:21] jancborchardt commented on #877
This is quite annoying with the unified inbox. Can we make sure when there’s multiple accounts, the notification routine only checks once, for the unified inbox? Basically same for single-account setups – only that the single account in this case is the unified inbox (ID `-1`).

[2015-07-20 20:23] jancborchardt commented on #844
The positioning issue of the Send button is caused by it being in the same div (`.composer-fields`) as the attachment elements (`.new-message-attachments`). For the reply layout this is not the case.

In any case I’d say the layout part of this issue is minor. We should fix the `displayName` stuff though.

[2015-07-20 20:27] jancborchardt opened #894 "Focus fields for mailto: message composer"
For the mailto: message composer, we should autofocus the first relevant field. That is:

* if the mail address is given, but no subject or body: focus the subject field
* if mail address and subject is given, focus the body
* if nothing is given, focus the to field
* if everything is given, focus the start of the body
* if to and body is given (or subject and body), focus the remaining empty fiel

[2015-07-20 23:31] #889 closed

[2015-07-20 23:43] #878 closed

[2015-07-21 08:12] farson2003 opened #895 "Error "String contains non-ASCII characters when sending emails"
Whenever we send an email we get the message as in screenshot (OC8.1. with Mail 0.2)
![string](https://cloud.githubusercontent.com/assets/3358665/8795867/81a68b3a-2f88-11e5-8bb0-d960795e73bb.png)

[2015-07-21 08:14] farson2003 opened #896 "Autorefresh Folders when sending mail"
Steps to reproduce:
1. Go to sent folder.
2. Click on "neue Nachricht"
3. Send new message.

4. What happens: Sent message does not appear in Sent folder, unless one refreshes manually.

What should happen: All folders should be updated once an action such as sending mail is completed.
Possibly applying IMAP push would solve such issues?

[2015-07-21 08:33] DeepDiver1975 commented on #895
Anything in data/owncloud.log?

[2015-07-21 08:34] DeepDiver1975 commented on #896
The folder status is updated/checked periodically already - but you are right: the status of sent folder should be updated right away. THX

[2015-07-21 08:47] jancborchardt commented on #896
@farson2003 you are very welcome in our IRC channel #owncloud-mail by the way! :) We appreciate any issues found and enhancement feedback.

[2015-07-21 09:24] farson2003 commented on #895
Only:

Error mail Sending mail failed: String contains non-ASCII characters. 2015-07-21T08:09:41+00:00
Error mail Saving draft failed: String contains non-ASCII characters. 2015-07-21T08:09:34+00:00
Error PHP Automatically populating $HTTP_RAW_POST_DATA is deprecated and will be removed in a future version. To avoid this warning set 'always_populate_raw_post_data' to '-1' in php.ini and use the ph

[2015-07-21 09:26] farson2003 commented on #896
@DeepDiver1975
I would update status of all folders, not just sent folder. When a user finished an action, he wants to be "up-to-date" again with everything.
There is no harm in doing that (besides possibly a marginally slower refresh).

P.S.:   Where do I get your  IRC channel #owncloud-mail ?

[2015-07-21 10:04] jancborchardt commented on #896
@farson2003 connect with any IRC client, for example [freenode webchat](https://webchat.freenode.net/?channels=owncloud-mail) or some software on your system (Quassel, Empathy, etc.)

[2015-07-21 11:48] blizzz opened #897 "Undefined index: HEADER.FIELDS"
### Steps to reproduce
1. Get current ownCloud and Mail master
2. Configure a mail account using the wizard auto-configuration (I tried with a fresh one from mail.yandex.com)
3. Watch Inbox being loaded

### Expected behaviour
The mails in the Inbox should appear

### Actual behaviour
The right spinner is always spinning. Otherwise the content stays blank. No graphical error  message. The number o

[2015-07-21 11:52] DeepDiver1975 commented on #897
Looks like an error in the Horde libs ... we should report this to the Horde project - or debug into this and submit a PR :speak_no_evil:

[2015-07-21 13:56] DeepDiver1975 commented on #895
any idea which characters this might be? Any specific charset in place on your system? THX

[2015-07-21 14:28] tony5 commented on #888
@jancborchardt
If I do a ctrl + click on the links it will work fine.
not what I expected.
take care

[2015-07-21 14:41] jancborchardt commented on #438
Aaand same yet again. With downloading attachments, this error in the JS console:
[code]

And when saving to Files, this in the owncloud.log:
[code]

@DeepDiver1975 get on it ;)

[2015-07-21 14:48] jancborchardt commented on #888
@LukasReschke ^ something for you to fix. ;)

[2015-07-21 16:20] Takatango opened #898 "Delete icon to delete account in settings not visible in Safari"
Hi. I will openen an new Issues. See discussion on: [https://apps.owncloud.com/content/show.php?content=169914](https://apps.owncloud.com/content/show.php?content=169914)

i can not see the icon for delete an account in safari!!!!
i take an other browser and can see the icon.
is it possible to embed the icon on the left before the account name in the next version? i have an apple and safari is sta

[2015-07-21 16:30] jancborchardt opened #899 "Contacts autocompletion requires mouse or arrow key usage"
To accept the first contact suggested by autocompletion, you have to click it with the mouse or use the down arrow key and then press enter. Instead, both Enter and Tab should fill in the first suggested contact to make that quicker.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24717151-contacts-autocompletion-requires-mouse-or-ar

[2015-07-21 16:36] jancborchardt commented on #898
@LukasReschke @tomneedham @Xenopathic can you confirm and maybe debug?

[2015-07-21 16:36] jancborchardt commented on #898
(We’ll keep the position on the right though as that’s standard for delete icons in ownCloud.)

[2015-07-21 21:49] Bullnados opened #900 "Reply box hard to reach for long mails"
Why is the answer box at the bottom? If u have long Mails u have to scroll down every time.
Would it not be better to answer like in Outlook/Thunderbird. Perfect would be clicking answer/forward button and than reading mode change to writing mode. Would also more logical, because u read a mail form bot to top and not vice versa.

[2015-07-21 22:10] jancborchardt commented on #900
We should introduce a floating reply button at the bottom of the viewport if the reply box is below the edge of the viewport.

[2015-07-21 22:10] Bullnados opened #901 "Mobile: Selecting inbox folder 2nd time (after mail reading) nothing happen"
### Steps to reproduce
1. Click inbox select a mail
2. Open side menu and click inbox folder again
3. Nothing happen

### Expected behaviour
Reopen inbox with all mails in it.

### Actual behaviour
Nothing happen, u just see the selected mail. If u want see all mails again u have to select an other folder and than u can click again inbox folder.
Than u see all mails

[2015-07-22 12:27] jancborchardt commented on #901
Can confirm this is strange. On folder click, the open message should force close. cc @ChristophWurst @DeepDiver1975 @Gomez

[2015-07-22 20:13] #95 closed

[2015-07-22 21:06] Bullnados commented on #901
Not the last open mail is opened, it seems that the last received mail is shown

[2015-07-22 21:09] Bullnados commented on #900
But the box is still at bottom?

[2015-07-22 21:18] Bullnados opened #902 "Mobile view: Large mails have a lot of white space until reply box"
Large mails with some Re:Re and forwards have a lot of white space between last text and reply box.
Perhaps it is interconected with #900

[2015-07-22 21:40] jancborchardt commented on #902
This is because each nested text is reduced in opacity. This will properly be fixed by threading: #21

[2015-07-22 21:40] #902 closed

[2015-07-22 21:40] jancborchardt commented on #900
@Bullnados yes, as with basically all other email apps.

[2015-07-22 21:43] jancborchardt opened #903 "Clean up formatting of previous mail when replying or forwarding"
Currently there’s a lot of whitespace in there

* empty `div` or `p` should not create a line break
* `div` or `p` with just a `<br>` or `<br/>` inside should only create one line break instead of two

(As mentioned in https://github.com/owncloud/mail/pull/881#issuecomment-123009007)

[2015-07-23 07:43] Gomez opened #904 "More header infos in forward mail"
Now the mail context get lost if you forward a message, this stuff should be added:
 full detailed header (from, to, subject, date)

[2015-07-24 12:57] colmoneill commented on #717
Hey all,

Indeed, I have started this, but ran up against an issue that I think must be linked to the content-overflow nature of the mail app columns.

![screenshot from 2015-07-24 14 47 30](https://cloud.githubusercontent.com/assets/2122318/8874633/ee231e90-3212-11e5-9d19-13f7bd92158a.png)

Hiding content from the rest of the app is easy, but I can't work out how to get text to flow from one page

[2015-07-24 13:17] Bullnados opened #905 "Failed to load the selected message: Class 'Kwi\UrlLinker' not found"
Some Mails reproduce that error if I want to open.
For example the: Piwik Reports New Piwik 2.14.1 is available mail
Class 'Kwi\UrlLinker' not found at /www///owncloud/apps/mail/lib/service/html.php#32

[2015-07-24 13:30] DeepDiver1975 commented on #905
please run composer install

[2015-07-24 13:30] #905 closed

[2015-07-24 15:11] jancborchardt commented on #717
@colmoneill what’s the exact issue here though? Looks fine except some details (line on top, subject not showing completely).

[2015-07-24 15:58] colmoneill commented on #717
Sorry: the issue is that if the quantity of content exceeds the size of the page, it just gets hidden, it does not flow over to a new page. Multi page pdf is super easy for browsers, and I can't work out why oC mail would have such an issue. I believe it is linked to the way content is placed absolutely, with overflows allowed, but I tried working it out and couldn't.

CSS print is kind of a black

[2015-07-24 16:00] colmoneill commented on #717
Edit: scratch that. I finally found what the issue was. All the positionning being absolute, and then with internal div content flow, the browser kept a property that made it think that it should not extend further than 100% of the viewport. In the case of print, that was an A4 page.

I can continue on now :) I just had to let it be for a __long__ while. Ill see about putting together enough for a

[2015-07-24 16:10] jancborchardt commented on #717
@colmoneill cool stuff  :)

[2015-07-25 07:27] jancborchardt commented on #888
@LukasReschke can you check that out? ^

[2015-07-29 11:54] jancborchardt commented on #735
Moving to 0.3 as the only remaining part of this is to fix it for the unified inbox, as mentioned by @ChristophWurst in https://github.com/owncloud/mail/pull/875

[2015-07-29 13:23] arno01 commented on #424
I support it. The images AND external resources SHOULD NOT be automatically loaded due to privacy & security concerns. It is already implemented in RoundCube and RainLoops webmail clients.

[2015-07-29 13:59] jancborchardt commented on #424
@raimund-schluessler @Trim @arno01 @RandolfCarter does someone of you want to dig in and implement that? :) Or do you know someone who is up for the task? You are very welcome in our IRC channel #owncloud-mail, and I’m sure @LukasReschke can help you on any security-related questions.

[2015-07-29 17:51] ChristophWurst opened #909 "Scrolling when adding account"
On small screen resolutions (or small sized browser windows), you cannot scroll to see all form inputs when adding a new account.
This is especially critical if you try to set up a new account using manual configuration or you are on a mobile device.

[2015-07-29 17:51] ChristophWurst commented on #870
let me have a look at this…

[2015-07-29 18:42] ChristophWurst commented on #870
step | result
-----|------
add first account | :white_check_mark:
add second account | :white_check_mark:
delete second account | :white_check_mark:
add back second account | :boom:

[2015-07-30 08:07] ChristophWurst opened #911 "Sidebar shows up before successful account setup"
When setting up the first account, the sidebar is shown if an error occurs:
![bildschirmfoto von 2015-07-30 10 02 36](https://cloud.githubusercontent.com/assets/1374172/8978439/94644a5c-36a2-11e5-9e13-5aa509b4978d.png)
![bildschirmfoto von 2015-07-30 10 02 38](https://cloud.githubusercontent.com/assets/1374172/8978440/946491c4-36a2-11e5-81dd-56bcdac2e09f.png)

[2015-07-30 08:17] ChristophWurst opened #912 "Message deletion triggered while adding account"
If you use the delete key while adding a second account, the currently opened message is being deleted. This is pretty critical because you may delete newly arrived mails while setting up this app without noticing anything!

@DeepDiver1975 @jancborchardt 0.2 or 0.3?

[2015-07-30 08:25] ChristophWurst opened #913 "More appropriate error messages for account setup"
As manually setting up an mail account might need some trial and error it would help a lot to show some more detailed error messages.

# Example
If you fill in an invalid SMTP server, ``Creating account failed: Error connecting to mail server.`` is shown. In that scenario it's not clear what's wrong because it doesn't even say it's about the SMTP server. Ideally we could show something like ``Crea

[2015-07-30 12:58] jancborchardt commented on #913
Yup, totally agree. Setting for 0.3

[2015-07-30 13:00] jancborchardt commented on #912
Seems like to fix this we need a simple check if a message is open at all. So 0.2 if it’s simple enough.

Otherwise 0.3 is fine since this only occurs on multi-account setup, during the setup process, when pressing the delete key. So actually I’ll move it to 0.3 already – if someone feels the need they can always fix it.

[2015-07-30 21:17] farson2003 commented on #895
Nothing special on the system!

[2015-07-30 21:19] farson2003 opened #914 "Why another mail app?"
Ok...
Very straightforward issue (I do not mean to discredit the hard work!):
Why is energy invested to develop another mail app? Many other apps exist, which integrate well in OC (for example RainLoop).

So why this development? Sorry if I am offending. But its an open question.

[2015-07-30 21:39] jancborchardt commented on #914
@farson2003 some of the reasons:

* we’ve been working on this since a few years, so lots of other solutions haven’t been around
* goal is very tight integration with other ownCloud apps – Files, Contacts, Calendar, as well as with the look and feel of ownCloud. We can only really achieve that by making our own app.
* Rainloop was not open source until recently, and the design also doesn’t fully f

[2015-07-31 00:27] clementhk commented on #895
Sounds like a horde mailbox name issue again?

[2015-07-31 00:30] clementhk commented on #895
Can you turn on debug mode and see what you got?
https://github.com/owncloud/mail#debug-mode

[2015-07-31 00:50] clementhk commented on #914
Well I looked into this project because I was looking for a full user-oriented solution, which means everything in that site should have everything that is user-oriented, meaning belong to/manage by end-users directly which admin/IT will not be involved and we want to make sure we are not using 3rd-party solution like dropbox that users can take data away by accident when they leave the company.
T

[2015-07-31 07:51] rakshazi opened #915 "JS error when open email"
Hello!
When I try to open any email in app (latest version - cloned from repo 10 mins ago), I got JS error: "Uncaught ReferenceError: getScrollBarWidth is not defined" in helper.js, here is block of code with problematic function:
[code]

I use Chrome 44.0.2403.125 (64-bit) Linux version from Google repo.

Please, fix this problem!

[2015-07-31 07:59] DeepDiver1975 commented on #914
I guess all has been said -> close

[2015-07-31 07:59] #914 closed

[2015-07-31 08:33] jancborchardt commented on #915
@ChristophWurst @DeepDiver1975 getScrollBarWidth is from core/js/js.js – do we need to duplicate that function here, or is there a way to call it? When I tried I didn’t get that issue.

[2015-07-31 09:04] DeepDiver1975 commented on #915
@rakshazi you are welcome to contribute to fix this problem - THX

[2015-07-31 09:04] ChristophWurst commented on #915
@jancborchardt depends on whether that function is available in all supported OC core versions. Do you know  when it was introduced?

@rakshazi which OC version are use using?

[2015-07-31 09:22] rakshazi commented on #915
@DeepDiver1975 I hate frontend developing and my JS is bad. Duplicating is very bad way and I have no good idea for fix this problem (if I know another way, I make pull request then).
@ChristophWurst OC version on my server is 8.0.4 stable, updated by official updater.

[2015-07-31 09:27] rakshazi opened #916 "Use OpenPGP.js for email encryption"
Hello!
Mailenvelope is not very usable with OwnCloud, but you can implement [OpenPGP.js](http://openpgpjs.org/) for email encryption/decryption native in OwnCloud Mail app.

I hope that you will do this, because it's better than Mailenvelope as third-party browser plugin.

[2015-07-31 09:30] #916 closed

[2015-07-31 09:30] DeepDiver1975 commented on #916
duplicate of #27

[2015-07-31 21:37] DeepDiver1975 commented on #915
8.0.4 does not know this function - https://github.com/owncloud/core/blob/v8.0.4/core/js/js.js

So we better duplicate the code in the mail app

[2015-08-01 06:50] rakshazi commented on #915
@DeepDiver1975 ok, if I just duplicate this function in my local git repo (in apps dir), will be this good way? Or you have another way for this?

[2015-08-02 12:09] ecmu commented on #740
I have the same problem (only for "free.fr" provider).

In the owncloud.log :
{"reqId":"Th4LPIp0ylyOHn3rhnI9","remoteAddr":"192.168.0.17","app":"PHP","message":"Undefined index: count at \/var\/www\/owncloud\/apps\/mail\/vendor\/pear-pear.horde.org\/Horde_Imap_Client\/Horde\/Imap\/Client\/Socket.php#2457","level":3,"time":"2015-08-02T10:41:20+00:00","method":"GET","url":"\/owncloud\/index.php\/app

[2015-08-03 17:06] #915 closed

[2015-08-03 17:07] #877 closed

[2015-08-03 17:09] jancborchardt opened #919 "Clicking notification does not load the correct email"
I think this was introduced with the caching and lazy loading. The problem is that when you click a notification, the Mail app is opened, but the latest messages are not yet loaded. Thus the mail from the notification can not be shown yet.

We should force load the relevant message in the detail view while still loading the message list I guess, that might fix it.

cc @DeepDiver1975 @ChristophWurs

[2015-08-04 18:59] Bullnados opened #920 "Release date for v0.2?"
Are release dates exisiting for mail? The due dates in Milestones aren't updated?

[2015-08-05 03:08] jancborchardt commented on #920
Well, there are open issues for 0.2 – we have to fix them before we can release. Any help in testing and fixing these is appreciated.

Yes, _everyone_ can help test and report issues, as well as test and review pull requests! :)

[2015-08-05 03:08] #920 closed

[2015-08-06 09:37] jancborchardt opened #921 "New mails sent from unified inbox seem to be always sent from first account"
Even though you choose another one from the switcher. :\ That’s quite an annoying bug which you only find out when you look into your sent folder, or notice it in the reply.

[2015-08-06 11:39] szepeviktor opened #922 "ownCloud as a Horde VFS backend"
(Virtual File System)

I'm planning to attach files from ownCloud in Horde Imp webmail.
1
Is Horde->ownCloud authentication or VFS (partly) implemented here in mail?
2
Is there a documentation on how to access ownCloud from another PHP application (Horde)?

[2015-08-06 11:43] szepeviktor commented on #922
BTW Does mail support attaching files to emails from ownCloud?

[2015-08-06 12:13] Xenopathic commented on #922
@szepeviktor I don't think implementing Horde VFS support is in the scope of the Mail app - you are talking about attaching files from ownCloud to Horde Webmail, which is a completely different project. We don't use the Webmail component, just IMAP Client and various other helper utilities.

[2015-08-06 12:16] szepeviktor commented on #922
@Xenopathic Thank you for your answer.

Could you advise where to find documentation on ownCloud external API?

[2015-08-06 12:16] #922 closed

[2015-08-06 12:37] Xenopathic commented on #922
@szepeviktor The easiest way is to leverage standard WebDAV via the `/remote.php/webdav` endpoint.

[2015-08-06 19:38] PoPoutdoor opened #923 "Delete mail in the middle, next displayed mail is the one above before deletion"
OC 8.1.0.8
Mail latest

Seems after you delete a message from the message list, default action is to load message newer than the one deleted.

Think about the procedure when you start working on message other than the first (top) one...

[2015-08-06 19:49] aspdye commented on #923
Please follow the issue template so we get the info we need to be able to debug and fix the problem:
https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-08-06 19:49] PoPoutdoor opened #924 "500 on IMAP server issue"
OC log:

Fatal 	index 	Exception: {"Exception":"Horde_Imap_Client_Exception","Message":"Mail server closed the connection unexpectedly.","Code":4,"Trace":"#0 \/owncloud-8.1.0\/apps\/mail\/vendor\/pear-pear.horde.org\/Horde_Imap_Client\/Horde\/Imap\/Client\/Socket.php(4436): Horde_Imap_Client_Socket_Connection_Socket->read()\n#1 \/owncloud-8.1.0\/apps\/mail\/vendor\/pear-pear.horde.org\/Horde_Imap_

[2015-08-06 19:51] aspdye commented on #924
Please follow the issue template so we get the info we need to be able to debug and fix the problem:
https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-08-06 22:27] jancborchardt commented on #923
@PoPoutdoor it is intended design to load the next newest mail. That allows you to work through mails chronologically. Especially helpful when there are multiple mails on the same topic while we do not have threading yet.

Or what do you mean?

[2015-08-06 22:40] #870 closed

[2015-08-07 02:24] PoPoutdoor commented on #923
Let's say I read mail from the top of list, I keep this.

I click somewhere on the list to read the message of interest, click trash icon while I'm done with that message.

Before the deletion, message below is what I expected to read next.
I repeat read-trash/keep until I'm done with mail.

With current default date sort, every time the next message to display is jump up. So, I have to click one

[2015-08-07 02:31] PoPoutdoor commented on #924
The point is error from Horde is not handled.

In case of IMAP server issue, show error message with 503 seems more proper than 500.

[2015-08-07 11:17] colmoneill commented on #484
Hey gang, sorry long time no activity, super busy on my everyday € stuff.

Could this issue be linked to https://bugzilla.mozilla.org/show_bug.cgi?id=697451
In [this spec of Bootstrap](http://getbootstrap.com/css/#buttons) they speak about the cross-browser rendering issue of inputs vs the use of buttons. I had never thought of replacing the input with a button, did any of you guys think of this a

[2015-08-07 16:40] jancborchardt commented on #484
Ah dayum! That could be it. @colmoneill since you found it, do you want to fix that? :)

(You’ll get a beverage of your choice when you’ll be at the [ownCloud conf](https://owncloud.org/conf), which you should attend as we can support you with 80% of your travel&hotel expenses! Just register there, and mail jos at owncloud dot com with the dates you’ll come and how much reimbursement you need. :)

[2015-08-08 12:09] srt10coupe commented on #686
No

[2015-08-08 12:10] srt10coupe commented on #686
No oC 8.1.1git

[2015-08-08 12:26] jancborchardt commented on #921
Reopening, cc @itheiss :)

[2015-08-08 17:22] tflidd commented on #686
I checked on OC 8.1.0 (debian-package), there I don't see any problems.

[2015-08-08 22:49] #686 closed

[2015-08-08 22:50] jancborchardt commented on #686
@tflidd thanks for checking! :) You’re very welcome helping more with our release by testing pull requests and reporting more issues. Also join our IRC channel #owncloud-mail :)

[2015-08-09 10:06] srt10coupe commented on #686
»Apps« then to »Productivity« and install it from there. Failed
![screenshot_2015-08-09-12-00-49](https://cloud.githubusercontent.com/assets/399997/9154453/ed2dc0c0-3e8e-11e5-9d9f-fca5e8f1b7c8.png)

The app can not be installed because it contains unauthorized code.

[2015-08-09 12:24] jancborchardt commented on #686
@srt10coupe please open a separate issue for that, and fill out the issue template (server logs and more) that we need to debug this.

[2015-08-09 18:32] PoPoutdoor opened #928 "composer issue"
*console command:* php composer.phar install

*error message:* sh: hg: command not found

https://github.com/owncloud/mail/blob/master/composer.lock#L58

[2015-08-09 18:43] clementhk commented on #928
Just install hg.

Clement

[2015-08-09 18:51] PoPoutdoor commented on #928
First of all, please update document about the requirement and procedure to install **hg**.

BTW, I'm not familiar with composer. So, how can I get **hg** and get it installed?

[2015-08-09 19:36] Xenopathic commented on #928
`apt-get install mercurial`

`yum install mercurial`

`emerge mercurial`

`pacman -S mercurial`

One of those should do it. And the Mercurial requirement isn't one of ownCloud Mail's, it's one of the development tool Composer. Please go to their documentation for further instructions.

[2015-08-09 19:36] #928 closed

[2015-08-09 20:37] PoPoutdoor opened #929 "message.js error with keyboard delete (tooltip issue)"
If delete mail with mouse click on trash icon, no error.
After delete mail with keyboard, error in console:

https://github.com/owncloud/mail/blob/master/js/views/message.js#L110

[2015-08-09 23:11] jancborchardt commented on #929
@irgendwie @ChristophWurst @zinks- any idea?

[2015-08-10 12:58] jancborchardt opened #930 "Link detection: tilde (~) cuts off"
URLs like https://people.gnome.org/~av cut off before the tilde (~).

cc @DeepDiver1975 @clementhk @jcbrand

[2015-08-10 13:57] #909 closed

[2015-08-10 14:24] DeepDiver1975 commented on #930
@MacDada can you please have a look? - THX

[2015-08-10 14:25] DeepDiver1975 commented on #930
In addition I'm experiencing issues with link containing &

https://software.opensuse.org/download.html?project=isv%3AownCloud%3Acommunity%3Atesting&package=testpilotcloud-client

[2015-08-10 19:05] aspdye opened #931 "German Translation (use the formal term of address)"
Hi,

Just discoverd that OwnCloud Mail is not correct translated at the following:

Malvelope - Suchst du nach einer Möglichkeit deine E-Mails zu verschlüseln?

Normally oC Mail should use "Suchen Sie" and "Suchst Du" in the way the user set this in his Settings (German -Du / German-Sie),

[2015-08-10 21:00] DeepDiver1975 commented on #931
de: Suchst Du - https://github.com/owncloud/mail/blob/master/l10n/de.json#L64
de_DE: Suchen Sie - https://github.com/owncloud/mail/blob/master/l10n/de_DE.json#L64

[2015-08-10 21:00] #931 closed

[2015-08-11 02:37] clementhk commented on #930
I think I'll look into proper link detection solution sometime this week..

[2015-08-11 07:42] aspdye commented on #931
cool :)

[2015-08-11 12:20] Gomez commented on #930
I think this can be a good solution:
http://soapbox.github.io/linkifyjs/

https://github.com/owncloud/mail/issues/641

[2015-08-11 13:52] DeepDiver1975 commented on #930
I prefer to have this in php on the server side

[2015-08-12 11:49] fossxplorer opened #934 "Unable to connect to any IMAP servers"
Using Mail current master and oC stable8.1.
Tried Yahoo with manual and auto setup.
From IRC/#owncloud-testing
For Yahoo i see "PHP","message":"fsockopen(): unable to connect to mx-eu.mail.am0.yahoodns.net:143 (Connection refused)
<fossxplorer> telnet mx-eu.mail.am0.yahoodns.net 143 => telnet: connect to address 188.125.69.79: Connection refused
<fossxplorer>  telnet imap.mail.yahoo.com 993 => Con

[2015-08-12 12:08] fossxplorer commented on #934
Update: i was using a username@yahoo.no account which didn't work, but another account with username@yahoo.com seems to work :)

[2015-08-12 12:11] clementhk commented on #934
It looks like a gmail account though. Well, good that it works.

[2015-08-12 12:13] fossxplorer commented on #934
@clementhk i've updated my comment above. Yahoo works while Gmail doesn't.

[2015-08-12 13:59] DeepDiver1975 commented on #934
did you follow https://support.google.com/mail/answer/78754

[2015-08-12 15:31] irgendwie commented on #929
@jancborchardt This happens bc a button event has no property clientX or clientY in comparison to mosue events. As currently the tipsies don't seem to work, is this workaround still needed (manually trigger mouseover?) or can we drop it?

[2015-08-12 15:48] jancborchardt commented on #929
The question is if we need the tooltips there. I’d say they are useful to display in the trash so you know that the deletion from there is permanent. (Not anywhere else though – just like before.)

[2015-08-12 20:02] PoPoutdoor opened #935 ""No messages in this folder!" on first use"
This happens daily on first use.

![screenshot-2015-08-13 03 43 53](https://cloud.githubusercontent.com/assets/1781047/9235147/887db2f0-416f-11e5-848b-a8b06dc417f9.jpg)

![screenshot-2015-08-13 03 44 12](https://cloud.githubusercontent.com/assets/1781047/9235150/8f94198a-416f-11e5-9c29-341c0c3acfac.jpg)

The overlap disappeared after page reload.

Seems a cache problem on folders other than Inbox.

[2015-08-12 20:18] jancborchardt commented on #935
@PoPoutdoor is this latest master?

@ChristophWurst @irgendwie any idea?

[2015-08-13 11:01] itheiss commented on #438
@jancborchardt  Can't reproduce this. Have tried with diffrent files, with and without proper file extension. What is meant by: "only on one mail server" ?

[2015-08-13 11:34] itheiss commented on #888
Tested with latest version from master and can't reproduce this. I took a mail from GitHub an clicked the link as mentioned. Everything was fine. No erros no hassels.

Can anybody else trying to reproduce this?

[2015-08-13 12:47] jancborchardt commented on #438
It’s on our @owncloud.com mail server, on my personal one this didn’t happen.

[2015-08-13 13:48] DeepDiver1975 commented on #438
Stuff like this is depending on the mail - especially on how it is composed.

[2015-08-13 13:56] PoPoutdoor commented on #935
@jancborchardt This is latest master code.

[2015-08-13 14:51] irgendwie commented on #935
I cannot reproduce this, what are the steps to reproduce this? @PoPoutdoor

[2015-08-13 15:02] jancborchardt commented on #438
@DeepDiver1975 just forwarded you a mail with an attachment where this happens.

[2015-08-13 15:09] PoPoutdoor commented on #935
@irgendwie

1. Open Firefox (close if already opened, wait a while and open)
2. Login to Owncloud, then select Mail app
3. After everything settled, pick random account/mail folder except Inbox
4. The message content area shown as first screenshot.
5. Click on message list area randomly, the contents displayed with "No message..." overlapped as second screenshot.

[2015-08-13 15:12] DeepDiver1975 commented on #438
pointless since forwarding manipulates the mail messages

[2015-08-13 15:16] irgendwie commented on #935
Mmh, still not reproducible for me, sorry. Everything works as expected for me!

Anything interesting in the log files @PoPoutdoor?
Do you have some kind of special setup?
Did you try to clean your browser cache?

[2015-08-13 15:44] PoPoutdoor commented on #935
Nothing special on server side.

Just clear browser cache, this only for Yahoo account now.

[2015-08-13 15:47] irgendwie commented on #935
So it only happens with the Yahoo account now?
Anything relevant in the owncloud log?

[2015-08-13 15:54] PoPoutdoor commented on #935
Update:

Everyday I empty message in those folders on Yahoo account, before shutdown firefox.
On the next time I use Mail app, those folders filled with new mails.

From the Mail app side, (sorry, I'm not catching up with code by now) some kind of cache indicated the folders have no messages. (lazy loading?) somehow not detected there have mail now and show "No message...". So, the "No message..."

[2015-08-13 21:23] #921 closed

[2015-08-14 08:57] ChristophWurst commented on #919
Let's debug and this…

[2015-08-14 11:41] ChristophWurst commented on #919
There are some issues with caching, however, I don't think the 'correct email' is loaded automatically. Have a look at this: https://github.com/owncloud/mail/blob/master/js/mail.js#L291 – only the folder is opened, but not the message. This makes sense, as there might be multiple new messages and opening one of them would also flag it as seen.

[2015-08-14 12:18] PoPoutdoor commented on #935
Double check with latest code, nothing related to this issue on web server log, owncloud log and FF js console.

[2015-08-14 12:35] jancborchardt commented on #919
Of course – but it would also be open then. :) That’s our behavior now, and we can further adjust it in other PRs to only peek, or when we have mark as read/unread.

[2015-08-14 13:31] ChristophWurst commented on #919
I would say opening one of the received messages is a new feature -> 0.3. I fixed some issues regarding caching in PR #937.

[2015-08-14 14:49] aspdye opened #938 "favicon"
Is there any reason, why mail is the only app in owncloud having its own favicon? :)

[2015-08-14 14:57] DeepDiver1975 commented on #938
because we can :wink:

[2015-08-14 14:57] #938 closed

[2015-08-14 15:29] aspdye commented on #938
Seriously ;)

[2015-08-14 16:30] jancborchardt commented on #938
Because it's an enhancement and something we should do for other apps too. :)

[2015-08-14 19:41] PoPoutdoor commented on #888
Tested with latest master, with other mail's link on Firefox, text and html content.

1. middle click -> direct open in new tab (bypass Mail code)
2. ctrl-click -> direct open in new tab (bypass Mail code)
3. right-mouse-click -> run Mail code (show redirect message, but no auto redirect) and open link target.

No error with GitHub's mail on right-mouse-click.

[2015-08-15 07:02] ChristophWurst opened #939 "Button styling on Firefox OS"
Seems like there is some inconsistent button styling when using the mail app on FF OS:

![2015-08-15-08-20-01](https://cloud.githubusercontent.com/assets/1374172/9287872/41dffa38-432c-11e5-85b4-5f9935e3204d.png)

@jancborchardt @colmoneill any idea? should we fix this?

Also #484 applies for FF OS :wink:

[2015-08-15 07:04] ChristophWurst commented on #939
Hm, just noticed there's also a little translation inconsistency. First it shows 'Nachrichten prüfen…', then 'E-Mails abrufen…'

[2015-08-15 07:23] ChristophWurst commented on #939
Same goes for English: 'Check messages…' becomes 'Checking mail…'

[2015-08-15 10:31] jancborchardt commented on #939
@ChristophWurst do you want to change the »Checking mail …« to »Checking messages …«? :)

Regarding the buttons, good point. This seems to be a general thing with ownCloud maybe, not just related to the Mail app? Do you know how to overwrite that or what causes it?

[2015-08-15 10:44] ChristophWurst commented on #939
@jancborchardt I can do that ;-)

Yup, seems like button styles are also different in the calendar app:
![2015-08-15-12-38-06](https://cloud.githubusercontent.com/assets/1374172/9288534/fda49724-434a-11e5-8ad4-df591703bfd4.png)

Not yet, I didn't have a look at the code. Maybe those buttons have different classes…

[2015-08-15 13:16] ArnoStrasbourg opened #940 "Can't connect in SMTP"
Hi all,
I was prevousely use the mail app in my owncloud. I was then connected in HHTP.
I transfered my owncloud in HTTPS a couple of day ago. After re-installing mail 0.1.3, I can't connect my account.
I click on manual configuration, and complete :
- SMTP Host : ssl0.ovh.net
- Port 465 (SSL/TLS)
- my SMTP User
- my SMTP Password.

Nevertheless, when I click on "connect", the message is "Creating

[2015-08-15 20:37] Aesculapius commented on #626
I'm having the same with a courier-imap server. Used to work perfectly before, but since upgrading to 8.1.1, it fails. I've re-entered account details several times...

[2015-08-15 23:52] jancborchardt commented on #626
@Aesculapius can you please open a separate issue and fill out the issue template so we have the proper data?

[2015-08-16 06:49] Bullnados commented on #858
Close that until I habe more time to reproduce this issue.

[2015-08-16 06:49] #858 closed

[2015-08-16 09:35] tflidd opened #942 "Change account settings"
I can create and delete accounts. I didn't find a way to change the settings (in case they are wrong, change or I want to verify them). On the wheel on the left bottom corner there is only the trash-bin.

Version: 0.1.3 from the app store
OC 8.1.1 (Debian 7, Apache, Mysql, SuSE repo)

[2015-08-16 09:39] tflidd opened #943 "Second identity not available directly after adding the account, reload necessary"
I added two accounts. When I go to "new message", I can create a new message. I can only use the sender from the first mail account.

Version: 0.1.3 from the app store
OC 8.1.1 (Debian 7, Apache, Mysql, SuSE repo)

edit: After a logout and login on owncloud, the second identity is availble.

[2015-08-16 10:45] jancborchardt commented on #943
@tflidd yeah, I think this is known. Do you want to submit a pull request for that maybe? :)

[2015-08-16 10:47] jancborchardt commented on #942
Related to https://github.com/owncloud/mail/issues/625 and https://github.com/owncloud/mail/issues/654

[2015-08-16 11:48] ChristophWurst commented on #943
Accounts array is set during initialization of the composer view: https://github.com/owncloud/mail/blob/master/js/mail.js#L1029. Therefore, no changes are populated later on because the view is reused.

I suggest we can fix that once we have some Backbone models/collections in place so we can react on those changes (account added/deleted/changed) easily.

[2015-08-16 12:43] ChristophWurst opened #944 "JS refactoring/cleanup ideas for 0.4"
I would like to share my thoughts and ideas on the JavaScript code enhancements I am planning for 0.3. To make it easy and painless to extend this app's functionality in the future, I personally think we have to clean up many parts of the current code base.

# Modularity and testability
As shown in my proof-of-concept/WIP PR #917 this app can be split into asynchronously loaded modules with relati

[2015-08-16 15:16] rodrigoaguilera opened #945 "Unable to create bluehost mail account"
My mail works ok with other mail clients.

I'm using php 5.6.9 and when I try to create an mail account with the manual setup I get:

Error when communicating with the server

In the  Horde_Smtp_Connection read() method. I'm the master repo of owncloud mail.

I traced the error a bit and seems that the horde libraries have problems with php 5.6

With gmail there is no problem.

Might be related:
h

[2015-08-17 06:10] DeepDiver1975 commented on #945
Please provide log entries from data/owmcloud.log and enable IMAP logging -  See readme of this repo. Thx

[2015-08-17 06:13] DeepDiver1975 commented on #944
Move unified inbox handling to JS. The current Server based impl is not that great aka hacky.

[2015-08-17 06:54] mcladyz opened #946 "Feature request: Compact view"
Would be great if the mail app had a optional 'compact view', where only the mail account names are shown (Instead of all the folders). The number of new unread messages could be shown next to the account name.

This is useful if you have more than a couple mail accounts and wanna see the overall status.

[2015-08-17 07:42] ChristophWurst commented on #946
duplicate of #677

[2015-08-17 07:42] #946 closed

[2015-08-17 16:42] aspdye opened #947 "Change Password / Login with... / Integrate"
Changing Password of Inbox directly in OwnCloud Mail :)

-Odin Plesk (should be easy; API; like in RainLoop)
-cPanel (")
-Gmail (maybe with a "Dev Tools Acess" ?!)

Directly add Mail Account via Provider-API (for "noob"-users):

-Gmail (Log-In with Gmail)
-Outlook.com (")
-Yahoo (")

Maybe that would be integrateable with other oC Apps like Calendar or Contacts.
Like: Sync your E-Mails, Contacts a

[2015-08-17 16:44] aspdye opened #948 "Show Security Level of E-Mail"
German!!: https://mailbox.org/mailbox-org-informiert-vor-e-mail-versand-ueber-sicherheitslevel-der-empfaenger/

Would be nice for oC Mail too :)

[2015-08-17 17:02] DeepDiver1975 commented on #947
duplicate https://github.com/owncloud/mail/issues/887

[2015-08-17 17:02] #947 closed

[2015-08-18 12:52] jancborchardt opened #949 "Sometimes sent mail remove subjects"
Sometimes when I reply to mails, the subject gets removed for some reason. Can you reproduce @irgendwie @ChristophWurst @PoPoutdoor @zinks-?

[2015-08-18 13:58] DeepDiver1975 commented on #949
no

[2015-08-19 15:16] irgendwie commented on #949
Also happens for me sometimes :+1: therefore, can reproduce

[2015-08-19 16:26] PoPoutdoor commented on #949
Can not reproduce subject lost, but quoted contents get stripped to retain first line and the second line is [...]

[2015-08-19 16:32] PoPoutdoor commented on #935
ping @irgendwie

[2015-08-19 17:16] PoPoutdoor commented on #944
A quick scan of the *sync* link, it sounds great to have from a user's perspective.

[2015-08-19 18:54] jancborchardt commented on #949
@irgendwie can you maybe dig deeper into this? :)

[2015-08-19 22:19] jancborchardt commented on #949
Just had this happen again on a reply … it’s really embarassing. How can I debug?

[2015-08-20 12:45] foxbow commented on #888
I'm seeing the same issue on a pretty different set-up:

Is it possible that it depends on the user language? My installation is set to 'german', maybe that is a hint.

### Server configuration
**Operating system**:
Debian 6

**Web server:**
nginx

**Database:**
sqlite

**PHP version:**
5.4.41-0+deb7u1

**ownCloud version:** (see ownCloud admin page)
8.1.1

**Updated from an older ownCloud or fres

[2015-08-20 13:42] DeepDiver1975 commented on #949
Just observed this as well .... mail app really feels buggy and broken these days .... I wonder if we should fork it or start off in a rework branch .....

[2015-08-20 16:48] PoPoutdoor commented on #888
@foxbow My language setting is Chinese, still cannot reproduce this.

Can you try Firefox as client to verify the problem is not browser related?

[2015-08-20 19:13] jancborchardt commented on #949
LOL :D

[2015-08-20 19:13] jancborchardt commented on #949
We need to write more tests, and hold back on adding more features. ;)

[2015-08-21 07:23] foxbow commented on #888
@PoPoutdoor Wicked, with Firefox I'm getting the "<div id="nojavascript"><div>Diese Anwendung benötigt...</div></div>" verbatim on the page, the HTML code including the <div> tags. But no autoforwarding. Clicking the link works - probably since the overlay DIV is not blocking it like on Chrome. Same behaviour with Firefox on Windows7.

IE8 offers me the choice to either return to the 'Mail-App' or

[2015-08-21 13:22] PoPoutdoor commented on #949
When you all settled with #944, a rework branch seems the logical path.

[2015-08-21 13:32] PoPoutdoor commented on #888
@foxbow This is strange... no idea, maybe Mail app code corrupts while download, or problems with server filesystem while Mail app code is written to.

Anyway, it doesn't hurt to do a fsck on server, re-download and apply Mail app code to the server.

[2015-08-22 15:16] PoPoutdoor commented on #438
@jancborchardt Can you post the full headers?

[2015-08-22 17:50] ecmu opened #950 "Problem with "free.fr" provider"
With this provider, "no message in this folder" is always shown.

In the owncloud.log :
{"reqId":"Th4LPIp0ylyOHn3rhnI9","remoteAddr":"192.168.0.17","app":"PHP","message":"Undefined index: count at \/var\/www\/owncloud\/apps\/mail\/vendor\/pear-pear.horde.org\/Horde_Imap_Client\/Horde\/Imap\/Client\/Socket.php#2457","level":3,"time":"2015-08-02T10:41:20+00:00","method":"GET","url":"\/owncloud\/inde

[2015-08-23 07:59] DeepDiver1975 commented on #950
Looks like an issue with the Horde lib. Please report this upstream

[2015-08-24 09:39] jancborchardt opened #952 "Unified inbox problem"
Currently the unified inbox doesn’t load, I get this console error with Firefox:
[code]

Any idea @ChristophWurst @irgendwie @PoPoutdoor @zinks- @Gomez?

[2015-08-24 12:13] jancborchardt commented on #949
@PoPoutdoor I’m pretty sure this was a joke by @DeepDiver1975 … rework branches have brought us nothing but despair in the past. ;) We need to make small steps and incremental improvements instead of trying to work on one big thing which never gets finished.

[2015-08-24 12:14] #950 closed

[2015-08-24 13:17] ChristophWurst commented on #952
Seems like something here is causing it: https://github.com/owncloud/mail/blob/09910026f9362b4dccbd76b716c8579d88a5f3e8/js/views/message.js#L32-L36

This means for some reason the ``from`` attribute is not set on that message.

[2015-08-24 14:18] foxbow commented on #888
@PoPoutdoor I'll go through the installation and see if anything changes when I tweak everything according to the installation/upgrade notes.

[2015-08-24 17:04] PoPoutdoor commented on #949
@jancborchardt I do feel something broken... btw, is there any flow chart or diagram of Mail app?

[2015-08-24 17:15] aimlessadam opened #953 "OC 7 / PHP 5.4 / could use help"
I am currently using roundcube, would love to switch to your mail app if possible, but get infinite middle and right pane spinner when i try to use it with an account against a localhost dovecot instance and/or outlook.com
periodic ```{PHP} syntax error, unexpected '[' at ...apps/mail/appinfo/routes.php#11``` logged, seems to be from cron

installed with:
[code]
tried ```setenforce permissive```,

[2015-08-24 17:16] LukasReschke commented on #953
Are you sure you use 5.4? Can you upload a file `phpinfo.php` with the following content and double check:

[code]

This looks more like a 5.3

[2015-08-24 17:46] aimlessadam commented on #953
thank you, i phpinfo says 5.4...
[code]

[2015-08-24 18:36] DeepDiver1975 commented on #953
This is a clear sign that php 5.3 is used - system config issue -> close

[2015-08-24 18:36] #953 closed

[2015-08-24 18:38] aimlessadam commented on #953
i can PM you a link to an OC account and the link to the phpinfo page; PHP version is 5.4.  Could you please help troubleshoot some more?

[2015-08-24 19:52] aimlessadam commented on #953
though /etc/profile.d/ set the php environment to point to the software collections php54, the "unexpected '['" message was because cron.php has  '#!/usr/bin/php' hard coded; i linked /usr/bin/php to /opt/rh/php54/root/usr/bin/php and that message is gone now; Mail, however, spins forever.

[2015-08-25 20:43] ChristophWurst commented on #125
I'll give [Marionette Approuter](http://marionettejs.com/docs/v2.4.2/marionette.approuter.html) a try once #944 has been implemented

[2015-08-26 09:24] jancborchardt opened #954 "Initial load or folder switch shows outdated cache state"
@DeepDiver1975 and I talked about this the other day and I’m sure you have seen this before @ChristophWurst @irgendwie @Gomez @PoPoutdoor

1. Open the mail app
2. Delete some, read some, etc
3. Switch to another folder and switch back
4. Initially it still shows the list you initially saw when opening the app – not the one the client should know already cause you used it to delete and read mails.

[2015-08-26 09:25] jancborchardt commented on #438
Moving to 0.3 since it’s specific to a setup and specific mails.

[2015-08-26 09:27] jancborchardt commented on #952
Then we should fail gracefully there, right? Just show no avatar at all.

[2015-08-26 14:41] ChristophWurst commented on #949
'Sometimes' = if you reply from the unified inbox ;-)

The problem are those lines: https://github.com/owncloud/mail/blob/master/js/views/composer.js#L320-L341 as the 'folderId' is not set when replying from the unified inbox. This results in a request without the 'folderId' parameter. Furthermore the server interprets this as a new message because it checks for 'accountId' and 'folderId' existenc

[2015-08-26 16:35] #954 closed

[2015-08-26 16:36] #822 closed

[2015-08-26 18:23] ChristophWurst commented on #888
@tony5 could you please post the exact location the link points to in the message? It's probably something like ``https://xxxxxx/owncloud/index.php/apps/mail/redirect?src=http%3A%2F%2Fwww.example.com``

[2015-08-26 18:30] ChristophWurst commented on #888
Also a screenshot of the shown page could help debugging this ;-)

[2015-08-26 18:37] ChristophWurst opened #959 "Move templates into dedicated files"
Currently we have all the templates in a few files. Therefore these files are getting bigger and bigger.

I'd suggest we split them into dedicated files for each template and simply include them where needed (e.g. the index file) as described in the docs https://doc.owncloud.org/server/8.2/developer_manual/app/templates.html#including-templates

[2015-08-26 18:53] tony5 commented on #888
left clicking on the link "Reply to this email directly or view it on GitHub." will produce

![java-error](https://cloud.githubusercontent.com/assets/9308991/9502933/0a28424c-4c02-11e5-8416-70f21f2031e3.png)
the url would be
owncloud/index.php/apps/mail/redirect?src=https%3A%2F%2Fgithub.com%2Fowncloud%2Fmail%2Fissues%2F888

[2015-08-26 19:21] tony5 commented on #888
@ChristophWurst
I also see this. the spinner will spin for ever until I click "click here if you are not automatically redirected"

![redirect](https://cloud.githubusercontent.com/assets/9308991/9503577/d098a234-4c05-11e5-9908-2e55a3d22c25.png)

[2015-08-26 20:04] ChristophWurst commented on #888
Hm, looks like the problems described in https://github.com/owncloud/mail/issues/206…

[2015-08-26 22:02] #844 closed

[2015-08-26 22:21] tony5 commented on #888
@ChristophWurst
the link you posted is 404

[2015-08-27 06:48] #952 closed

[2015-08-27 08:52] ChristophWurst commented on #888
sorry. I fixed it ;-)

[2015-08-27 14:18] aspdye opened #961 "Enhancement: External user support"
Hi,

The External User App supports IMAP-Auth. I think it would be nice if useres logging-in with IMAP are auto-configured in Mail.

CAS and LDAP could be also integrated ;)

[2015-08-27 16:48] #949 closed

[2015-08-27 18:03] PoPoutdoor opened #962 "Account not loaded"
Similar entries been logged for a while, affected Mail service provider includes:

- Outlook.com(@hotmail acount)
- Mail.ru(@icqmail account)

This is a bad user experience when mail account not loaded silently.

Can we have some kind of status on the left sidebar to indicate server side issue of specified mail account?

OC 8.1.0.8
mail master 569c42da2498e30289e9b60eaf903c42dc7bb564

OC log:
gets

[2015-08-27 18:12] PoPoutdoor opened #963 "All Inboxes: TypeError: localAccount is undefined"
Happens after detectChanges

OC 8.1.0.8
mail master 569c42da2498e30289e9b60eaf903c42dc7bb564

https://github.com/owncloud/mail/blob/master/js/mail.js#L340

[2015-08-28 10:35] jancborchardt commented on #769
Fixed by https://github.com/owncloud/mail/pull/866 :rocket:

[2015-08-28 10:35] #769 closed

[2015-08-28 12:31] xn--nding-jua commented on #895
Hey,

I've commented the lines 69 to 76 within the file "apps/mail/vendor/pear-pear.horde.org/Horde_Imap_Client/Horde/Imap/Client/Data/Format/String.php"

[code]

so no exception is thrown and the original error-message will be shown within the owncloud.log. Then you will see the original message "Sending mail failed: Could not open mailbox "Entw??rfe"."

As I'm using a German backend my "Draft"-f

[2015-08-28 13:02] ChristophWurst opened #965 "Cache invalidation for updates"
Some changes like PR #956 require the cache to be cleared when you upgrade the app. Since we can't expect users to do that manually, some kind of cache invalidation should be used whenever the app version changes.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26275359-cache-invalidation-for-updates?utm_campaign=plugin&utm_content=t

[2015-08-28 13:14] xn--nding-jua commented on #895
I've done some more investigation. The problem occurs in this function-calling:

https://github.com/owncloud/mail/blob/master/lib/controller/accountscontroller.php#L441

Two lines before:
https://github.com/owncloud/mail/blob/master/lib/controller/accountscontroller.php#L439
returns "Entwürfe"

then the function "deleteDraft" is called. There the following line throws the exception:
https://github

[2015-08-28 15:14] #929 closed

[2015-08-28 16:24] Gomez commented on #888
Cant reproduce with current master.
@tony5 & @foxbow are using 0.1.3 so it is solved with the coming 0.2 and master.

Please test again with master or 0.2 (soon released).

[2015-08-28 16:24] #888 closed

[2015-08-28 16:24] aspdye opened #967 "Coop with Mailvelope"
Hi,

What do you think about an cooperation with Mailvelope, in Style of GMX and Web.de:

https://www.mailvelope.com/de/blog/gmx-and-web-de-launch-pgp
https://www.mailvelope.com/de/coop_webde

That would integrate OwnCloud Mail better with Mailvelope (Backup, Key-Server).

[2015-08-28 17:59] jancborchardt commented on #967
Mailvelope is already working with ownCloud Mail, and the issue you’re looking for is at https://github.com/owncloud/mail/issues/27 – let’s continue there.

[2015-08-28 17:59] #967 closed

[2015-08-28 19:05] irgendwie commented on #873
Can reproduce - currently looking into it!

[2015-08-29 04:39] PoPoutdoor commented on #895
I think this related to server i18n/L10n support.

FYI: http://www.horde.org/apps/horde/docs/TRANSLATIONS#gnu-gettext-php-and-horde

@farson2003 @xn--nding-jua Please post info about server and web server.

[2015-08-29 04:51] PoPoutdoor commented on #888
Dig up something from Horde site: http://wiki.horde.org/FAQ/Admin/Troubleshoot?referrer=FAQ%2FAdmin#toc9

[2015-08-29 05:22] PoPoutdoor commented on #963
Seems OK now with 0.2

[2015-08-29 05:22] #963 closed

[2015-08-29 09:28] aspdye opened #972 "HTML Editor"
Hi,

Dont know if this is already planned :( But some options like "Bolt" or "Color" would be nice :)

[2015-08-29 12:48] ChristophWurst commented on #972
dup of #782

Please search the existing issues before creating new ones

[2015-08-29 12:48] #972 closed

[2015-08-29 16:28] #959 closed

[2015-08-29 19:14] LIyoai opened #975 "Custom from"
Please add a custom from like https://github.com/r3c/custom_from for Roundcube

[2015-08-29 19:17] LIyoai opened #976 "Disable Images"
Disable images on default. Should be enabled manual for each mail when needed.

[2015-08-29 19:18] LIyoai opened #977 "Can't access subfolders"
Subfolders are displayed on the left (folder.subfolder) , but I can not enter them.

[2015-08-29 21:20] aspdye commented on #977
Please follow the issue template so we get the info we need to be able to debug and fix the problem. Thanks!

[2015-08-29 22:13] ChristophWurst commented on #976
please search for existing issues before creating a new one, this is a duplicate of #424

[2015-08-29 22:13] #976 closed

[2015-08-29 22:14] ChristophWurst commented on #977
subfolders or subsubfolder? have a look at #618

[2015-08-30 07:47] jancborchardt commented on #975
You’re looking for sending from aliases: https://github.com/owncloud/mail/issues/122 – please look through existing issues before opening new ones. :) Thanks!

[2015-08-30 07:47] jancborchardt commented on #975
You’re looking for sending from aliases: https://github.com/owncloud/mail/issues/122 – please look through existing issues before opening new ones. :) Thanks!

[2015-08-30 07:47] #975 closed

[2015-08-30 10:56] jancborchardt opened #979 "Mail reply marker only set after a reload"
When you reply to a mail, the reply marker (class to invoke the icon) isn’t set until you refresh the page manually.

[2015-08-30 13:05] ChristophWurst opened #981 "Fix Makefile for packaging"
I just discovered that our Makefile doesn't really work (``dist`` is the default target, but it doesn't even exist).

Additionally, we'll have to add ``bower install`` to download all the JS dependencies before creating the package.

[2015-08-30 14:00] #873 closed

[2015-08-30 14:28] #912 closed

[2015-08-30 16:15] jancborchardt commented on #84
@jakobsack maybe also something you want to look into, while you check out loading images of the mail later.

[2015-08-30 16:27] jancborchardt commented on #655
@enoch85 do you still have this issue? If so, come join us at the hacking room so we can debug! :)

[2015-08-30 16:45] #848 closed

[2015-08-30 17:30] ChristophWurst opened #989 "Fix tooltip transparency"
@jancborchardt t as discussed:
*  Message view
* Settings delete account

[2015-08-30 18:23] jancborchardt opened #990 "Delete hotkey doesn’t work atm"
Using the Del key to delete the current mail does not work currently.

[2015-08-30 18:28] ChristophWurst commented on #990
Please follow the issue template so we get the info we need to be able to debug and fix the problem. Thanks!

[2015-08-30 18:32] jancborchardt commented on #990
Expected: Press Del on your keyboard and mail gets deleted

What actually happened: It doesn’t work.

Current master on everything. Also you can me cross-wise. :D

[2015-08-30 18:38] ChristophWurst commented on #990
Cannot reproduce

[2015-08-30 18:38] #990 closed

[2015-08-30 18:42] jancborchardt commented on #990
Hm seems fixed indeed. Sorry :D

[2015-08-30 18:44] ChristophWurst commented on #990
:smile:

[2015-08-31 07:34] ChristophWurst commented on #484
@jancborchardt could you fix this finally? :D

[2015-08-31 07:44] #424 closed

[2015-08-31 08:16] Gurkengewuerz opened #995 "Client spams drafts folder"
Hello,

everytime i sent an email there are a error message: "Server error".
If i check the Outgoing messages the message is out.
If i check my drafts i see 5 up to 10 drafts of the email.

Greetings from Germany

[2015-08-31 08:37] ChristophWurst opened #997 "Create issue template for the mail app"
We should consider creating an own issue template where we can get useful information like
* mail app version
* horde.log
* how many account (unified inbox)
* which provider (own server or proprietary service)
* server side caching enabled

Basically we can use the core issue template and adapt it to our needs.

@jancborchardt  @itheiss @Gomez @DeepDiver1975 anything else that could be helpful?

[2015-08-31 08:59] jakobsack opened #999 "Save addresses users have sent emails to"
The mail app should save addresses the users have sent mails to. In future, images should be loaded in emails from these addresses and the addresses should be suggested for auto completion.

- [ ] Create a model for these addresses
- [ ] Save the email addresse when sending emails

[2015-08-31 09:11] Gurken2108 opened #1000 "Mailvelope error"
Mailvelope can't get the Mail to "unsign" the Email.
If i try the same email in the webmailer of my provider, to "unsign" them with Mailvelope, it works.

[2015-08-31 09:14] ChristophWurst commented on #1000
@Gurken2108 congratulations, you submitted issue #1000 :fireworks: :-)

[2015-08-31 09:20] Gurken2108 commented on #1000
Depending on how you look at it

[2015-08-31 10:00] aspdye commented on #997
More information about the Provider should be given:

-Provider
-Encryption (SSL, STARTTLS, no)
-Mail Transport (PHP, SMTP)

[2015-08-31 10:20] jancborchardt commented on #999
Duplicate of https://github.com/owncloud/mail/issues/879 ;) – let’s continue there. :)

Also: Save the email address of every mail in from/to/cc when receiving a mail.

[2015-08-31 10:20] #999 closed

[2015-08-31 10:22] jancborchardt commented on #1000
@Gurken2108 you are very welcome to contribute and to join our IRC channel #owncloud-mail as well. :)

[2015-08-31 11:56] Gomez opened #1007 "Blocked Image notice in a mail without images"
I see the button but the mail does not have a image.

The button should not shown if no image are in the mail.

@jakobsack

[2015-08-31 12:44] Gurken2108 commented on #1000
New findings: Mailvelope works well right only in Chrome, not in Firefox

[2015-08-31 14:35] RandolfCarter commented on #424
Awesome :+1: !

[2015-08-31 15:41] aspdye opened #1012 "Position of »Send« button"
I think we shoud take the "send" button out of the textbox. Looks strange ;)

[2015-08-31 16:09] Gomez commented on #1007
https://github.com/owncloud/mail/pull/1011

[2015-08-31 16:41] ChristophWurst commented on #1012
@jancborchardt

[2015-09-01 08:43] phsc commented on #79
Will Calendar+ also be supported? Or would it even make sense to focus on implementing this feature for Calendar+?
https://github.com/libasys/calendarplus

[2015-09-01 08:53] jancborchardt commented on #79
@phsc ideally this is independent of the Calendar app being used. We aim to separate the CalDAV backend from the apps, see https://github.com/DeepDiver1975/dav

[2015-09-01 08:54] jancborchardt commented on #1012
Yeah, I think I’ll go with putting it to the bottom right of the textbox, and put the Forward button left of it until we combine them.

[2015-09-01 14:21] aspdye commented on #967
Not really ;) I know that we support Mailvelope as a plugin. But we haven't got an deeply integration, like Cooperation Partners (United Internet [GMX, Web.de] and the Deutsche Telekom AG).

As an example (german):

Mailvelope selbst unterstützt keinen Mechanismus für die Passwortwiederherstellung. Wenn Sie Ihr Passwort vergessen oder Ihren privaten Schlüssel verlieren, können Sie die entsprechend

[2015-09-01 14:23] aspdye commented on #972
I've searched for "HTML Editor" and "Editor" and was wondering why nobody has the same question :D
Ahh....Its called "Rich Text E-Mails / HTML mails" ;)

Sorry!

[2015-09-01 14:24] aspdye commented on #782
Why is this in Backlog? I think it is an "Basic Feature". Aren't we able to take the Editor from the Notes App?

[2015-09-01 18:52] jakobsack commented on #691
Please reopen if issue still exists

[2015-09-01 18:52] #691 closed

[2015-09-01 19:12] jakobsack opened #1019 "Block css background images in emails"
Images defined in the style attribute should not be loaded unless the user asks for it (same behaviour as image tags)

[2015-09-02 08:12] Gomez opened #1020 "Fix mailto composer"
The "js/composer.js" was a copy of the composer.js. Should be killed and redone :)

[2015-09-02 09:04] ChristophWurst commented on #1020
Setting this to priority as it's also broken at the moment

[2015-09-02 09:48] jancborchardt commented on #967
cc @toberndo and @uggrock of Mailvelope. :)

[2015-09-02 10:32] jancborchardt commented on #424
@RandolfCarter you’re welcome in #owncloud-mail on IRC if you want to test and contribute more. :)

[2015-09-02 10:46] 1337sup3rh4x0r opened #1024 "Searching for umlauts produces error and no results"
when I search for a string containing german Umlauts, I get a yellow box at the top, reading:

    Fehler beim Laden der Nachrichten.

German for something like

    Error while loading the Messages

and then the search box is just empty again and nothing was filtered.
The log shows:

    Exception: {"Exception":"Horde_Imap_Client_Data_Format_Exception","Message":"String contains non-ASCII charact

[2015-09-02 10:48] 1337sup3rh4x0r commented on #161
Global search including all subfolders is not yet available, right?

[2015-09-02 11:07] ChristophWurst opened #1025 "Use loading views instead of manually adding classes with jQuery"
Currently loading spinners are shown by adding css classes to elements using jQuery. In certain situations this can lead to classes not being removed or added.

To solve that problem cleanly, I'd suggest we add 'loading views' which are shown until the 'real' view has finished loading.

An example would be loading accounts (left sidebar): Simply create a new view/template with only one element (di

[2015-09-02 13:05] guidtz opened #1027 "Integrating mails with cas/ldap authentification"
Hello,
    My owncloud is integrated with user_ldap and "CAS user and group backend" (https://apps.owncloud.com/content/show.php/CAS+user+and+group+backend?content=165973).
Now I want in my POC to integrate Mail apps.

Technicaly :
uid is the user email
password is in ldap
mail is in ldap
if is necessary I can integrate imap and smtp fqdn in ldap

Two questions :
1/ How can I automate mail configu

[2015-09-02 15:29] #585 closed

[2015-09-02 15:30] #631 closed

[2015-09-02 16:33] ChristophWurst commented on #981
We should also add requirejs optimizer to combine all JavaScript and template files (https://github.com/requirejs/text/issues/34)

[2015-09-02 17:35] aspdye commented on #1027
Auto Configuration with External Users (LDAP, IMAP, ...) is already an open enhancement.
#961

[2015-09-02 17:59] Gomez opened #1031 "Pre process task for transifex.com"
As we lose the translations in the handlebar js templates, we created a script to add them back:
https://github.com/owncloud/mail/pull/1030

The script need to be added to transiflex. @jancborchardt Can you do this? Otherwise we wait for @DeepDiver1975

[2015-09-03 08:36] guidtz commented on #1027
Very good thanks.

[2015-09-03 09:23] ChristophWurst opened #1037 "Fix karma"
There's a problem with underscore when unit-testing js code:
[code]

@Gomez @irgendwie any idea?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26412975-fix-karma?utm_campaign=plugin&utm_content=tracker%2F216487&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=pl

[2015-09-03 09:24] ChristophWurst commented on #1037
Oh, seems like we rely on core's underscore which is not found

[2015-09-03 17:00] Neraste opened #1039 "Cannot connect to untrusted SSL server with STARTTLS security"
Hi OC mail team

When I try to configure an account from a mail server using an untrusted (self-signed) certificate using STARTTLS security, I get a "Error when communicating with the server" error.

Is there any way to force certificate acceptation?

### Steps to reproduce:

1. Create a new account
2. New account uses SMARTTLS and its certificate is self signed
3. Try to finish setup

### Expecte

[2015-09-04 08:22] jakobsack opened #1040 "Icons of Folders are not shown - Problem with assets pipeline?"
Hi, the icons next to the folders (like the inbox house) are not shown on my production system. On my development systems they are shown.
Both systems have a similar setup with mail app from git (feaa0e9e607de28eb2e92af644e0c98be6924d6c) and ownCloud 8.1.1.

Differences: The production system uses the assets pipeline and is in an subfolder, the development system does not use the pipeline and resi